<div class="row slid text-gray"  ng-init="$root.title = 'О нас'">
    <p class="margin-top_25"><span class="text-bold">Creativer</span> – это место, где люди могут продать и купить уникальные вещи, сделанные своими руками.</p>

    <p>
        Для талантливых и креативных людей - это возможность реализоваться и сделать из своего хобби бизнес. Найти все необходимое для реализации своих идей.
    </p>

    <p>
        Creativer – это удобный портал для поиска hand made изделий, дизайнерских и винтажных вещей, предметов искусства, необычных и стильных подарков. У нас Вы найдете себе мастеров тату, визажа, стрижки, маникюра, дизайна, фотографии и многих других.
    </p>

    <p>
        Сreativer.by - портал для творческих людей. Здесь ремесленники создают свою страничку и размещают работы, мастера предлагают свои услуги, добавляя фотографии (ранжируя их по альбомам), общаться с единомышленниками и людьми, которые хотели бы научиться творчеству /или приобрести в личное пользование данный товар/услугу путем сообщений чата, через свою личную стену, оставлять комментарии под фото и, размещать достоверную информацию о себе.
    </p>

    <p>
        Так же мы создали каталог магазинов, где можно купить все необходимое для творчества и работы. На сайте/портале так же могут размещаться магазины, студии, школы, курсы, салоны, залы, медицинские центры, парикмахерские, салоны красоты, ветеринарные клиники на условиях договора рекламы в категориях разделов «товары» и «услуги». На данном этапе этот раздел создавался с целью упрощения процесса поиска всех необходимых материалов для создания изделия ручной работы.
    </p>

    <p>
        Есть барахолка, где пользователи могут продавать, покупать, обмениваться своими вещами и инструментами, бывшими в употреблении или новыми.
    </p>

    <p>
        Создан чат для общения.
    </p>

    <p>
        На портале можно найти всевозможные видеоуроки творчества, записаться на курсы, записать своего ребенка в различные кружки, найти себе мастера по маникюру, тату и т.д., найти уникальные подарки ручной работы, дизайнерские вещи, одежду, предметы интерьера или же подсмотреть идеи, на этом же портале купить все необходимое и сделать самому.
    </p>

    <p>
        Есть новостной раздел, где будут освещаться все проходящие выставки, мастер классы, презентации и все самые интересные новости творчества, моды, культуры, общественной жизни.
    </p>

    <p>
        Так же есть "афиша" для взрослых и деток.
    </p>

    <p>
        Для рядового пользователя, сайт/портал представляет собой площадку, где можно купить уникальные вещи ручной работы, приобрести сувениры, обменяться книгами, подчерпнуть идею для творчества и саморазвития, купить все необходимое для творчества, для дома, для красоты, для детей. Найти мастера по маникюру, визажу, парикмахера, тату, массажа, тренера по спорту, фотографа, дизайнера , все необходимое для создания незабываемого праздника, все необходимое по уходу за своим питомцем, записаться на курсы различных мастеров, также - разместить свое объявление на барахолке, быть в тренде событий моды и искусства.
    </p>

    <p>
        Если же что-то на портале останется загадкой-всегда можно написать нам, дадим ответы на любые вопросы
    </p>

    <p>
        <span class="text-bold">Своим проектом мы надеемся сделать мир ярче и прекраснее.</span>
    </p>

</div>



