<div class="row slid text-gray" >
<h3 class='lobster'>О нас </h3>
    <p class="margin-top_25"><span class="text-bold">Creativer</span> – это площадка для размещения и поиска уникальных вещей.</p>

    <p>
        Для талантливых и креативных людей - это возможность реализоваться и сделать из своего хобби бизнес, найти все необходимое для реализации своих идей. Для всех, кто просто любит все уникальное и необычное, кто ценит ручной труд – это удобный инструмент поиска подарков себе и близким. У нас вы найдете дизайнерские вещи, изделия ручной работы, мастеров тату, визажа, стрижки, маникюра, фотографии и многих других.
    </p>

	<p> Размещайте свои работы, презентуйте своё мастерство, ищите подарки и не только, общайтесь с друзьями, следите за самыми важными событиями, пользуйтесь барахолкой. </p>
	<p> Этот сайт сделан с душой и для вас! </p>
	
    <p> Чтобы узнать насколько всесторонним получился <span class="text-bold">Creativer</span>, заходите в раздел <a href="/#/help">«Помощь»</a> и познакомтесь с возможностями сайта. </p>
	<p> Мы будем крайне рады услышать ваши пожелания и замечания. Пишите нам через <a href="/#/feedback">«Обратную связь»</a>. Спасибо, что помогаете сделать <span class="text-bold">Creativer</span> лучше! </p>

    <p>
        <span class="text-bold">Своим проектом мы надеемся сделать мир ярче и прекраснее.</span>
    </p>

</div>



