<div class="row slid text-gray">
    <h3 class="text-center">Публичный договор на оказание услуг на сайте creativer.by</h3>

    <p class="red_line margin-top_20">Настоящий Публичный договор (далее — Договор) определяет порядок оказания услуг, а также взаимные права и обязанности и порядок взаимоотношений между ООО «Креативер бай», именуемым в дальнейшем «Исполнитель», в лице директора Ушаковой Юлии Александровны, действующего на основании Устава, и лицом — заказчиком услуг на сайте http://creativer.by, именуемым в дальнейшем «Заказчик», принявшим (акцептовавшим) публичное предложение (оферту) о заключении настоящего Договора (далее — Стороны).</p>

    <ul class="list-unstyled red_line">
        <li class="text-bold">1. Предмет договора</li>
        <li>1.1. Исполнитель оказывает услуги на сайте http://creativer.by (далее — Сайт), а Заказчик оплачивает оказываемые услуги в порядке и на условиях, определенных настоящим Договором.</li>
        <li>1.2. В рамках настоящего договора Заказчику могут быть оказаны услуги по размещению информации Заказчика на Сайте, а также иные услуги в соответствии с описаниями таких услуг и тарифами Исполнителя, размещенными по адресу: http://creativer.by/#/rates.</li>
    </ul>

    <ul class="list-unstyled red_line">
    <li class="text-bold">2. Порядок заключения договора</li>
        <li>2.1. Настоящий Договор является публичным договором (статья 396 Гражданского кодекса Республики Беларусь), в соответствии с которым Исполнитель принимает на себя обязательство по оказанию услуг на Сайте в отношении каждого из Заказчиков, кто обратится к Исполнителю для получения таких услуг.</li>
        <li>2.2. Размещение текста настоящего Договора на официальном сайте Исполнителя по адресу http://creativer.by/#/agreement является публичной офертой Исполнителя в соответствии с пунктом 2 статьи 407 Гражданского кодекса Республики Беларусь, на основании которой Исполнитель заключит Договор с любым из Заказчиков, который согласится на его заключение.</li>
        <li>2.3. Заключение настоящего Договора производится путем присоединения Заказчика к настоящему Договору, то есть посредством принятия (акцепта) Заказчиком условий настоящего Договора в целом, без каких-либо условий, изъятий и оговорок (статья 398 Гражданского кодекса Республики Беларусь).</li>
        <li>2.4. Для заключения настоящего Договора Заказчик должен зарегистрироваться на Сайте пополнить свой лицевой счет у Исполнителя. Каждому пользователю на Сайте после регистрации присваивается уникальный номер учетной записи, который одновременно является лицевым счетом.
    Заказчик самостоятельно выбирает способ пополнения лицевого счета из перечня возможных способов пополнения лицевого счета, предложенных Исполнителем. Перечень всех возможных способов пополнения лицевого счета указан в личном кабинете Заказчика. Исполнитель имеет право в одностороннем порядке изменять способы пополнения лицевого счета Заказчика.
    Порядок и сроки пополнения лицевого счета определяются инструкциями и правилами платежных систем, через которые пополняется лицевой счет. Исполнитель не несет ответственности за задержки пополнения лицевого счета Заказчика, возникшие не по вине Исполнителя.</li>
        <li>2.5. Договор считается заключенным с момента первоначального зачисления средств на лицевой счет Заказчика (пункт 3 статьи 408 Гражданского кодекса Республики Беларусь).</li>
        <li>2.6. Настоящий Договор при условии соблюдения порядка его акцепта считается заключенным в простой письменной форме (пункты 2, 3 статьи 404 и пункт 3 статьи 408 Гражданского кодекса Республики Беларусь).</li>
        <li>2.7. Местом заключения договора Стороны признают местонахождение Исполнителя.</li>
    </ul>

    <ul class="list-unstyled red_line">
        <li class="text-bold">3. Порядок исполнения договора</li>
        <li>3.1. Заказчик заказывает оказание услуг посредством выбора соответствующего тарифного плана в личном кабинете и нажимает на кнопку «Оплатить» или на иную аналогичную кнопку, характеризующую начало оказания услуг.</li>
        <li>3.2. После подтверждения заказа сумма денежных средств, соответствующая стоимости заказываемых услуг продолжительностью 1 месяц, списывается с лицевого счета Заказчика.</li>
        <li>3.3. С момента списания денежных средств с лицевого счета Заказчика ему предоставляется дополнительный функционал, предусмотренный выбранным тарифным планом, что расценивается сторонами как начало оказания услуг Исполнителем.</li>
        <li>3.4. В случае удаления Исполнителем или Заказчиком размещенной Заказчиком на Сайте информации, а также отказа Заказчика от использования расширенного функционала, предусмотренного выбранным им тарифным планом, услуги считаются оказанными в полном объеме и списанные с лицевого счета денежные средства Заказчику не возвращаются.</li>
        <li>3.5. В случае, если Заказчик в своем личном кабинете до окончания оплаченного периода не откажется от выбранного им тарифного плана, и при условии наличия достаточного количества денежных средств на лицевом счете Заказчика, Исполнитель продолжит оказание аналогичных услуг Заказчику и в первый день неоплаченного периода спишет сумму денежных средств, соответствующую характеру оказываемых услуг продолжительностью 1 месяц.
    Если на лицевом счете Заказчика отсутствуют денежные средства, достаточные для оплаты выбранного им тарифного плана на 1 месяц, либо если Заказчик выбрал отказ от тарифного плана по окончании срока его действия, Исполнитель прекращает окончание услуг Заказчику в первый день неоплаченного периода – Заказчик утрачивает возможность пользоваться расширенным функционалом Сайта, соответствующему действовавшему у него тарифному плану.
    Заказчик имеет право в любой момент при наличии у него на лицевом счете необходимой суммы изменить действующий у него тарифный план на более дорогой. В этом случае с лицевого счета Заказчика списывается сумма, составляющая разницу в стоимости выбранных тарифных планов до окончания оплаченного периода.</li>
        <li>3.5. Иные условия оказания услуг могут указываться на страничке Сайта с тарифными планами Исполнителя http://creativer.by/#/rates.</li>
        <li>3.6. Оплаченные Заказчиком услуги считаются предоставленными Заказчику в полном объеме и надлежащим образом и принятыми Заказчиком, если в адрес Исполнителя не поступило письменных претензий в течение 5 (пяти) рабочих дней со дня окончания оказания каждого оплаченного Заказчиком месяца таких услуг.
    Исполнитель предоставляет Заказчику акт оказанных услуг в электронной форме, который размещается в личном кабинете Заказчика. По просьбе заказчика акт может быть составлен также в письменном виде и отправлен Заказчику почтой.</li>
        <li>3.7. Исполнитель обязуется:</li>
        <li>3.7.1. качественно и своевременно оказывать Заказчику заказываемые услуги при условии соблюдения Заказчиком всех требований настоящего Договора;</li>
        <li>3.7.2. не разглашать информацию, указанную Заказчиком при регистрации;</li>
        <li>3.7.3. в одностороннем порядке изменять условия настоящего договора путем публикации на сайте Исполнителя по адресу http://creativer.by/#/agreement уведомления об изменениях условий Договора;</li>
        <li>3.7.4. предоставлять возможность размещения рекламных материалов и информации о товаре и услугах Заказчика на Сайте 24 часа в сутки, 7 дней в неделю, за исключением перерывов на проведение профилактических или ремонтных работ, общая продолжительность которых не должна превышать 2% от указанного времени в квартал.</li>
        <li>3.8. Заказчик обязуется:</li>
        <li>3.8.1. предоставить при заказе услуг достоверные данные;</li>
        <li>3.8.2. обеспечить сохранность (недоступность третьим лицам) логина и пароля, необходимых для доступа к личному кабинету и учетной записи Заказчика. В случае утери (доступности для третьих лиц) логина и (или) пароля Заказчик обязан немедленно уведомить Исполнителя об этом для осуществления блокировки доступа к личному кабинету и учетной записи;</li>
        <li>3.8.3. осуществлять размещение информации на Сайте в соответствии с законом Республики Беларусь «О рекламе», иными нормативными правовыми актами Республики Беларусь, настоящим договором, иными локальными актами Исполнителя, доведенными до Заказчика;</li>
        <li>3.8.4. осуществлять размещение материалов на Сайте только при наличии у Заказчика всех имущественных авторских прав, необходимых для размещения таких материалов;</li>
        <li>3.8.5. в случае рекламы деятельности, которая является предпринимательской, предоставить Исполнителю копию свидетельства о государственной регистрации с предъявлением оригинала;</li>
        <li>3.8.6. уведомить Исполнителя при наличии претензий по оказанным Исполнителем услугам не позднее 5 (пяти) рабочих дней с момента окончания каждого оплаченного месяца оказания услуг;</li>
        <li>3.8.7. гарантировать наличие всех необходимых лицензий, разрешений, сертификатов и прочих документов и сведений о соответствии товаров, подлежащих обязательному подтверждению соответствия, требованиям технических нормативных правовых актов в области технического нормирования и стандартизации и предоставить копии необходимых документов по законному требованию потребителя либо контролирующих органов.</li>
        <li>3.9. Исполнитель имеет право не оказывать услуги Заказчику либо прекратить оказание услуг в случае, если информация, размещенная Заказчиком на Сайте нарушает Закон Республики Беларусь «О рекламе», иные нормативные правовые акты Республики Беларусь, настоящий Договор, иные локальные акты Исполнителя, доведенные до Заказчика. В случае прекращения оказания услуг по основаниям, указанным в настоящем подпункте, списанные с лицевого счета Заказчика средства за оказываемые услуги ему не возвращаются.</li>
    </ul>

    <ul class="list-unstyled red_line">
        <li class="text-bold">4. Стоимость оказываемых услуг и порядок расчетов
        <li>4.1. Стоимость оказываемых Исполнителем услуг определяется Исполнителем и доводится до сведения Заказчика на страничке с тарифами Исполнителя http://creativer.by/#/rates.
        <li>4.2. Исполнитель вправе самостоятельно формировать цены на оказываемые услуги и изменять их в соответствии с действующим законодательством. Измененные цены на оказываемые услуги действуют с момента, определенного Исполнителем.</li>
        <li>4.3. Оплаченные услуги оказываются Исполнителем в полном объеме вне зависимости от изменения цен на них.</li>
        <li>4.4. Услуги оказываются на условиях предоплаты. В момент заказа услуги с лицевого счета Заказчика списывается сумма, соответствующая стоимости заказываемых услуг.
    В случае недостаточности средств на лицевом счете Заказчика для оплаты заказанных услуг он будет уведомлен об этом и услуги оказаны не будут.</li>
        <li>4.5. Заказчик имеет право без ограничений пополнять свой лицевой счет посредством предложенных Исполнителем способов пополнения лицевого счета.</li>
    </ul>

<ul class="list-unstyled red_line">
    <li class="text-bold">5. Ответственность сторон, порядок урегулирования споров</li>
    <li>5.1. За невыполнение условий договора Стороны несут ответственность в соответствии с законодательством Республики Беларусь.</li>
    <li>5.2. Исполнитель имеет право проверять и контролировать соответствие размещаемой рекламы и информации о товаре всем требованиям законодательства. Однако в связи с тем, что Заказчик гарантирует соответствие осуществляемого вида деятельности, рекламы, информации о товаре всем требованиями законодательства, а также наличие всех прав на размещение информации, вся ответственность за нарушение законодательства о рекламе, торговле и защите прав потребителей и иные убытки в связи с размещением рекламного материала и информации о товаре, которые не соответствуют законодательству и действительности либо нарушают любые права третьих лиц, возлагаются на Заказчика.</li>
    <li>5.3. В случае причинения Исполнителю убытков в связи с размещением рекламного материала и информации о товаре, которые не соответствует законодательству и действительности либо нарушают любые права третьих лиц, Продавец возмещает Собственнику все убытки в течение 5 (пяти) рабочих дней с даты выставления счета.</li>
    <li>5.3.1. Под убытками стороны понимают как минимум сумму санкций, наложенных на Исполнителя либо представителя Исполнителя за нарушение рекламного законодательства, законодательства в сфере торговли и защиты прав потребителей, допущенные в связи с действиями/бездействием Заказчика либо неисполнением Заказчиком возложенных на него обязательств, вознаграждение, уплаченное привлеченным юристам и адвокатам за консультацию и представительство в процессе наложения и обжалования взыскания.</li>
    <li>5.3.2. В случае привлечения Исполнителя к ответственности за нарушение законодательства, связанного с распространением рекламы и информации о товаре Заказчика, Исполнитель обязуется незамедлительно уведомить Заказчика об этом посредством электронной почты с дублированием уведомления по известному Исполнителю почтовому адресу Заказчика.</li>
    <li>5.4. Стороны освобождаются от ответственности за неисполнение либо ненадлежащее исполнение своих обязательств по настоящему Договору, если невозможность их выполнения обусловлена действием непреодолимой силы.</li>
    <li>5.5. Все споры и разногласия, которые могут возникнуть при исполнении обязательств по настоящему Договору или в связи с ним, разрешаются Сторонами путем переговоров. В случае невозможности урегулирования разногласий споры по настоящему Договору разрешаются в порядке, предусмотренном законодательством Республики Беларусь.</li>
    <li>5.6. Исполнитель вправе не рассматривать претензии, предъявленные с пропуском установленных настоящим Договором сроков.</li>
</ul>

<ul class="list-unstyled red_line">
    <li class="text-bold">6. Срок действия договора, порядок его изменения:</li>
    <li>6.1. Настоящий Договор вступает в силу с даты принятия (акцепта) данного Договора Заказчиком и действует до окончания оказания заказанных услуг.</li>
    <li>6.2. Исполнитель вправе самостоятельно в одностороннем порядке изменить условия настоящего Договора при условии соблюдения требований подпункта 3.7.3. пункта 3 «Порядок исполнения договора» настоящего Договора;</li>
    <li>6.3. Исполнитель вправе отказаться от исполнения настоящего Договора в одностороннем порядке при нарушении Заказчиком его условий. При этом списанные в счет оказанных услуг с лицевого счета суммы Заказчику не возвращаются.</li>
    <li>7. Реквизиты сторон:</li>
    <li>7.1. Стороны соглашаются, что реквизитами Заказчика считается информация, указанная им при заполнении формы для заказа услуг.</li>
    <li class="text-bold">7.2. Реквизиты Исполнителя:</li>
    <li>ООО «Креативер бай»</li>
    <li>Адрес: …</li>
    <li>УНП</li>
    <li>р/с …</li>
</ul>
</div>



