
    <div class="row slid">

        <div class="row">
            <div class="col-sm-2 padding-left_0"><h3 class="lobster margin-left_0"><a  ng-click="$root.searchInBaraholka = null" class="text-black" href="#/baraholka">Барахолка</a></h3></div>
            <div class="col-sm-3 slid__search padding-left_0 padding-right_5 margin-top_20">
                <input placeholder="Поиск по барахолке" ng-model="$root.searchInBaraholka">
                <a href="#/viewforum" class="right margin-top_3"><button class="slid__slider-button"></button></a>
            </div>
            {% if is_granted('ROLE_USER') %}
                <a href="#/fleamarketposting" class="col-sm-5 col-sm-offset-2 advert_button margin-top_20">Разместить объявление</a>
            {% endif %}
        </div>

        <nav class="row slid__menu margin-top_20">
            <div class="col-sm-2 padding-left_0">
                <span>Регион</span>
                <label class="open text-blue cities__select pointer" for="all_cities"><span>[[ city.name || 'Беларусь' ]]</span></label>
                <input type="checkbox" class="cities-checkbox" id="all_cities">
                <div class="cities__menu__main">
                    <div class="cities__background-top"></div>
                    <div class="cities__background-body">
                        <ul class="text-white cities__menu fs_1-1 padding-left_0 text-center">
                            <li>
                                <label class="pointer">Беларусь
                                    <input type="radio" class="city-radio" name="city" value="Беларусь" ng-model="$root.city" ng-click="uncheck(null)" />
                                </label>
                            </li>
                            <li ng-repeat="city in post_city">
                                <label>[[ city.name ]]
                                    <input type="radio" class="city-radio" name="city" ng-value="[[ city ]]" ng-model="$root.city" ng-click="uncheck($root.city.id)" />
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-sm-3 text-center">
                <input type="checkbox" class="baraholka__checkbox" id="my_singboard" ng-model="$root.my_singboard">
                <label class="text-blue baraholka__label" for="my_singboard">Мои объявления</label>
            </div>
            <div class="col-sm-4">
                <input type="checkbox" class="baraholka__checkbox" id="singboard_participate" ng-model="$root.singboard_participate">
                <label class="text-blue baraholka__label" for="singboard_participate">Объявления, в которых я участвую</label>
            </div>
            <div class="col-sm-3">
                <input type="checkbox" class="baraholka__checkbox" id="new24" ng-model="$root.new24">
                <label class="text-blue baraholka__label" for="new24">Новое за 24 часа</label>
            </div>
        </nav>

        <div class="row slid__list">
            <div class="col-sm-6">
                <div ng-repeat="children in baraholka.slice(0,baraholka.length/2)">
                    <h4 class="lobster">[[ children.name ]]</h4>
                    <a ng-repeat="child in children.children" href="#/viewforum/[[ child.id ]]">[[ child.name ]]</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div ng-repeat="children in baraholka.slice(baraholka.length/2,baraholka.length)">
                    <h4 class="lobster">[[ children.name ]]</h4>
                    <a ng-repeat="child in children.children" href="#/viewforum/[[ child.id ]]">[[ child.name ]]</a>
                </div>
            </div>
        </div>

    </div>


    <div class="banner-horizontal margin-top_40 text-center"><img src="/var/www/creativer/web/banner/banner_list.png" /></div>
