    <div class="row slid  padding-right_0" ng-show="user">

        <div class="row">
            <h3 class="col-sm-5 lobster name__user"><a href="/#!/[[ user.id ]]">[[ user.username ]] [[ user.lastname ]]</a></h3>
            <div class="col-sm-6 margin-top_10 padding-left_0 text-left">
                <div class="row">

                    <div class="col-sm-5">
                        <h4 class="lobster text-gray margin-left_15 left">Диалог</h4><span class="lobster text-gray">&nbsp с</span>
                        <a class=" fs_0-8 text-underline slid__back-link margin-left_5 text-blue" href="/#!/[[ companion.id ]]">[[ companion.username ]] [[ companion.lastname ]]</a>
                    </div>

                    {#<div class="col-sm-6 col-sm-offset-1">#}
                        {#<a class="text-blue fs_0-9 text-underline slid__back-link margin-left_5 " href="">На мою страницу</a>#}
                        {#<a class="text-blue fs_0-9 text-underline slid__back-link  margin-left_10" href="">Вернуться на страницу</a>#}
                    {#</div>#}

                </div>

            </div>

        </div>

        <div class="col-sm-5 user padding-left_0">
            {{ render(controller('CreativerFrontBundle:Default:userInfoTmp', {'id': id})) }}
        </div>

        <div class="col-sm-7" ng-keyup="watch()">

            <div class="row" ng-keyup="$event.keyCode == 13 && send_message(text_message)">
                <div class="col-sm-2">
                    <div class="user__avatar-mini" style="background-color: [[ $root.color ]]"><img ng-src="[[ $root.img ]]"></div>
                </div>

                <div class="col-sm-7 message-textareas padding-right_0" emoji-form emoji-message="emojiMessage">
                    <textarea style="width: 320px;" rows="5" placeholder=" Введите текст..." class="message__field" ng-init="text_message" ng-model="$root.text_message" ng-keyup="$event.keyCode == 13 && send_message(text_message)"></textarea>
                    <div class="tail_message"></div>
                    <div class="col-sm-6 padding-left_0">
                        <span id="emojibtn" class="pointer">
                            <i class="icon icon-emoji"></i>
                        </span>
                        <span class="text-gray-light fiveMinuts" ng-show="$root.writing">Пишет...</span>
                    </div>
                    <div class="col-sm-6 padding-right_0 text-right">
                        <button class="true fs_0-9" ng-click="send_message(text_message)" ng-disabled="!user && !companion">Отправить</button>
                    </div>
                </div>

                <div class="col-sm-2 ">
                    <a class="user__avatar-mini left" ng-class="{'user__avatar-mini_online':companion.connection_status == '0000-00-00 00:00:00'}" href="/#!/[[ companion.id ]]" style="background-color: [[ companion.color ]]"><img ng-src="[[ companion.avatar ]]"></a>
                </div>
            </div>

            <div class="horizontal_line"></div>

            <div class="row margin-top_15" ng-class="{'old__messages': !msg.reviewed && (msg.sender != user.id) && focus, 'new__messages': !msg.reviewed  && (msg.sender != user.id) && !focus}" ng-repeat="msg in $root.messages_history">
                <span ng-if="focus && !msg.reviewed" ng-init="review(msg)"></span>
                <div class="col-sm-2">
                    <a style="background-color: [[ user.color ]]" class="user__avatar-mini block" ng-if="user.id == msg.sender" href="/#!/[[ user.id ]]">
                        <img ng-src="[[ user.avatar ]]">
                    </a>
                    <a style="background-color: [[ companion.color ]]" class="user__avatar-mini block" ng-if="companion.id == msg.sender" href="/#!/[[ companion.id ]]">
                        <img  ng-src="[[ companion.avatar ]]">
                    </a>
                </div>
                <div class="col-sm-10 padding-left_0">
                    <div class="row">
                        <div class=" col-sm-6 text-left">
                            <a ng-if="user.id == msg.sender" ng-href="/#!/[[ user.id ]]" class="text-blue" href="">[[ user.username ]] [[ user.lastname ]]</a>
                            <a ng-if="companion.id == msg.sender" ng-href="/#!/[[ companion.id ]]" class="text-blue" href="">[[ companion.username ]] [[ companion.lastname ]]</a>
                        </div>

                        <div class="col-sm-6 text-right fs_0-8"><time class="text-gray">[[ msg.date | date: "HH:mm dd.MM.yyyy": "+03" ]]</time></div>
                    </div>
                    <div class="text-gray">
                        <div ng-if="user.id == msg.sender" class="fs_0-8 margin-top_10 col-sm-10 padding-left_0 overflow-hidden" ng-bind-html="msg.text | linky:'_blank' | imagey | colonToSmiley">

                        </div>
                        <div ng-if="companion.id == msg.sender" class="fs_0-8 margin-top_10 col-sm-10 padding-left_0 overflow-hidden" ng-bind-html="msg.text | linky:'_blank' | imagey | colonToSmiley">

                        </div>
                        <div class="col-sm-2 fs_1-5 text-right text-gray">
                            <div class="glyphicon glyphicon-heart pointer no_active_like_message" ng-click="likeMsg(msg._id)" ng-class="{'active_like_message':msg.likes.length}">
                                <div style="position: absolute;top: 6px;width: 21px;text-align: center;" class="fs_0-45 text-blue lobster" ng-if="msg.likes.length">[[ msg.likes.length ]]</div>
                                <div style="position: absolute;top: 6px;width: 21px;text-align: center;" class="fs_0-45" ng-if="!msg.likes.length"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row margin-left_30 margin-top_10">
                <div ng-class="{'loader':$root.loader_message}" ng-show="messages_history.length >= 10" class="col-sm-5 early_message text-white text-center margin-left_30 pointer" ng-click="oldMessages()">
                    <span>Ранние сообщения</span>
                </div>

                {#<div class="col-sm-5 slid__all__folder button_gray_message text-center fs_0-8 right">
                    <span class="glyphicon glyphicon-folder-open"></span>&nbsp; Папки &nbsp;<span class="glyphicon glyphicon-menu-down"></span>
                </div>#}
            </div>
        </div>
    </div>

