    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/pages/chat.css">
    <link rel="stylesheet" href="/css/pages/personal_page.css">



    <div class="row slid  padding-right_0" ng-show="user">

        <div class="row">
            <h3 class="col-sm-5 lobster">[[ user.username ]] [[ user.lastname ]]</h3>
            <div class="col-sm-7 margin-top_10">
                <div class="row">

                    <div class="col-sm-5">
                        <h4 class="lobster text-gray margin-left_15 left">Диалог</h4><span class="lobster text-gray">&nbsp с</span>
                        <a class=" fs_0-8 text-underline slid__back-link margin-left_5 text-blue" href="#/[[ companion.id ]]">[[ companion.username ]] [[ companion.lastname ]]</a>
                    </div>

                    <div class="col-sm-6 col-sm-offset-1">
                        <a class="text-blue fs_0-9 text-underline slid__back-link margin-left_5 " href="">На мою страницу</a>
                        <a class="text-blue fs_0-9 text-underline slid__back-link  margin-left_10" href="">Вернуться на страницу</a>
                    </div>

                </div>

            </div>

        </div>

        <div class="col-sm-5 user padding-left_0">
            {{ render(controller('CreativerFrontBundle:Default:userInfoTmp', {'id': id})) }}
        </div>

        <div class="col-sm-7 album">

            <div class="row">
                <div class="col-sm-2">
                    <div class="user__avatar-mini"><img ng-src="[[ user.avatar ]]"></div>
                </div>

                <div class="col-sm-7 message-textareas padding-right_0">
                    <textarea style="width: 320px;" rows="5" placeholder=" Введите текст..." class="search__message " ng-init="text_message" ng-model="$root.text_message" ng-keyup="$event.keyCode == 13 && send_message(text_message)"></textarea>
                    <div class="tail_message"></div>

                </div>

                <div class="col-sm-2 ">
                    <a class="user__avatar-mini left" href="#/[[ companion.id ]]"><img ng-src="[[ companion.avatar ]]"></a>
                </div>
            </div>

            <div class="row horizontal_line margin-top_5">
                <div class="col-sm-offset-2 col-sm-3">
                    <span class="glyphicon glyphicon-picture text-blue margin-left_5"></span>
                    <span class="glyphicon glyphicon-paperclip text-blue margin-left_10"></span>
                    <span class="glyphicon glyphicon-menu-down text-blue fs_0-8"></span>
                </div>
                <div class="col-sm-3 col-sm-offset-2 padding-left_0">
                    <button class="true fs_0-9" ng-click="send_message(text_message)" ng-disabled="!user && !companion">Отправить</button>
                </div>

            </div>

            <div class="row margin-top_15" ng-class="{'old__messages': !msg.reviewed && (msg.sender != user.id) && focus, 'new__messages': !msg.reviewed  && (msg.sender != user.id) && !focus}" ng-repeat="msg in $root.messages_history">
                <span ng-if="focus && !msg.reviewed" ng-init="review(msg)"></span>
                <div class="col-sm-2">
                    <a class="user__avatar-mini block" ng-if="user.id == msg.sender" href="#/[[ user.id ]]">
                        <img ng-src="[[ user.avatar ]]">
                    </a>
                    <a class="user__avatar-mini block" ng-if="companion.id == msg.sender" href="#/[[ companion.id ]]">
                        <img  ng-src="[[ companion.avatar ]]">
                    </a>
                </div>
                <div class="col-sm-10 padding-left_0">
                    <div class="row">
                        <div class=" col-sm-6 text-left">
                            <a ng-if="user.id == msg.sender" ng-href="#/[[ user.id ]]" class="text-blue" href="">[[ user.username ]] [[ user.lastname ]]</a>
                            <a ng-if="companion.id == msg.sender" ng-href="#/[[ companion.id ]]" class="text-blue" href="">[[ companion.username ]] [[ companion.lastname ]]</a>
                        </div>

                        <div class="col-sm-6 text-right fs_0-8"><time class="text-gray">[[ msg.date | date: "hh:mm dd.MM.yyyy" ]]</time></div>
                    </div>
                    <div class="text-gray">
                        <p ng-if="user.id == msg.sender" class="fs_0-8">[[ msg.text ]]</p>
                        <p ng-if="companion.id == msg.sender" class="fs_0-8">[[ msg.text ]]</p>
                    </div>
                </div>
            </div>


            <div class="row margin-left_30 margin-top_10">
                <div class="col-sm-5 early_message early-message text-center  margin-left_30">
                    <span>Ранние сообщения</span>
                </div>

                <div class="col-sm-5 slid__all__folder button_gray_message text-center fs_0-8 right">
                    <span class="glyphicon glyphicon-folder-open"></span>&nbsp; Папки &nbsp;<span class="glyphicon glyphicon-menu-down"></span>
                </div>
            </div>
        </div>
    </div>

