    <link rel="stylesheet" href="/css/pages/events.css">
    <link rel="stylesheet" type="text/css" href="/vendor/datetimeRangePicker/range-picker.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap-daterangepicker/daterangepicker-bs3.css" />

    <div class="row slid">

        <div class="col-sm-10 padding-left_0">

            {#<div class="row margin-top_20">#}
                {#<div class="col-sm-2">Раздел:</div>#}
                {#<div class="col-sm-10">#}

                    {#<select name="section" class="selectForumId" ng-model="section" ng-pattern="/^[1-9]+/" required>#}
                        {#<optgroup ng-repeat="children in baraholka" label="[[ children.name ]]">#}
                            {#<option ng-repeat="child in children.children" value="[[ child.id ]]">[[ child.name ]]</option>#}
                        {#</optgroup>#}
                    {#</select>#}
                    {#<br/>#}
                    {#<span class="text-danger" ng-show="submitted && baraholka_form.section.$error.required">Раздел не выбран</span>#}
                {#</div>#}
            {#</div>#}

            <div class="row margin-top_20">
                <div class="col-sm-2">Заголовок:</div>
                <div class="col-sm-10">
                    <input type="text" name="tit" ng-model="title" ng-required="true" required="">
                    <span class="text-danger" ng-show="submitted && baraholka_form.tit.$error.required">Заголовок не должен быть пустым</span>
                </div>
            </div>

            <div class="row margin-top_20">
                <div class="col-sm-2">Место проведения:</div>
                <div class="col-sm-10">
                    <select name="city" class="selectForumId" ng-model="city">
                        <option value="[[ p_city.id ]]" ng-repeat="p_city in city">[[ p_city.name ]]</option>
                    </select>
                </div>
            </div>

            <div class="margin-top_10">
                <label class="" for="uploadImg" style="font-weight: normal;" ng-disabled="uploader.isUploading">
                    <div ng-disabled="uploader.isUploading" class="button_favorites early-message text-center pointer left"><span class="middle">Выбрать</span></div> <span class="margin-left_10">главное изображение события</span>
                </label>
            </div>
            <div class="row margin-left_0">
                <div class="upload__element" ng-repeat="item in uploader.queue" style="float: left;">
                    <label class="glyphicon glyphicon-pencil edit__album ng-isolate-scope" edit-pain="info">
                        <input type="checkbox" class="hidden">
                        <div class="edit__album__menu">
                            <ul class="margin-top_20">
                                <li ng-click="item.remove()">Удалить</li>
                                <li ng-init="item.main = 0" ng-click="item.main = 1">
                                    Обложкой
                                </li>
                            </ul>
                        </div>
                    </label>
                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }" class="text-center thumb__upload"></div>
                </div>
            </div>

            <div class="row">
                <div ng-show="uploader.isHTML5" style="height: 30px;">
                    <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                        <div class="progress" ng-show="uploader.progress" nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone text-center">
                            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                        <div ng-show="uploader.progress" class="text-gray fiveMinuts text-bold margin-top_minus_10">Подождите пока файлы загрузятся на CREATIVER [[ uploader.progress ]]%</div><br>
                    </div>
                </div>
            </div>

            <div rg-range-picker="myDatetimeRange" collapse="collapseDirective" labels="myDatetimeLabels"></div>

            <div class="row">
                <div class="col-sm-12">
                    <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
                </div>
            </div>

            <input type="file" nv-file-select="" uploader="uploader" multiple id="uploadImg"  class="hidden" ng-disabled="uploader.isUploading" />


            <div class="row col-sm-12">
                <button type="button" ng-show="!uploader.queue.length" class="button_message early-message text-center text-white pointer margin-top_10" >
                    Отправить
                </button>
            </div>

        </div>

    </div>


