        <link rel="stylesheet" href="/css/button.css">
        <link rel="stylesheet" href="/css/pages/album.css">
        <link rel="stylesheet" href="/css/pages/personal_page.css">

        {% if is_granted('ROLE_USER') %}

            <div class="row slid  padding-right_0" ng-show="user">

                <h3 class="lobster">[[ user.username ]] [[ user.lastname ]]</h3>

                <div class="col-sm-5 user padding-left_0">
                    {% if((id == app.security.getToken().getUser().getId()) or (id == null and app.security.getToken().getUser().getId()) ) %}
                        <div class="row">
                            <div class="col-sm-5 padding-left_0">
                                <label class="user__avatar edit__avatar" >
                                    <img src="[[ user.avatar.img ]]" />
                                    <input type="file" id="fileInput" style="display: none;" />
                                </label>
                            </div>

                            <div class="col-sm-7 user__text">
                                <div class="row col-sm-12 margin-top_10 padding-left_0">
                                    <input class="text_info" ng-blur="saveField($event,'status')" obj="user" value="[[ user.status ]]" placeholder="Вы не указали свой статус." disabled>
                                    <span class="glyphicon glyphicon-pencil edit" edit-pain="status"></span>
                                </div>
                                <div class="row col-sm-12 margin-top_10 padding-left_0">
                                    <span class="gelocation_icon left"></span><input class="text_info gelocation_icon__text_info" ng-blur="saveField($event,'position')" obj="user" value="[[ user.position ]]" placeholder="Местоположение не обнаружено." disabled>
                                    <span class="glyphicon glyphicon-pencil edit" edit-pain="position"></span>
                                </div>
                            </div>
                        </div>
                    {% elseif(id != app.security.getToken().getUser().getId()) %}
                        <div class="row">
                            <div class="col-sm-5 padding-left_0">
                                <div class="user__avatar"><img src="[[ user.img ]]" /></div>
                            </div>
                            <div class="col-sm-7 user__text">
                                <div class="row col-sm-12 margin-top_10 padding-left_0">
                                    <div class="text_info gelocation_icon__text_info" >[[ user.status ]]</div>
                                </div>
                                <div class="row col-sm-12 margin-top_10 padding-left_0">
                                    <div class="text_info gelocation_icon__text_info" >[[ user.position ]]</div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row margin-top_20">
                        <div class="col-sm-1 icon-color"><span class="glyphicon glyphicon-eye-open"></span></div>
                        <div class="col-sm-2 user__text_bold padding-left_0">Просмотры</div>
                        <div class="col-sm-3 col-md-offset-6 user__text_bold">0</div>
                    </div>
                    <div class="row margin-top_5">
                        <div class="col-sm-1 icon-color"><span class="glyphicon glyphicon-thumbs-up"></span></div>
                        <div class="col-sm-2 user__text_bold padding-left_0">Нравится</div>
                        <div class="col-sm-3 col-md-offset-6 user__text_bold">0</div>
                    </div>
                    <div class="row margin-top_5">
                        <div class="col-sm-1 icon-color"><span class="glyphicon glyphicon-heart"></span></div>
                        <div class="col-sm-4 user__text_bold padding-left_0">В избранных у</div>
                        <div class="col-sm-3 col-md-offset-4 user__text_bold">[[ user.favorits_with_me.length ]]</div>
                    </div>

                    {% if((id == app.security.getToken().getUser().getId()) or (id == null and app.security.getToken().getUser().getId()) ) %}
                        <div class="row margin-top_40 col-sm-12 user__text">
                            <div class="text-left user__text_bold">Информация:</div>
                            <input class="text_info" ng-blur="saveField($event,'info')" obj="user" value="[[ user.info ]]" placeholder="Вы ещё не запонили это поле." disabled>
                            <span class="glyphicon glyphicon-pencil edit" edit-pain="info"></span>
                        </div>

                        <div class="row margin-top_20 col-sm-12 user__text">
                            <div class="text-left user__text_bold">Специализация:</div>
                            <input class="text_info" ng-blur="saveField($event,'specialization')" obj="user" value="[[ user.specialization ]]" placeholder="Вы ещё не запонили это поле." disabled>
                            <span class="glyphicon glyphicon-pencil edit" edit-pain="specialization"></span>
                        </div>

                        <div class="row margin-top_20 col-sm-12 user__text">
                            <div class="text-left user__text_bold">Работал в:</div>
                            <input class="text_info" ng-blur="saveField($event,'worked')" obj="user" value="[[ user.worked ]]" placeholder="Вы ещё не запонили это поле." disabled>
                            <span class="glyphicon glyphicon-pencil edit" edit-pain="worked"></span>
                        </div>

                        <div class="row margin-top_20 col-sm-12 user__text">
                            <div class="text-left user__text_bold">Ссылки:</div>
                            <input class="text_info" ng-blur="saveField($event,'links')" obj="user" value="[[ user.links ]]" placeholder="Вы ещё не запонили это поле." disabled>
                            <span class="glyphicon glyphicon-pencil edit" edit-pain="links"></span>
                        </div>

                        <div class="row margin-top_20 col-sm-12 user__text">
                            <div class="text-left user__text_bold">Контакты:</div>
                            <input class="text_info" ng-blur="saveField($event,'contacts')" obj="user" value="[[ user.contacts ]]" placeholder="Вы ещё не запонили это поле." disabled>
                            <span class="glyphicon glyphicon-pencil edit"  edit-pain="contacts"></span>
                        </div>

                        <div class="row margin-top_20 col-sm-12 user__text">
                            <div class="text-left user__text_bold">Присоединился:</div>
                            <time class="text_info" >[[ user.date | date: "dd.MM.yyyy" ]]</time>
                        </div>
                    {% elseif(id != app.security.getToken().getUser().getId()) %}
                        <div class="row margin-top_40 col-sm-12 user__text" ng-show="user.info">
                            <div class="text-left user__text_bold">Информация:</div>
                            <div class="">[[ user.info ]]</div>
                        </div>

                        <div class="row margin-top_20 col-sm-12 user__text" ng-show="user.specialization">
                            <div class="text-left user__text_bold">Специализация:</div>
                            <div class="text_info">[[ user.specialization ]]</div>
                        </div>

                        <div class="row margin-top_20 col-sm-12 user__text" ng-show="user.worked">
                            <div class="text-left user__text_bold">Работал в:</div>
                            <div class="text_info">[[ user.worked ]]</div>
                        </div>

                        <div class="row margin-top_20 col-sm-12 user__text" ng-show="user.links">
                            <div class="text-left user__text_bold">Ссылки:</div>
                            <div class="text_info">[[ user.links ]]</div>
                        </div>

                        <div class="row margin-top_20 col-sm-12 user__text" ng-show="user.contacts">
                            <div class="text-left user__text_bold">Контакты:</div>
                            <div class="text_info">[[ user.contacts ]]</div>
                        </div>

                        <div class="row margin-top_20 col-sm-12 user__text">
                            <div class="text-left user__text_bold">Присоединился:</div>
                            <time class="text_info" >[[ user.date | date: "dd.MM.yyyy" ]]</time>
                        </div>
                    {% endif %}
                </div>

                <div class="col-sm-7 album">
                    <input class="name_album lobster" ng-model="album.name" type="text" placeholder="Название Альбома">
                    <multi-select-tree data-input-model="data" multi-select="true"
                                       data-output-model="selectedItem" data-default-label="  Выберите категорию альбома"
                                       data-callback="selectOnly1Or2(item, selectedItems)"
                                       data-select-only-leafs="true" data-switch-view-callback="switchViewCallback(scopeObj)">
                    </multi-select-tree>
                    <textarea class="description_album" ng-model="album.description" placeholder="Короткое описание альбома"></textarea>
                    <div ng-show="uploader.isHTML5" style="height: 89px;">
                        <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                            <div class="progress" nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone text-center">
                                <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>

                            <div class="text-center text-gray" ng-show="!uploader.progress" style="position: relative; top: -100px;">
                                <span class="glyphicon glyphicon-inbox" style="font-size: 50px;"></span><br>
                                <span class="text-bold fiveMinuts">Можете перетянуть изображения в этот блок</span>
                            </div>

                            <div class="text-center text-gray" ng-show="uploader.progress" style="position: relative; top: -100px;">
                                <span class="fs_1-2 text-bold fiveMinuts text-bold">[[ uploader.progress ]]%</span><br>
                                <span class="text-gray fiveMinuts text-bold">Пожалуйста подождите пока файлы загрузятся на CREATIVER</span><br>
                            </div>

                        </div>


                    </div>

                    <label class="" for="uploadImg" style="font-weight: normal;" ng-disabled="uploader.isUploading">
                        <div ng-disabled="uploader.isUploading" class="btn button_favorites early-message text-center"><span>Выбрать</span></div>
                    </label>

                    <input type="file" nv-file-select="" uploader="uploader" multiple id="uploadImg"  class="hidden" ng-disabled="uploader.isUploading" />

                    {#<ul>#}
                        {#<li ng-repeat="item in uploader.queue">#}
                            {#Name: <span ng-bind="item.file.name"></span><br/>#}
                            {#<button ng-click="item.upload()">upload</button>#}
                        {#</li>#}
                    {#</ul>#}

                    <button type="button" class="btn button_message early-message text-center text-white right pointer" ng-click="uploader.uploadAll()" ng-disabled="uploader.isUploading">
                        <span>Продолжить</span>
                    </button>

                    {#<button type="button" class="btn button_favorites button_gray_message text-center text-white right pointer" ng-click="uploader.cancelAll()" ng-show="uploader.isUploading">#}
                        {#<span>Остановить</span>#}
                    {#</button>#}


                    <div class="row margin-top_20">

                    <div class="col-sm-4">
                        <div class=" upload__element" ng-repeat="item in uploader.queue.slice(0, res)">
                            <label class="glyphicon glyphicon-pencil edit__album ng-isolate-scope" edit-pain="info">
                                <input type="checkbox" class="hidden">
                                <div class="edit__album__menu">
                                    <ul class="margin-top_20">
                                        <li ng-click="item.remove()">Удалить</li>
                                        <li ng-init="item.main = 0" ng-click="item.main = 1">
                                            Обложкой
                                        </li>
                                    </ul>
                                </div>
                            </label>

                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, width: 158 }" class="text-center thumb__upload"></div>
                            {#<div type="button" class="btn-xs thumb__upload_delete" >#}
                                {#<span class="glyphicon glyphicon-trash" style=""></span>#}
                            {#</div>#}
                            <input type="text" value="[[ item.file.title ]]" ng-model="item.file.title" ng-init="item.file.title=''" class="fiveMinuts" placeholder="описание изображения" style="width: 100%; margin-top: -100px;"><br>
                            <input type="text" class="fiveMinuts" ng-model="item.file.price" ng-init="item.file.price=''" placeholder="цена в бел. руб." style="width: 100%; margin-top: -100px;" required="required">
                            <div class="text-center">
                                {#<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>#}
                                {#<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>#}
                                {#<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>#}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class=" upload__element" ng-repeat="item in uploader.queue.slice(res, res*2)">
                            <label class="glyphicon glyphicon-pencil edit__album ng-isolate-scope" edit-pain="info">
                                <input type="checkbox" class="hidden">
                                <div class="edit__album__menu">
                                    <ul class="margin-top_20">
                                        <li ng-click="item.remove()">Удалить</li>
                                        <li ng-init="item.main = 0" ng-click="item.main = 1">
                                            Обложкой
                                        </li>
                                    </ul>
                                </div>
                            </label>

                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, width: 158 }" class="text-center thumb__upload"></div>
                            <input type="text" value="[[ item.file.title ]]" ng-model="item.file.title" ng-init="item.file.title=''" class="fiveMinuts" placeholder="описание изображения" style="width: 100%; margin-top: -100px;"><br>
                            <input type="text" class="fiveMinuts" ng-model="item.file.price" ng-init="item.file.price=''" placeholder="цена в бел. руб." style="width: 100%; margin-top: -100px;" required="required">
                            <div class="text-center">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class=" upload__element" ng-repeat="item in uploader.queue.slice(res*2, res*3)">
                            <label class="glyphicon glyphicon-pencil edit__album ng-isolate-scope" edit-pain="info">
                                <input type="checkbox" class="hidden">
                                <div class="edit__album__menu">
                                    <ul class="margin-top_20">
                                        <li ng-click="item.remove()">Удалить</li>
                                        <li ng-init="item.main = 0" ng-click="item.main = 1">
                                            Обложкой
                                        </li>
                                    </ul>
                                </div>
                            </label>

                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, width: 158 }" class="text-center thumb__upload"></div>
                            <input type="text" value="[[ item.file.title ]]" ng-model="item.file.title" ng-init="item.file.title=''" class="fiveMinuts" placeholder="описание изображения" style="width: 100%; margin-top: -100px;"><br>
                            <input type="text" class="fiveMinuts" ng-model="item.file.price" ng-init="item.file.price=''" placeholder="цена в бел. руб." style="width: 100%; margin-top: -100px;" required="required">
                        </div>
                    </div>

                    </div>


                    {#<table class="table">#}
                        {#<thead>#}
                        {#<tr>#}
                            {#<th width="50%">Name</th>#}
                            {#<th ng-show="uploader.isHTML5">Size</th>#}
                            {#<th ng-show="uploader.isHTML5">Progress</th>#}
                            {#<th>Status</th>#}
                            {#<th>Actions</th>#}
                        {#</tr>#}
                        {#</thead>#}
                        {#<tbody>#}
                        {#<tr ng-repeat="item in uploader.queue">#}
                            {#<td>#}
                                {#<strong>[[ item.file.name ]]</strong>#}

                                {#<div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>#}

                            {#</td>#}
                            {#<td ng-show="uploader.isHTML5" nowrap>[[ item.file.size/1024/1024|number:2 ]] MB</td>#}
                            {#<td ng-show="uploader.isHTML5">#}
                                {#<div class="progress" style="margin-bottom: 0;">#}
                                    {#<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>#}
                                {#</div>#}
                            {#</td>#}
                            {#<td class="text-center">#}
                                {#<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>#}
                                {#<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>#}
                                {#<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>#}
                            {#</td>#}
                            {#<td nowrap>#}
                                {#<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">#}
                                    {#<span class="glyphicon glyphicon-trash"></span> Remove#}
                                {#</button>#}
                            {#</td>#}
                        {#</tr>#}
                        {#</tbody>#}
                    {#</table>#}
                </div>

            </div>


            <div ng-show="myImage" class="background__viewer-avatar">

                <div class="border__viewer-avatar margin-top_100">
                    <div class="border__viewer__wrapper-avatar">

                        <!-- Modal -->
                        <div class="cropArea row" style="height: 340px;">


                            <img-crop class="col-sm-9 border-avatar" image="myImage" result-image="myCroppedImage" result-image-size="120" style="max-height: 100%;"></img-crop>
                            <div class="col-sm-3">
                                <div class="row col-sm-offset-4 user__avatar padding-left_0 padding-right_0">
                                    <img src="[[ myCroppedImage ]]">
                                    <input type="file" id="fileInput" style="display: none;">
                                </div>

                                <div class="row user__avatar-mini padding-left_0 padding-right_0">
                                    <img src="[[ myCroppedImage ]]">
                                </div>
                            </div>

                        </div>

                        <div class="row margin-top_10 right">
                            <button type="submit" class="true" ng-click="updateAvatar(myCroppedImage)">Отправить</button>
                            <button type="reset" class="false" ng-click="myImage=''">Отменить</button>
                        </div>


                    </div>
                </div>

            </div>

        {% endif %}



