    <div class="row slid">

        <form class="col-sm-10 padding-left_0 form_create_post" name="shop_form">

            <div class="row margin-top_20 margin-left_0">
                <span class="text-blue pointer left" ng-if="shop.remove_shop == false" ng-click="shop.remove_shop = true">Удалить магазин</span>

                <div ng-if="shop.remove_shop == true" class="col-sm-6 left padding-left_0">
                    Вы действително хотите удалить магазин ?
                    <span class="text-blue pointer" ng-click="removeShop(shop.id)">Да</span> |
                    <span ng-click="shop.remove_shop = false" class="text-blue pointer">Нет</span>
                </div>
            </div>

            <div class="row margin-top_20">
                <div class="col-sm-2">Разделы:</div>
                <div class="col-sm-10">
                    <multi-select-tree data-input-model="data" multi-select="true"
                                       data-output-model="selectedItem" data-default-label="  Выберите категорию магазина"
                                       data-callback="selectOnly1Or2(item, selectedItems)"
                                       data-select-only-leafs="true" data-switch-view-callback="switchViewCallback(scopeObj)">
                    </multi-select-tree>
                    <br/>
                    <span class="text-danger" ng-show="submitted && shop_form.section.$error.required">Раздел не выбран</span>
                </div>
            </div>

            <div class="row margin-top_20">
                <div class="col-sm-2">Заголовок:</div>
                <div class="col-sm-10">
                    <input type="text" name="name" ng-blur="editName(shop.name)" ng-model="shop.name" ng-required="true" required="" value="shop.name">
                    <span class="text-danger" ng-show="submitted && shop_form.tit.$error.required">Заголовок не должен быть пустым</span>
                </div>
            </div>

            <div class="row margin-top_20">
                <div class="col-sm-2">Краткое описание:</div>
                <div class="col-sm-10">
                    <input type="text" name="description" ng-blur="editDescription(shop.description)" ng-model="shop.description" ng-required="true" required="" value="shop.description">
                    <span class="text-danger" ng-show="submitted && shop_form.description.$error.required">Заголовок не должен быть пустым</span>
                </div>
            </div>

            <div class="row margin-top_20">
                <div class="col-sm-2">Полное описание:</div>
                <div class="col-sm-10">
                    <textarea name="full_description" ng-blur="editFullDescription(shop.full_description)" ng-model="shop.full_description" ng-required="true" required="">[[ shop.full_description ]]</textarea>
                    <span class="text-danger" ng-show="submitted && shop_form.full_description.$error.required">Заголовок не должен быть пустым</span>
                </div>
            </div>

            <div class="horizontal_line_baraholka"></div>

            <div class="row margin-top_20">
                <div class="col-sm-2">Сайт:</div>
                <div class="col-sm-10">
                    <input name="site" ng-blur="editSite(shop.site)" ng-model="shop.site" ng-value="shop.site">
                </div>
            </div>

            <div class="row margin-top_20">
                <div class="col-sm-2">
                    <span>Адрес: <span class="glyphicon glyphicon-plus-sign pointer" style="top: 3px;" ng-click="add()"></span></span>
                </div>
                <div class="col-sm-10 right" ng-repeat="(key,ad) in shop.address track by $index">
                    <input class="margin-top_5" ng-blur="editAddress(shop.address[key].id,shop.address[key].address)" name="address" ng-model="shop.address[key].address" ng-value="shop.address[key].address">
                </div>
            </div>

            <div class="row margin-top_20">
                <div class="col-sm-2">Телефон:</div>
                <div class="col-sm-10">
                    <textarea name="address" ng-blur="editTelephone(shop.telephone)" ng-model="shop.telephone">[[ shop.telephone ]]</textarea>
                </div>
            </div>

            <div class="row margin-top_20">
                <div class="col-sm-2">E-mail:</div>
                <div class="col-sm-10">
                    <input name="address" ng-blur="editEmail(shop.email)" ng-model="shop.email" ng-value="shop.email">
                </div>
            </div>

            <div class="row margin-top_20">
                <div class="col-sm-2">Время работы:</div>
                <div class="col-sm-10">
                    <input name="address" ng-blur="editWorkingTime(shop.working_time)" ng-model="shop.working_time" ng-value="shop.working_time">
                </div>
            </div>

            <div class="horizontal_line_baraholka"></div>

            <div class="margin-top_10">
                <label class="" for="uploadImg" style="font-weight: normal;" ng-disabled="uploader.isUploading">
                    <div ng-disabled="uploader.isUploading" class="button_favorites early-message text-center pointer left"><span class="middle">Выбрать</span></div> <span class="margin-left_10">jpg, png, gif не более 10Mb</span>
                </label>
            </div>

            <input type="file" nv-file-select="" uploader="uploader" multiple id="uploadImg"  class="hidden" ng-disabled="uploader.isUploading" />

            <div class="row margin-left_0">

                <div class="upload__element" ng-repeat="item in shop.images" style="float: left; position: relative;">
                    <label class="glyphicon glyphicon-pencil edit__album ng-isolate-scope pointer" edit-pain="info" style="position: absolute; top: 0px;">
                        <input type="checkbox" class="hidden">
                        <div class="edit__album__menu">
                            <ul class="margin-top_20">
                                <li ng-click="removeImageShop(item.id)">Удалить</li>
                                <li ng-click="mainImageShop(item.id)">
                                    Обложкой
                                </li>
                            </ul>
                        </div>
                    </label>

                    <img ng-src="{{ path_img_shop }}[[ item.path ]][[ item.name ]]" height="100" />
                </div>
            </div>

            <div class="row margin-top_20">
                <div class="col-sm-12" ng-show="uploader.isHTML5">
                    <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                        <div class="progress" style="height: 10px;" ng-show="uploader.progress" nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone text-center">
                            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row text-center">
                <button type="button" ng-show="!uploader.queue.length" class="button_message early-message text-center text-white pointer margin-top_10" ng-click="(submitted = true) && !shop_form.$error.required && redirectShop()" >
                    Продолжить
                </button>
                <button type="button" ng-show="uploader.queue.length" class="button_message early-message text-center text-white pointer margin-top_10" ng-click="(submitted = true) && !shop_form.$error.required && uploader.uploadAll()" >
                    Продолжить
                </button>
            </div>

        </form>


    </div>
