        <link rel="stylesheet" href="/css/button.css">
        <link rel="stylesheet" href="/css/pages/album.css">
        <link rel="stylesheet" href="/css/pages/personal_page.css">

        {% if is_granted('ROLE_USER') %}

            <div class="row slid  padding-right_0" ng-show="user">

                <h3 class="lobster">[[ user.username ]] [[ user.lastname ]]</h3>

                <div class="col-sm-5 user padding-left_0">
                    {{ render(controller('CreativerFrontBundle:Default:userInfoTmp', {'id': id})) }}
                </div>

                <div class="col-sm-7 album">
                    <button class="add_photo btn button_message early-message text-center text-white right pointer margin-right_10"><span class="glyphicon glyphicon-camera"></span>  <span class="fs_0-9">Добавить фото</span></button>
                    <input class="name_album lobster margin-top_10" ng-model="edit_album.name" type="text" placeholder="Название Альбома">
                    <multi-select-tree data-input-model="data" multi-select="true"
                                       data-output-model="selectedItem" data-default-label="Выберите категорию альбома"
                                       data-callback="selectOnly1Or2(item, selectedItems)"
                                       data-select-only-leafs="true" data-switch-view-callback="switchViewCallback(scopeObj)">
                    </multi-select-tree>
                    <textarea class="description_album" ng-model="edit_album.description" placeholder="Короткое описание альбома"></textarea>


                    <div class="row margin-top_20">

                            <div class="col-sm-4 text-center">
                                <div ng-repeat="(key,image) in edit_album.images.slice(0, res)" class="upload__element">

                                    <label class="glyphicon glyphicon-pencil edit__album ng-isolate-scope" edit-pain="info">
                                        <input type="checkbox" class="hidden">
                                        <div class="edit__album__menu">
                                            <ul class="margin-top_20">
                                                <li ng-click="item.remove()">удалить</li>
                                                <li ng-init="item.main = 0" ng-click="item.main = 1">
                                                    обложкой
                                                </li>
                                            </ul>
                                        </div>
                                    </label>

                                    <div>
                                        <img ng-src="{{ path_img_album_thums }}/[[ image.name ]]" style="width: 100%" />
                                        <textarea type="text" value="[[ item.file.title ]]" ng-model="item.file.title" ng-init="item.file.title=''" class="fiveMinuts" placeholder="описание изображения" style="width: 100%"></textarea><br>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 text-center ">
                                <div ng-repeat="(key,image) in edit_album.images.slice(res, res*2)" class="upload__element">
                                    <label class="glyphicon glyphicon-pencil edit__album ng-isolate-scope" edit-pain="info">
                                        <input type="checkbox" class="hidden">
                                        <div class="edit__album__menu">
                                            <ul class="margin-top_20">
                                                <li ng-click="item.remove()">удалить</li>
                                                <li ng-init="item.main = 0" ng-click="item.main = 1">
                                                    обложкой
                                                </li>
                                            </ul>
                                        </div>
                                    </label>

                                    <div>
                                        <img ng-src="{{ path_img_album_thums }}/[[ image.name ]]" style="width: 100%" />
                                        <textarea type="text" value="[[ item.file.title ]]" ng-model="item.file.title" ng-init="item.file.title=''" class="fiveMinuts" placeholder="описание изображения" style="width: 100%"></textarea><br>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 text-center ">
                                <div ng-repeat="(key,image) in edit_album.images.slice(res*2, res*3)" class="upload__element">
                                    <label class="glyphicon glyphicon-pencil edit__album ng-isolate-scope" edit-pain="info">
                                        <input type="checkbox" class="hidden">
                                        <div class="edit__album__menu">
                                            <ul class="margin-top_20">
                                                <li ng-click="item.remove()">удалить</li>
                                                <li ng-init="item.main = 0" ng-click="item.main = 1">
                                                    обложкой
                                                </li>
                                            </ul>
                                        </div>
                                    </label>

                                    <div>
                                        <img ng-src="{{ path_img_album_thums }}/[[ image.name ]]"  style="width: 100%" />
                                        <textarea type="text" value="[[ item.file.title ]]" ng-model="item.file.title" ng-init="item.file.title=''" class="fiveMinuts" placeholder="описание изображения" style="width: 100%"></textarea><br>
                                    </div>
                                </div>
                            </div>

                    </div>

                </div>

            </div>

        {% endif %}



