        {% if is_granted('ROLE_USER') %}

            <div class="row slid  padding-right_0" ng-show="user">

                <h3 class="lobster name__user"><a href="/#!/[[ user.id ]]">[[ user.username ]] [[ user.lastname ]]</a></h3>

                <div class="col-sm-5 user padding-left_0">
                    {{ render(controller('CreativerFrontBundle:Default:userInfoTmp', {'id': id})) }}
                </div>

                <div class="col-sm-7 album">
                    <span class="text-blue pointer left" ng-if="edit_album.remove_post == false" ng-click="edit_album.remove_post = true">Удалить альбом</span>

                    <div ng-if="edit_album.remove_post == true" class="col-sm-6 left padding-left_0">
                        Вы действително хотите удалить альбом ?
                        <span class="text-blue pointer" ng-click="deleteAlbum(edit_album.id)">Да</span> |
                        <span ng-click="edit_album.remove_post = false" class="text-blue pointer">Нет</span>
                    </div>


                    <input type="file" nv-file-select="" uploader="uploader" multiple id="addImg" class="hidden" />
                    <label for="addImg" class="right">
                        <div class="add_photo button_message early-message text-center text-white right pointer margin-right_10" style="padding: 0px;">
                            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" style="position: relative; border-radius: 5px;" ng-style="{ 'width': uploader.progress + '%' }">

                            </div>
                            <span class="glyphicon glyphicon-camera"></span>
                            <span class="fs_0-9">Добавить фото</span>
                        </div>
                    </label>

                    <input class="name_album lobster margin-top_10" ng-blur="editNameAlbum(edit_album.id,edit_album.name)" ng-model="edit_album.name" type="text" placeholder="Название Альбома">
                    <multi-select-tree data-input-model="data" multi-select="true"
                                       data-output-model="selectedItem" data-default-label="Выберите категорию альбома"
                                       data-callback="selectOnly1Or2(item, selectedItems)"
                                       data-select-only-leafs="true" data-switch-view-callback="switchViewCallback(scopeObj)"
                                       ng-blur="editCategoriesAlbum()">
                    </multi-select-tree>
                    <textarea class="description_album" ng-blur="editDescriptionAlbum(edit_album.id,edit_album.description)" ng-model="edit_album.description" placeholder="Короткое описание альбома"></textarea>

                    <h4 class="alert-danger fs_0-9 text-center" ng-if="error == true" >Ошибка загрузки возможно файл слишком велик или формат файла не поддерживается </h4>

                    <div class="row margin-top_20">

                            <div class="col-sm-4 text-center">
                                <div ng-repeat="(key,image) in edit_album.images.slice(0, res)" class="upload__element">

                                    <label class="glyphicon glyphicon-pencil edit__album ng-isolate-scope pointer" edit-pain="info">
                                        <input type="checkbox" class="hidden">
                                        <div class="edit__album__menu">
                                            <ul class="margin-top_20 padding-left_0">
                                                <li ng-click="removeImage(image.id)">удалить</li>
                                                <li ng-click="mainImage(image.id)">обложкой</li>
                                            </ul>
                                        </div>
                                    </label>

                                    <div>
                                        <img ng-src="{{ path_img_album_thums }}/[[ image.path ]][[ image.name ]]" style="width: 100%" />
                                        <textarea ng-blur="editTextImage(image.id, image.text)" type="text" value="[[ image.text ]]" ng-model="image.text" class="fiveMinuts margin-top_5" placeholder="описание изображения" style="width: 100%"></textarea><br>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 text-center ">
                                <div ng-repeat="(key,image) in edit_album.images.slice(res, res*2)" class="upload__element">
                                    <label class="glyphicon glyphicon-pencil edit__album ng-isolate-scope pointer" edit-pain="info">
                                        <input type="checkbox" class="hidden">
                                        <div class="edit__album__menu">
                                            <ul class="margin-top_20 padding-left_0">
                                                <li ng-click="removeImage(image.id)">удалить</li>
                                                <li ng-click="mainImage(image.id)">обложкой</li>
                                            </ul>
                                        </div>
                                    </label>

                                    <div>
                                        <img ng-src="{{ path_img_album_thums }}/[[ image.path ]][[ image.name ]]" style="width: 100%" />
                                        <textarea ng-blur="editTextImage(image.id, image.text)" type="text" value="[[ image.text ]]" ng-model="image.text" class="fiveMinuts margin-top_5" placeholder="описание изображения" style="width: 100%"></textarea><br>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 text-center ">
                                <div ng-repeat="(key,image) in edit_album.images.slice(res*2, res*3)" class="upload__element">
                                    <label class="glyphicon glyphicon-pencil edit__album ng-isolate-scope pointer" edit-pain="info">
                                        <input type="checkbox" class="hidden">
                                        <div class="edit__album__menu">
                                            <ul class="margin-top_20 padding-left_0">
                                                <li ng-click="removeImage(image.id)">удалить</li>
                                                <li ng-click="mainImage(image.id)">обложкой</li>
                                            </ul>
                                        </div>
                                    </label>

                                    <div>
                                        <img ng-src="{{ path_img_album_thums }}/[[ image.path ]][[ image.name ]]"  style="width: 100%" />
                                        <textarea ng-blur="editTextImage(image.id, image.text)" type="text" value="[[ image.text ]]" ng-model="image.text" class="fiveMinuts margin-top_5" placeholder="описание изображения" style="width: 100%"></textarea><br>
                                    </div>
                                </div>
                            </div>

                    </div>

                </div>

            </div>

        {% endif %}



