        <link rel="stylesheet" href="/css/button.css">
        <link rel="stylesheet" href="/css/pages/album.css">
        <link rel="stylesheet" href="/css/pages/personal_page.css">

        {% if is_granted('ROLE_USER') %}

            <div class="row slid  padding-right_0" ng-show="user">

                <h3 class="lobster">[[ user.username ]] [[ user.lastname ]]</h3>

                <div class="col-sm-5 user padding-left_0">
                    {{ render(controller('CreativerFrontBundle:Default:userInfoTmp', {'id': id})) }}
                </div>

                <div class="col-sm-7 album">
                    <input class="name_album lobster" ng-model="album.name" type="text" placeholder="Название Альбома">
                    <multi-select-tree data-input-model="data" multi-select="true"
                                       data-output-model="selectedItem" data-default-label="  Выберите категорию альбома"
                                       data-callback="selectOnly1Or2(item, selectedItems)"
                                       data-select-only-leafs="true" data-switch-view-callback="switchViewCallback(scopeObj)">
                    </multi-select-tree>
                    <textarea class="description_album" ng-model="album.description" placeholder="Короткое описание альбома"></textarea>
                    <div ng-show="uploader.isHTML5" style="height: 89px;">
                        <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                            <div class="progress" nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone text-center">
                                <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>

                            <div class="text-center text-gray" ng-show="!uploader.progress" style="position: relative; top: -100px;">
                                <span class="glyphicon glyphicon-inbox" style="font-size: 50px;"></span><br>
                                <span class="text-bold fiveMinuts">Можете перетянуть изображения в этот блок</span>
                            </div>

                            <div class="text-center text-gray" ng-show="uploader.progress" style="position: relative; top: -100px;">
                                <span class="fs_1-2 text-bold fiveMinuts text-bold">[[ uploader.progress ]]%</span><br>
                                <span class="text-gray fiveMinuts text-bold">Пожалуйста подождите пока файлы загрузятся на CREATIVER</span><br>
                            </div>

                        </div>


                    </div>

                    <label class="" for="uploadImg" style="font-weight: normal;" ng-disabled="uploader.isUploading">
                        <div ng-disabled="uploader.isUploading" class="btn button_favorites early-message text-center"><span>Выбрать</span></div>
                    </label>

                    <input type="file" nv-file-select="" uploader="uploader" multiple id="uploadImg"  class="hidden" ng-disabled="uploader.isUploading" />

                    {#<ul>#}
                        {#<li ng-repeat="item in uploader.queue">#}
                            {#Name: <span ng-bind="item.file.name"></span><br/>#}
                            {#<button ng-click="item.upload()">upload</button>#}
                        {#</li>#}
                    {#</ul>#}

                    <button type="button" class="btn button_message early-message text-center text-white right pointer" ng-click="uploader.uploadAll()" ng-disabled="uploader.isUploading">
                        <span>Продолжить</span>
                    </button>

                    {#<button type="button" class="btn button_favorites button_gray_message text-center text-white right pointer" ng-click="uploader.cancelAll()" ng-show="uploader.isUploading">#}
                        {#<span>Остановить</span>#}
                    {#</button>#}


                    <div class="row margin-top_20">

                    <div class="col-sm-4">
                        <div class=" upload__element" ng-repeat="item in uploader.queue.slice(0, res)">
                            <label class="glyphicon glyphicon-pencil edit__album ng-isolate-scope" edit-pain="info">
                                <input type="checkbox" class="hidden">
                                <div class="edit__album__menu">
                                    <ul class="margin-top_20">
                                        <li ng-click="item.remove()">Удалить</li>
                                        <li ng-init="item.main = 0" ng-click="item.main = 1">
                                            Обложкой
                                        </li>
                                    </ul>
                                </div>
                            </label>

                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, width: 158 }" class="text-center thumb__upload"></div>
                            <input type="text" value="[[ item.file.title ]]" ng-model="item.file.title" ng-init="item.file.title=''" class="fiveMinuts" placeholder="описание изображения" style="width: 100%; margin-top: -100px;"><br>
                            <input type="text" class="fiveMinuts" ng-model="item.file.price" ng-init="item.file.price=''" placeholder="цена в бел. руб." style="width: 100%; margin-top: -100px;" required="required">
                            <div class="text-center">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class=" upload__element" ng-repeat="item in uploader.queue.slice(res, res*2)">
                            <label class="glyphicon glyphicon-pencil edit__album ng-isolate-scope" edit-pain="info">
                                <input type="checkbox" class="hidden">
                                <div class="edit__album__menu">
                                    <ul class="margin-top_20">
                                        <li ng-click="item.remove()">Удалить</li>
                                        <li ng-init="item.main = 0" ng-click="item.main = 1">
                                            Обложкой
                                        </li>
                                    </ul>
                                </div>
                            </label>

                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, width: 158 }" class="text-center thumb__upload"></div>
                            <input type="text" value="[[ item.file.title ]]" ng-model="item.file.title" ng-init="item.file.title=''" class="fiveMinuts" placeholder="описание изображения" style="width: 100%; margin-top: -100px;"><br>
                            <input type="text" class="fiveMinuts" ng-model="item.file.price" ng-init="item.file.price=''" placeholder="цена в бел. руб." style="width: 100%; margin-top: -100px;" required="required">
                            <div class="text-center">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class=" upload__element" ng-repeat="item in uploader.queue.slice(res*2, res*3)">
                            <label class="glyphicon glyphicon-pencil edit__album ng-isolate-scope" edit-pain="info">
                                <input type="checkbox" class="hidden">
                                <div class="edit__album__menu">
                                    <ul class="margin-top_20">
                                        <li ng-click="item.remove()">Удалить</li>
                                        <li ng-init="item.main = 0" ng-click="item.main = 1">
                                            Обложкой
                                        </li>
                                    </ul>
                                </div>
                            </label>

                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, width: 158 }" class="text-center thumb__upload"></div>
                            <input type="text" value="[[ item.file.title ]]" ng-model="item.file.title" ng-init="item.file.title=''" class="fiveMinuts" placeholder="описание изображения" style="width: 100%; margin-top: -100px;"><br>
                            <input type="text" class="fiveMinuts" ng-model="item.file.price" ng-init="item.file.price=''" placeholder="цена в бел. руб." style="width: 100%; margin-top: -100px;" required="required">
                        </div>
                    </div>

                    </div>

                </div>

            </div>


            <div ng-show="myImage" class="background__viewer-avatar" style="zoom: reset;">
                <div class="border__viewer-avatar margin-top_100">
                    <div class="border__viewer__wrapper-avatar">
                        <!-- Modal -->
                        <div class="cropArea row" style="height: 340px;">
                            <img-crop class="col-sm-9" image="myImage" result-image="myCroppedImage" result-image-size="120" style="height: 100%;"></img-crop>
                            <div class="col-sm-3" style="height: auto; display: block; position: static;">
                                <div class="user__avatar-border col-sm-offset-4">
                                    <div class="user__avatar">
                                        <img src="[[ myCroppedImage ]]">
                                    </div>
                                </div>
                                <div class="user__avatar-mini" style="margin-left: 60px;">
                                    <img src="[[ myCroppedImage ]]">
                                </div>
                                <div class="row right" style="position: absolute; bottom: 0px;">
                                    <div class=""></div>
                                    <button type="submit" class="true" ng-class="{'loader':loader}" ng-click="updateAvatar(myCroppedImage)">Отправить</button>
                                    <button type="reset" class="false" ng-click="myImage=''">Отменить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}



