    <link rel="stylesheet" href="/css/pages/feedback.css">

    <div class="row slid">
        <div class="row margin-top_50">
            <div class="col-sm-5 slid_mai_box text-right">
                <img src="/var/www/creativer/web/img/box_mail.png" alt="e-mail" />
            </div>

            <div class="col-sm-7">
                <h3 class="lobster margin-top_0">Обратная связь</h3>
                <div class="form-feedback">
                    <form action="" class="form-feedback-form text-brown">
                        <div class="row">
                            <div class="col-sm-6"><label for="name" class="text-brown fs_0-9">Как к вам обращаться:</label></div>
                            <div class="col-sm-5"><input id="name" type="text" ng-model="nick" /></div>
                        </div>
                        <div class="row margin-top_10">
                            <div class="col-sm-6"><label for="telephone" class="text-brown fs_0-9">Телефон:</label></div>
                            <div class="col-sm-5"><input id="telephone" type="text" ng-model="telephone" /></div>
                        </div>
                        <div class="row margin-top_10">
                            <div class="col-sm-6"><label for="password" class="text-brown fs_0-9">E-mail:</label></div>
                            <div class="col-sm-5"><input id="password" type="email" ng-model="email" /></div>
                        </div>
                        <div class="row margin-top_10">
                            <div class="col-sm-10">
                                <textarea cols="55" rows="5" class="text-brown fs_0-9" placeholder="Ваше сообщение" ng-model="message"></textarea>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="margin-top_20 text-right col-sm-8">
                    <button type="submit" class="form-registration__submit" ng-click="sendFeedBack()">Отправить</button>
                    <button type="reset" class="form-registration__reset">Отменить</button>
                </div>

            </div>
        </div>
    </div>