    <link rel="stylesheet" href="/css/pages/fleamarketposting.css">
    <div class="row slid" ng-init="post_id = {{ post_id }}">

        <form class="col-sm-10 padding-left_0" name="baraholka_form">
            <div class="row">
                <div class="col-sm-2 padding-left_0"><h3 class="lobster margin-left_0">Барахолка</h3></div>
                <div class="col-sm-3 slid__search padding-left_0 margin-top_20">
                    <input placeholder="Поиск по барахолке">
                    <button class="slid__slider-button"></button>
                </div>
                <div class="col-sm-3 slid__search__link margin-top_20">
                    <a href="">Взглянуть шире</a>
                </div>
            </div>

            <div class="row margin-top_20">
                <div class="col-sm-2">Категория:</div>
                <div class="col-sm-10">
                    <div class="row baraholka__filter">
                        <div class="wrapper__filter__element" ng-repeat="p_category in post_category">
                            <label>
                                <input type="radio" name="post_category" ng-model="post_category.id" value="[[ p_category.id ]]" required="">
                                <div class="baraholka__filter__element">
                                    [[ p_category.name ]]
                                </div>
                            </label>
                        </div>
                    </div>
                    <span class="text-danger" ng-show="submitted && baraholka_form.post_category.$error.required">Категория не выбрана</span>
                </div>
            </div>

            <div class="row margin-top_20">
                <div class="col-sm-2">Разделы:</div>
                <div class="col-sm-10">

                    {#<select name="section" class="selectForumId" ng-model="section" ng-options="children.id as children.name for children in baraholka">#}
                    {#</select>#}

                    <select name="section" class="selectForumId" ng-model="section" ng-pattern="/^[1-9]+/" required>
                        <optgroup ng-repeat="children in baraholka" label="[[ children.name ]]">                                                                                                                                                                                                                                                                                                                                    <option value="2">GSM-телефоны</option>
                            <option ng-repeat="child in children.children" value="[[ child.id ]]">[[ child.name ]]</option>
                        </optgroup>
                    </select>
                    <br/>
                    <span class="text-danger" ng-show="submitted && baraholka_form.section.$error.required">Раздел не выбран</span>
                </div>
            </div>

            <div class="row margin-top_20">
                <div class="col-sm-2">Заголовок:</div>
                <div class="col-sm-10">
                    <input type="text" name="tit" ng-model="title" ng-required="true" required="">
                    <span class="text-danger" ng-show="submitted && baraholka_form.tit.$error.required">Заголовок не должен быть пустым</span>
                </div>
            </div>

            <div class="row margin-top_20">
                <div class="col-sm-2">Местонахождения:</div>
                <div class="col-sm-10">
                    <select name="city" class="selectForumId" ng-model="city">
                        <option value="[[ p_city.id ]]" ng-repeat="p_city in post_city">[[ p_city.name ]]</option>
                    </select>
                </div>
            </div>

            <div class="horizontal_line"></div>

            <div class="row margin-top_20">
                <div class="col-sm-12">
                    <h4>Подробно опишите товар или услугу</h4>
                    <textarea class="margin-top_10" ng-model="full_description" name="full_description"></textarea>
                </div>
            </div>

            <div class="row margin-top_20">
                <div class="col-sm-12">
                    Краткое описание
                    <textarea ng-model="description" name="description" required=""></textarea>
                    <span class="text-danger" ng-show="submitted && baraholka_form.description.$error.required">Краткое описание не может быть пустым</span>
                </div>
            </div>

            <div class="horizontal_line"></div>

            <div class="row margin-top_20">
                <div class="col-sm-12">
                    <h4>Обязательно указывайте реальную цену</h4>
                    <div>
                        <input type="number" ng-model="price" name="price" style="width: 100px;" required=""> руб.<br/>

                        <span class="text-danger" ng-show="submitted && baraholka_form.price.$error.required">Цена не указана</span>

                        <div class="margin-top_5">
                                <label for="search">Торг уместен</label>
                                <input id="search" class="extended__search__element" type="checkbox">
                                <span></span>
                            </div>
                    </div>
                </div>
            </div>

            <div class="horizontal_line"></div>

            <div class="margin-top_10">
                <label class="" for="uploadImg" style="font-weight: normal;" ng-disabled="uploader.isUploading">
                    <div ng-disabled="uploader.isUploading" class="btn button_favorites early-message text-center"><span>Выбрать</span></div> <span class="lobster">jpg, png, gif не более 10Mb</span>
                </label>
            </div>

            <input type="file" nv-file-select="" uploader="uploader" multiple id="uploadImg"  class="hidden" ng-disabled="uploader.isUploading" />

            <div class="row">

                <div class="upload__element" ng-repeat="item in uploader.queue" style="float: left;">
                    <label class="glyphicon glyphicon-pencil edit__album ng-isolate-scope" edit-pain="info">
                        <input type="checkbox" class="hidden">
                        <div class="edit__album__menu">
                            <ul class="margin-top_20">
                                <li ng-click="item.remove()">Удалить</li>
                                <li ng-init="item.main = 0" ng-click="item.main = 1">
                                    Обложкой
                                </li>
                            </ul>
                        </div>
                    </label>

                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }" class="text-center thumb__upload"></div>

                    {#<div class="text-center">#}
                        {#<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>#}
                        {#<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>#}
                        {#<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>#}
                    {#</div>#}
                </div>
            </div>

            <div class="row">
                <div ng-show="uploader.isHTML5" style="height: 30px;">
                    <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                        <div class="progress" ng-show="uploader.progress" nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone text-center">
                            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                            <span ng-show="uploader.progress" class="text-gray fiveMinuts text-bold">Подождите пока файлы загрузятся на CREATIVER [[ uploader.progress ]]%</span><br>
                    </div>
                </div>


            </div>

            <div class="horizontal_line"></div>

            <div class="bg-warning text-center">
                    <h5 class="text-danger">Увеличьте продажи: оплатите выделение объявления через банкомат, инфокиоск, интернет-банкинг!</h5>
                    Варианты выделения всего от 3000 рублей. Заметное объявление — активные продажи! <a href="/price.php" target="_blank">Посмотреть цены</a>
            </div>

            <div class="row text-center">
                <button type="button" ng-show="!uploader.queue.length" class="btn button_message early-message text-center text-white pointer margin-top_10" ng-click="(submitted = true) && !baraholka_form.$error.required && createPostBaraholka()" >
                    <span>Продолжить</span>
                </button>
                <button type="button" ng-show="uploader.queue.length" class="btn button_message early-message text-center text-white pointer margin-top_10" ng-click="(submitted = true) && !baraholka_form.$error.required && uploader.uploadAll()" >
                    <span>Продолжить</span>
                </button>
            </div>

        </form>

        <div class="col-sm-2">

            <div class="row">
                <div class="margin-top_80">
                    <img class="margin-top_20" src="/var/www/creativer/web/banner/reclama.png" alt="реклама" />
                    <img class="margin-top_20" src="/var/www/creativer/web/banner/reclama.png" alt="реклама" />
                    <img class="margin-top_20" src="/var/www/creativer/web/banner/reclama.png" alt="реклама" />
                </div>

            </div>

        </div>

    </div>
