 <div class="row slid  padding-right_0" ng-show="user">

        <div class="row">
            <div class="col-sm-5 padding-left_0">
                <div class="col-sm-7 padding-left_0" >
                    <h3 class="lobster name__user"><a href="#/[[ user.id ]]">[[ user.username ]] [[ user.lastname ]]</a></h3>
                </div>
                <div ng-if="user.connection_status != '-0001-11-30T00:00:00+0150' && user.id != $root.id_user" class="col-sm-5 connection_status line-height_1 margin-top_25 padding-right_15 text-right">
                    [[ user.connection_status | date: "dd MMM HH:mm" ]]
                </div>
                <div ng-if="user.connection_status == '-0001-11-30T00:00:00+0150' && user.id != $root.id_user" class="col-sm-5 connection_status line-height_1 margin-top_25 padding-right_15 text-right">
                    Online
                </div>
            </div>
            <h4 class="col-sm-6 lobster text-gray margin-top_30 margin-left_15">В избранных у</h4>
        </div>

     <div class="col-sm-5 user padding-left_0">
         {{ render(controller('CreativerFrontBundle:Default:userInfoTmp', {'id': id})) }}
     </div>

        <div class="col-sm-7 album" ng-init="res = user.albums[id].images.length/3">

            <div class="padding-bottom_30">
                <a ng-click="removeUser()" href="#/[[ favorit.id ]]" class="col-sm-3 text-center margin-top_20 block favorit__card pointer" ng-repeat="favorit in user.favorits_with_me">
                    <div class="user__avatar-favorit" style="background-color: [[ favorit.color ]];">
                        <img ng-src="[[ favorit.avatar ]]">
                    </div>
                    <div class="text-center fs_0-9 lobster">[[ favorit.username ]]</div>
                    <div class="text-center fs_0-9 lobster">[[ favorit.lastname ]]</div>
                </a>
            </div>
        </div>

 </div>
