{% extends "CreativerFrontBundle::layout.html.twig" %}
{% block title %}Восстановление пароля{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/pages/vendor.css">
        <link rel="stylesheet" href="/css/pages/registration.css">
        <link rel="stylesheet" href="/css/vendor/component.css" />
        <link rel="stylesheet" href="/css/fonts.css">
        <link rel="stylesheet" href="/css/sprites.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/helpers.css">
    {% endblock %}

    {% block javascripts %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="/js/controllers/registration.js"></script>

    {% endblock %}

{% block body %}
    <div class="row slid">

            {% if form == true %}
                <div class="row"><h3 class="lobster margin-left_0">Восстановление пароля</h3></div>
                <form action="{{ path('creativer_front_forgot_password') }}" method="post" class="row form-registration" >
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row col-sm-12">

                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-registration__element"><label for="name">Ваш email:</label></div>
                                    </div>

                                    <div class="col-sm-9">
                                        <div class="form-registration__element"><input class="" name="email" type="email"></div>
                                        <span class="text-danger ng-hide" ng-show="submitted && registration['form[username]'].$error.required">Имя пользователя не может быть пустым</span>
                                    </div>
                                </div>
                            <div class="margin-top_40">
                                <button type="submit" class="form-registration__submit" id="send" ng-disabled="!checked" ng-click="(submitted = true)">Восстановить</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <ul class="text-grey">
                            <li>После восстановления пароля на Ваш контактный email придет письмо с паролем.</li>
                        </ul>
                    </div>
                </div>
            </form>
        {% else %}
            <h3 class="text-center lobster">Пароль от вашего аккаунта был отправлен на Ваш контактный email.</h3>

            <p>Внимание! В некоторых почтовых сервисах письмо с инструкциями по восстановлению пароля попадает в папку "Спам". Если в течении 5 минут вы не получили письмо - проверьте папку спам.</p>

        {% endif %}


    </div>
{% endblock %}
