<div class="row slid text-gray" ng-init="$root.title = 'Помощь'">
    <h3 class="lobster">Доброго времени суток! Рады приветствовать вас на первом портале для талантливых, творческих и просто-любящих-прекрасное людей.</h3>
    <p><span class="text-bold">Creativer</span> – это единственное место, где собраны уникальные и неповторимые товары и услуги для людей, ценящих свою индивидуальность и стиль. Так же вам доступны знакомства с мастерами и результатами их работы. Ну и конечно же, если вы сами любите создавать и не мыслите свою жизнь без креатива, то на Creativer вы можете показать все свои таланты.</p>

    <p>Итак, добро пожаловать!</p>

    <h4>1. Для начала давайте пройдём регистрацию. Для этого необходимо:</h4>

    <p>а) заполнить информацию о себе;</p>
    <p>в) загрузить своё фото (аватар);</p>
    <p>с) прочитать «Правила сайта» и «Публичный договор» и поставить галочку;</p>
    <p>d) нажать «отправить».</p>

    <p  class="text-center" ><img src="/var/www/creativer/web/img/help/registration.jpg"/></p>

    <p class="margin-top_10">&nbsp;&nbsp;&nbsp;Поздравляем! Вы успешно прошли регистрацию и теперь вам доступны все возможности портала!</p>

    <h4>2. Далее мы предлагаем вам заполнить информацию о своём профиле. Для этого:</h4>
    <p>В верхнем правом углу портала есть вкладка «Моя страница». Нажимаем.</p>

    <p class="text-center" ><img src="/var/www/creativer/web/img/help/mypage.jpg" /></p>

    <p>В появившемся окне вы можете: </p>
    <p>а) загрузить/изменить своё фото (аватар);</p>
    <p>b) придумать себе статус; </p>
    <p>c) внести личные данные в незаполненные поля (для этого необходимо щелкнуть на значок «карандаш», написать информацию, затем убирать курсор - информация будет сохранена). </p>

    <p  class="text-center" ><img src="/var/www/creativer/web/img/help/mydata.jpg" /></p>

    <p class="margin-top_10">&nbsp;&nbsp;&nbsp;Под фото вашего профиля вы можете видеть сколько человек просмотрели ваши работы, скольким людям они понравились и сколько человек добавили вас в «избранные» (аналог «друзья»).</p>
    <p>Вы так же можете добавлять других пользователей себе в «избранные» , если вам понравились их работы. Большое количество отметок «нравится» повышает рейтинг ваших работ (работ других мастеров) и позволяет поднимать фотографии на верхние позиции в общем каталоге товаров и услуг.</p>
    <p>Заполните, пожалуйста, все поля. Добавляйте фото своего профиля (аватар). Вас будет проще найти на сайте, ваша страничка станет более информативной, что крайне важно, ведь это - ваше портфолио. Чем ярче и интересней вы заполните свою страницу, тем привлекательнее она будет для других пользователей.</p>

    <h4>3. Далее создаем альбомы:</h4>

    <p> Создать альбом можно нажав на кнопку «Создать альбом» одним из удобных для вас способов, как показано ниже: </p>

    <p  class="text-center" ><img src="/var/www/creativer/web/img/help/myalbum.jpg" /></p>

    <p> В открывшейся странице необходимо: </p>
    <p>a) заполнить поле «Название альбома»;</p>
    <p>b) выбирать категорию, в которой вы бы хотели разместить свои фото;</p>
    <p>c) заполнить поле «Описание альбома»;</p>
    <p>d) загрузить фото «товара» или «услуги» (мы настоятельно рекомендуем заполнить поле «Описание» под каждой фотографией, написать цвет, размер, материал и прочие характеристики - именно по этому тексту работает поисковая система); </p>
    <p>e) нажать «продолжить» - ура! :) альбом создан. </p>
    <p>Как только вы добавили фото в альбом - его увидят все пользователи портала. </p>

    <p  class="text-center" ><img src="/var/www/creativer/web/img/help/albumform.jpg" /></p>

    <p class="margin-top_10">Если у Вас несколько направлений деятельности, лучше создавать несколько альбомов с изделиями, присваивая им соответствующие категории.</p>

    <h4>4. «Стена» пользователя.</h4>
    <p>На «стене» вашей странички вы можете оставлять сообщения для всех пользователей, посещающих вас. Есть возможность прикреплять фото и комментировать сообщения других пользователей.</p>
    <p>Аналогичные действия вы можете сделать на «стене» другого пользователя. </p>

    <p  class="text-center" > <img src="/var/www/creativer/web/img/help/wall.jpg" /></p>

    <p>С помощью «стены» вы можете распространить информацию о своих мастер-классах или поделиться познавательным видеоуроком.

    <h4>5. Как разместить объявление на «Барахолке»:</h4>
    <p>В разделе «Барахолка» вы найдете частные объявления о продаже, покупке, обмене товаров (новых или подержанных). Размещать объявления могут только зарегистрированные на портале пользователи.</p>
    <p>Чтобы разместить объявление, зайдите в раздел «Барахолка», нажав соответствующую кнопку в правом верхнем углу сайта, затем нажмите «разместить объявление».</p>

    <p  class="text-center" > <img src="/var/www/creativer/web/img/help/market1.jpg" /></p>

    <p class="margin-top_10">Далее вам необходимо заполнить все поля появившейся формы:</p>

    <p  class="text-center" > <img src="/var/www/creativer/web/img/help/market2.jpg" /> </p>

    <p class="margin-top_10">После заполнения загрузите как можно больше фотографий товара - это сильно повысить ваши шансы продать товар.</p>

    <p class="margin-top_10">Когда форма заполнена, а фото загружены - нажимите «продолжить». Поздравляем! Теперь ваше объявление увидят все пользователи портала. </p>

    <h4>6.Раздел «События»:</h4>

    <p>В этом разделе Вы увидите все самые свежие новости и интересную информацию об общественной жизни, моде, культуре, событиях. Много интересный статей о предстоящих или уже прошедших событиях.</p>
    <p>Чтобы зайти в раздел «События», нажмите соответствующую кнопку в правом верхнем углу сайта.</p>

    <p  class="text-center" > <img src="/var/www/creativer/web/img/help/events.jpg" /></p>

    <p class="margin-top_10">Вы можете выбрать понравившееся событие и поставить отметку, что собираетесь его посетить. Поставив отметку, можно увидеть сколько еще человек планирует быть на данном мероприятии.</p>

    <p>При наведении курсора на ваш персональный календарь вы можете видеть события, на которые планируете сходить:</p>
    <p  class="text-center" > <img src="/var/www/creativer/web/img/help/calendar.jpg" /></p>

    <p class="margin-top_10">Вы можете сами предлагать осветить интересующее вас событие или предложить нам разместить уже готовую статью о мероприятии. Для этого вам необходимо написать нам письмо.</p>

    <h4>7. Обратная связь:</h4>

    <p>Чтобы связаться с нами, нажмите кнопку «Обратная связь», которая расположена в нижней части портала и заполняете все пустые поля следующей формы:</p>

    <p  class="text-center" ><img src="/var/www/creativer/web/img/help/feedback.jpg" /></p>

    <p class="margin-top_10">В поле для сообщения кратко опишите суть вопроса/пожелания/предложения и мы с вами обязательно свяжемся.</p>

    <p>Мы будем крайне благодарны вам за помощь в развитии портала Creativer. </p>

    <h4>8. Поиск на портале:</h4>

    <p>В верхнем левом углу располагается главный поиск портала. С его помощью вы можете отыскать мастера, друга или какую-либо особую вещицу. Для этого вам необходимо выбрать категорию поиска, поставив галочку в ячейки «товары», «услуги» или «люди», ввести запрос и нажать значок поиска (игрушечная лупа).</p>

    <p  class="text-center" ><img src="/var/www/creativer/web/img/help/search.jpg" /></p>

    <p>Для простоты поиска понравившегося мастера на сайте есть возможность добавить его в «избранные». Для этого на странице пользователя нажмите кнопку «избранное» под его аватаром, как показано ниже: </p>

    <p  class="text-center" ><img src="/var/www/creativer/web/img/help/blessed.jpg" /></p>

    <h4>9. Каталог товаров и услуг: </h4>

    <p>Для того, чтобы просмотреть каталог товаров или услуг необходимо выбрать нужную категорию на главной странице сайт или нажать соответствующие кнопки в левом верхнем углу портала. </p>

    <p>Мы искренне надеемся, что вы получите истинное удовольствие от увиденного в нашем каталоге :).</p>

    <p  class="text-center" ><img src="/var/www/creativer/web/img/help/main.jpg" /></p>

    <p>При переходе в одну из категорий слева вы увидите её содержание и подкатегории.</p>

    <p>Под фотографией товара или услуги размещено название альбома, при переходе в который вы увидите остальные работы того же мастера.</p>

    <p>Ниже размещается имя мастера, при нажатии происходит переход на его страничку.</p>

    <p  class="text-center" ><img src="/var/www/creativer/web/img/help/catalogue.jpg" /></p>

    <p>В каждой категории товаров и услуг располагаются ссылки магазинов (нижние в списке подкатегорий). При переходе по ним вы найдете целый список магазинов, где можно приобрести инструменты, профессиональные средства, оборудование и материалы для ваших будущих работ, или просто актуальные в категории магазины, которые стоят вашего внимания. </p>

    <h4>10. Чат:</h4>

    <p>Для удобства общения с мастерами или просто друзьями на сайте есть чат. Чтобы воспользовать им, вы можете нажать кнопку «Сообщение» под аватаром пользователя, которому хотите написать либо нажать ссылку «Перейти в сообщения» в ниспадающем окне при наведении на значок «почта» в правом верхнем углу портала.</p>

    <p  class="text-center" ><img src="/var/www/creativer/web/img/help/chat1.jpg" /></p>

    <p>Таким образом вы сможете легко и удобно обмениваться сообщениями! </p>

    <p  class="text-center" ><img src="/var/www/creativer/web/img/help/chat2.jpg" /></p>

    <h4>11. Настройки личной страницы:</h4>

    <p>Настройки личной страницы находятся в правом верхнем углу портала в ниспадающем окне, которое появляется при наведении мышки на свой аватар. Вы можете изменить свой пароль, используемый пакет услуг и некоторые другие настройки. </p>

    <p  class="text-center" ><img src="/var/www/creativer/web/img/help/settings.jpg" /></p>

    <h4 class="text-center">Добро пожаловать! И  желаем вам творческих успехов!</h4>
    <p>Если Вы не сумели разобраться с какими-либо функциями портала - всегда рады ответить на ваши вопросы! </p>
    <p>Заходите в раздел <a href="/#/feedback">«Обратная связь»</a> и задавайте свои вопросы с пометкой «Помощь». </p>


</div>
