<div class="row slid text-gray" >
    <h3 class="text-center">Добрый день! Рады приветствовать Вас на первом портале для талантливых, творческих людей.</h3>
    <p>Creativer –это единственное место, где собраны уникальные и неповторимые товары и услуги для людей, ценящих свою индивидуальность и стиль. Так же вам доступны знакомства с мастерами и результатами их работы. Ну и конечно же, если вы сами любите создавать и не мыслите свою жизнь без креатива, то на Creativer вы можете показать все свои таланты.</p>

    <p>Итак, добро пожаловать!</p>

    <h4>1. Для начала нужно пройти регистрацию. Для этого нужно:</h4>

    <p>а) заполняем информацию о себе</p>
    <p>в)загружаем фото</p>
    <p>с) читаем «Условия соглашения» и ставим галочку</p>
    <p>d) нажимаем «отправить»</p>

    <img src="/var/www/creativer/web/img/help/1.jpg" />

    <p class="margin-top_10">ПОЗДРАВЛЯЕМ! Вы успешно прошли регистрацию и теперь Вам доступны практически все возможности портала!</p>


    <h4>2. Создаем свой профиль.</h4>
    <p>В верхнем правом углу портала есть вкладка «Моя страница». Нажимаем.</p>
    <ul>
        <li>Загружаем фото профиля</li>
        <li>Чтобы внести личные данные в незаполненные поля нужно щелкнуть на значок «карандаша», пишем информацию, убираем курсор-информация сохранена.</li>
    </ul>

    <img src="/var/www/creativer/web/img/help/2.jpg" />

    <p class="margin-top_10">Под фото Вашего профиля Вы можете видеть сколько человек просмотрели Ваши работы, скольким людям понравились Ваши фото и сколько человек добавили Вас в «избранные»</p>
    <p>Вы так же можете добавлять других пользователей себе в «избранные» , если Вам понравились их работы. Большое количество отметок «нравится» повышает общий рейтинг пользователя и позволяет подниматься его фотографиям на верхние позиции в общем каталоге товаров и услуг.</p>
    <p>Заполните пожалуйста все поля! Вас будет проще найти на сайте. Ваша страничка-Ваше портфолио. Чем ярче и больше Вы ее заполните, тем привлекательнее она будет для других пользователей.</p>

    <p>Далее создаем альбомы:</p>

    <p>1) Заполняем «Название альбома»</p>
    <p>2)Выбираем категорию, в которой Вы бы хотели разместить свои фото.</p>
    <p>3) Можно внести описание альбома</p>
    <p>4) загружаем фото «товара» и ОБЯЗАТЕЛЬНО пишем описание, цвет, размер, материал. Именно по этому тексту работает поисковая система. Как только Вы добавили фото в альбом-его увидят все пользователи портала. </p>
    <p>5) нажимаем «продолжить»- альбом создан. </p>

    <img src="/var/www/creativer/web/img/help/3.jpg" />

    <p class="margin-top_10">Если у Вас несколько направлений деятельности, лучше создавать несколько альбомов с соответствующими изделиями названиям категорий в каждом.</p>
    <p>На «стене» Вашей странички Вы можете оставлять сообщения для всех пользователей, заходящих к Вам.</p>
    <p>Прикреплять фото и комментировать сообщения других пользователей.</p>

    <img src="/var/www/creativer/web/img/help/4.jpg" />

    <h4>Как разместить объявление на «Барахолке»</h4>
    <p>В этом разделе размещены частные объявления о продаже, покупке, обмене товаров (новых или подержанных). Размещать объявления могут только зарегистрированные на портале пользователи.</p>
    <p>Для этого необходимо в правом верхнем углу нажать «разместить объявление».</p>

    <img src="/var/www/creativer/web/img/help/5.jpg" />

    <p class="margin-top_10">Далее заполняем ВСЕ поля:</p>

    <img src="/var/www/creativer/web/img/help/6.jpg" />

    <p class="margin-top_10">После заполнения загружаем как можно больше фото, чтобы можно было рассмотреть предложенный товар во всей красе.</p>

    <p class="margin-top_10">Когда фото загружены-нажимаем «продолжить». Поздравляем! Теперь Ваше объявление увидят все пользователи портала. </p>

    <h4>Вкладка «События»</h4>

    <p>В этом разделе Вы увидите все самые свежие новости и интересную информацию об общественной жизни, моде, культуре, событиях. Много интересный статей о предстоящих или уже прошедших событиях.</p>

    <img src="/var/www/creativer/web/img/help/7.jpg" />

    <p class="margin-top_10">Вы можете выбрать понравившееся и поставить отметку, что собираетесь его посетить. Так же там можно увидеть сколько еще человек планирует быть на данном мероприятии.</p>

    <p>При наведении курсора на Ваш персональный календарь -Вы можете видеть события, на которые планируете сходить</p>

    <img src="/var/www/creativer/web/img/help/8.jpg" />

    <p class="margin-top_10">Так же Вы можете сами предлагать осветить интересующее Вас событие или предложить нам разместить уже готовую статью о каком-либо мероприятии. Для этого Вам необходимо написать нам письмо.</p>

    <p>Выбираете внизу портала вкладку «Обратная связь» и заполняете ВСЕ пустые поля.</p>

    <img src="/var/www/creativer/web/img/help/9.jpg" />

    <p class="margin-top_10">В поле для  сообщения кратко опишите суть статьи и с Вами обязательно свяжутся.</p>

    <p>Так же этот блок предназначен для Ваших вопросов, пожеланий, предложений по порталу Creativer. </p>

    <h4>Как найти понравившегося мастера или нужную вещь?</h4>

    <p>В верхнем левом углу  портала есть поиск. С его помощью Вы можете отыскать мастера, друга или какую-либо особую вещицу. Для этого Вам необходимо выбрать категорию поиска, поставив галочку в ячейки «товары» «услуги» или «люди» и ввести запрос.</p>

    <img src="/var/www/creativer/web/img/help/10.jpg" />

    <p class="margin-top_10">Для того, чтобы просмотреть каталог товаров необходимо выбрать нужную категорию и приготовится получать удовольствие от увиденного.</p>

    <p>Слева Вы увидите содержание данной категории.</p>

    <p>Под фотографией товара размещено название альбома при переходе в который Вы увидите остальные работы того же ремесленника. </p>

    <p>Ниже размещается имя  ремесленника, при нажатии происходит переход на его страничку.</p>

    <p>В каждой категории товаров и услуг располагается ссылка магазинов. При переходе по ней Вы найдете целый список магазинов где можно приобрести инструменты, профессиональные средства, оборудование и материалы для Ваших будущих работ.</p>

    <p>Если же Вы хотите воспользоваться какими-либо услугами мастеров, размещенных на портале, Вам  нужно выбрать соответствующую  категорию после чего Вам откроется страничка с «визитными карточками» мастеров. При нажатии на имя мастера осуществляется переход на его страничку.</p>

    <h4>Настройки личной старицы находятся в правом верхнем углу портала </h4>

    <img src="/var/www/creativer/web/img/help/11.jpg" />

    <h3 class="text-center">Добро пожаловать! И  желаем Вам творческих успехов!
        Если Вы не сумели разобраться с какими-либо функциями портала-всегда рады ответить на Ваши вопросы! Заходите в раздел «Обратная связь» и задавайте свои вопросы с пометкой «техпомощь».
    </h3>

</div>



