<div class="row slid text-gray" >
<h3 class='lobster'> Доброго времени суток! </h3>
<p> В ближайшее время в этом разделе появится подробная информация (пошаговое руководство) о том, как зарегистрировать и вести свою деятельность (открытие и ведение ИП, ЧУП, ООО | регистрация в качестве ремесленника | уплата единого налога). </p> 

</div>



