    <link rel="stylesheet" href="/css/pages/main.css">
    <link rel="stylesheet" href="/css/windy.css">



    <div class="row slid">

        <style>
            .wi-container li:first-child {
                display: list-item;
            }
        </style>

        <div class="slid__slider">
            <ul id="wi-el" class="wi-container" ng-init="wi_container=true">
                {% for banner in banners %}
                    <li><img src="{{ banner.url }}" alt="banner.name"/></li>
                {% endfor %}
            </ul>
            <nav>
                <span id="nav-prev"></span>
                <span id="nav-next"></span>
            </nav>
        </div>

        <div class="col-sm-6 text-left slide__products">
            <a href="./#/products/1000" class="products"></a>
            <a href="./#/products/11/1" class="toys_souvenirs"></a>
            <a href="./#/products/12/1" class="books"></a>
            <a href="./#/products/14/1" class="bijouterie"></a>
            <a href="./#/products/116/1" class="clothing"></a>
            <a href="./#/products/15/1" class="pictures"></a>
            <a href="./#/products/202/1" class="shoes"></a>
            <a href="./#/products/258/1" class="accessories"></a>
            <a href="./#/products/192/1" class="bags_belts"></a>
            <a href="./#/products/266/1" class="sweetness"></a>
        </div>
        <div class="col-sm-6 text-right slide__services right">
            <a href="./#/services/1001" class="services"></a>
            <a href="./#/services/1/1" class="manicure"></a>
            <a href="./#/services/2/1" class="tattoo"></a>
            <a href="./#/services/3/1" class="hairstyles"></a>
            <a href="./#/services/4/1" class="makeup"></a>
            <a href="./#/services/7/1" class="design"></a>
            <a href="./#/services/6/1" class="foto"></a>
            <a href="./#/services/8/1" class="sports_massage"></a>
            <a href="./#/services/9/1" class="animal"></a>
        </div>

    </div>

   <script src="/js/modernizr.custom.79639.js"></script>
   <script src="/js/jquery.windy.js"></script>
   <script>
       $(function () {
           var $el = $('#wi-el'),
                   windy = $el.windy(),
                   allownavnext = false,
                   allownavprev = false;

           $('#nav-prev').on('mousedown', function (event) {
               allownavprev = true;
               navprev();
           }).on('mouseup mouseleave', function (event) {
               allownavprev = false;
           });

           $('#nav-next').on('mousedown', function (event) {
               allownavnext = true;
               navnext();
           }).on('mouseup mouseleave', function (event) {
               allownavnext = false;
           });

           function navnext() {
               if (allownavnext) {
                   windy.next();
                   setTimeout(function () {
                       navnext();
                   }, 150);
               }
           }

           function navprev() {
               if (allownavprev) {
                   windy.prev();
                   setTimeout(function () {
                       navprev();
                   }, 150);
               }
           }
       });
   </script>

   {#<div class="row margin-top_25 padding-right_0 padding-left_0">#}
       {#<h4 class="lobster text-center fs_1-2">Creativer – это место, где люди могут продать и купить уникальные вещи, сделанные своими руками.</h4>#}

       {#<div class="row">#}
           {#<div class="col-sm-6">#}
               {#<p class="text-left text-gray">Для талантливых и креативных людей - это возможность реализоваться и сделать из своего хобби бизнес. Найти все необходимое для реализации своих идей.</p>#}
           {#</div>#}

           {#<div class="col-sm-6">#}
               {#<p class="text-left text-gray">Creativer – это удобный портал для поиска hand made изделий, дизайнерских и винтажных вещей, предметов искусства, необычных и стильных подарков. У нас Вы найдете себе мастеров тату, визажа, стрижки, маникюра, дизайна, фотографии и многих других.</p>#}
           {#</div>#}
       {#</div>#}

       {#<h4 class="lobster text-center fs_1-2">Своим проектом мы надеемся сделать мир ярче и прекраснее.</h4>#}
   {#</div>#}