   <link rel="stylesheet" href="/css/pages/main.css">

    <div class="row slid">

        <div class="slid__slider">
            <img src="/var/www/creativer/web/img/img_slider.png" />
        </div>

        <div class="col-sm-6 text-left slide__products">
            <a href="#" class="toys_souvenirs"></a>
            <a href="#" class="books"></a>
            <a href="#" class="bijouterie"></a>
            <a href="#" class="clothing"></a>
            <a href="#" class="clothing"></a>
            <a href="#" class="pictures"></a>
            <a href="#" class="shoes"></a>
            <a href="#" class="accessories"></a>
            <a href="#" class="bags_belts"></a>
        </div>
        <div class="col-sm-6 text-right slide__services right">
            <a href="#" class="manicure"></a>
            <a href="#" class="tattoo"></a>
            <a href="#" class="hairstyles"></a>
            <a href="#" class="makeup"></a>
            <a href="#" class="design"></a>
            <a href="#" class="foto"></a>
            <a href="#" class="sports_massage"></a>
        </div>

    </div>
