   <link rel="stylesheet" href="/css/pages/main.css">

    <div class="row slid">

        <div class="slid__slider">
            <img src="/var/www/creativer/web/img/img_slider.png" />
        </div>

        <div class="col-sm-6 text-left slide__products">
            <a href="./#/products11/" class="toys_souvenirs"></a>
            <a href="./#/products/13" class="books"></a>
            <a href="./#/products/14" class="bijouterie"></a>
            <a href="./#/products/" class="clothing"></a>
            <a href="./#/products/" class="clothing"></a>
            <a href="./#/products/15" class="pictures"></a>
            <a href="./#/products/" class="shoes"></a>
            <a href="./#/products/" class="accessories"></a>
            <a href="./#/products/" class="bags_belts"></a>
        </div>
        <div class="col-sm-6 text-right slide__services right">
            <a href="./#/services/1" class="manicure"></a>
            <a href="./#/services/2" class="tattoo"></a>
            <a href="./#/services/3" class="hairstyles"></a>
            <a href="./#/services/4" class="makeup"></a>
            <a href="./#/services/7" class="design"></a>
            <a href="./#/services/6" class="foto"></a>
            <a href="./#/services/8" class="sports_massage"></a>
        </div>

    </div>
