   <link rel="stylesheet" href="/css/pages/main.css">

    <div class="row slid">

        <div class="slid__slider">
            <img src="/var/www/creativer/web/img/img_slider.png" />
        </div>

        <div class="col-sm-6 text-left slide__products">
            <a href="./#/products" class="products"></a>
            <a href="./#/products/11" class="toys_souvenirs"></a>
            <a href="./#/products/13" class="books"></a>
            <a href="./#/products/14" class="bijouterie"></a>
            <a href="./#/products/" class="clothing"></a>
            <a href="./#/products/" class="clothing"></a>
            <a href="./#/products/15" class="pictures"></a>
            <a href="./#/products/" class="shoes"></a>
            <a href="./#/products/" class="accessories"></a>
            <a href="./#/products/" class="bags_belts"></a>
            <a href="./#/products/" class="sweetness"></a>
        </div>
        <div class="col-sm-6 text-right slide__services right">
            <a href="./#/services" class="services"></a>
            <a href="./#/services/1" class="manicure"></a>
            <a href="./#/services/2" class="tattoo"></a>
            <a href="./#/services/3" class="hairstyles"></a>
            <a href="./#/services/4" class="makeup"></a>
            <a href="./#/services/7" class="design"></a>
            <a href="./#/services/6" class="foto"></a>
            <a href="./#/services/8" class="sports_massage"></a>
            <a href="./#/services/8" class="animal"></a>
        </div>

    </div>

   {#<div class="row margin-top_25 padding-right_0 padding-left_0">#}
       {#<h4 class="lobster text-center fs_1-2">Creativer – это место, где люди могут продать и купить уникальные вещи, сделанные своими руками.</h4>#}

       {#<div class="row">#}
           {#<div class="col-sm-6">#}
               {#<p class="text-left text-gray">Для талантливых и креативных людей - это возможность реализоваться и сделать из своего хобби бизнес. Найти все необходимое для реализации своих идей.</p>#}
           {#</div>#}

           {#<div class="col-sm-6">#}
               {#<p class="text-left text-gray">Creativer – это удобный портал для поиска hand made изделий, дизайнерских и винтажных вещей, предметов искусства, необычных и стильных подарков. У нас Вы найдете себе мастеров тату, визажа, стрижки, маникюра, дизайна, фотографии и многих других.</p>#}
           {#</div>#}
       {#</div>#}

       {#<h4 class="lobster text-center fs_1-2">Своим проектом мы надеемся сделать мир ярче и прекраснее.</h4>#}
   {#</div>#}