    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/pages/messages.css">
    <link rel="stylesheet" href="/css/pages/personal_page.css">



    <div class="row slid  padding-right_0" ng-show="user">

        <div class="row">
            <h3 class="col-sm-5 lobster">Вячеслав Михно</h3>
            <div class="col-sm-7 margin-top_10">
                <div class="row">
                    <h4 class="lobster text-gray margin-left_15 left">Сообщения</h4>
                    <a class="text-gray fs_0-8 text-underline slid__back-link margin-left_15" href="">Вернуться на страницу</a>
                    <div class="slid__all__folder button_gray_message right text-center fs_0-9">
                        <span class="glyphicon glyphicon-folder-open"></span>&nbsp Папки &nbsp<span class="glyphicon glyphicon-menu-down"></span>
                    </div><br>
                </div>

            </div>

        </div>

        <div class="col-sm-5 user padding-left_0">
            {{ render(controller('CreativerFrontBundle:Default:userInfoTmp', {'id': id})) }}
        </div>

        <div class="col-sm-7 album">

            <textarea cols="74" rows="2" placeholder="Поиск сообщений" class="search__message "></textarea>


            <div class="row margin-top_15 horizontal_line">
                <div class="col-sm-2">
                    <div class="user__avatar-mini"><img src="/src/avatar.jpg"></div>
                </div>
                <div class="col-sm-8 padding-left_0">
                    <div class="row">
                        <div class=" col-sm-6 text-left"><a class="text-blue" href="">Михно Вячеслав</a></div>
                        <div class="col-sm-5 text-right fs_0-8"><time>2014 июн 12</time></div>
                    </div>
                    <div class="text-gray">
                        <p class="fs_0-8">Ребятушки, в четверг 28 июля начинается цикл мастерклассов по созданию игрушек из дерева своими руками. В основе серии Ребятушки, в четверг 28 июля начинается цикл мастерклассов по созданию ...</p>
                    </div>

                </div>
                <div class="col-sm-2">
                    <div class="slid__one__folder button_gray_message2 right text-center fs_0-9">
                        <span class="glyphicon glyphicon-folder-open"></span> &nbsp<span class="glyphicon glyphicon-menu-down"></span><br>
                        Папки
                    </div>
                    <a href="" class="text-blue text-underline fs_0-9">Удалить</a>
                </div>
            </div>

            <div class="row margin-top_15 horizontal_line">
                <div class="col-sm-2">
                    <div class="user__avatar-mini"><img src="/src/avatar.jpg"></div>
                </div>
                <div class="col-sm-8 padding-left_0">
                    <div class="row">
                        <div class=" col-sm-6 text-left"><a class="text-blue" href="">Михно Вячеслав</a></div>
                        <div class="col-sm-5 text-right fs_0-8"><time>2014 июн 12</time></div>
                    </div>
                    <div class="text-gray">
                        <p class="fs_0-8">Ребятушки, в четверг 28 июля начинается цикл мастерклассов по созданию игрушек из дерева своими руками. В основе серии Ребятушки, в четверг 28 июля начинается цикл мастерклассов по созданию ...</p>
                    </div>

                </div>
                <div class="col-sm-2">
                    <div class="slid__one__folder button_gray_message2 right text-center fs_0-9">
                        <span class="glyphicon glyphicon-folder-open"></span> &nbsp<span class="glyphicon glyphicon-menu-down"></span><br>
                        Папки
                    </div>
                    <a href="" class="text-blue text-underline fs_0-9">Удалить</a>
                </div>
            </div>

            <div class="row margin-top_15 horizontal_line">
                <div class="col-sm-2">
                    <div class="user__avatar-mini"><img src="/src/avatar.jpg"></div>
                </div>
                <div class="col-sm-8 padding-left_0">
                    <div class="row">
                        <div class=" col-sm-6 text-left"><a class="text-blue" href="">Михно Вячеслав</a></div>
                        <div class="col-sm-5 text-right fs_0-8"><time>2014 июн 12</time></div>
                    </div>
                    <div class="text-gray">
                        <p class="fs_0-8">Ребятушки, в четверг 28 июля начинается цикл мастерклассов по созданию игрушек из дерева своими руками. В основе серии Ребятушки, в четверг 28 июля начинается цикл мастерклассов по созданию ...</p>
                    </div>

                </div>
                <div class="col-sm-2">
                    <div class="slid__one__folder button_gray_message2 right text-center fs_0-9">
                        <span class="glyphicon glyphicon-folder-open"></span> &nbsp<span class="glyphicon glyphicon-menu-down"></span><br>
                        Папки
                    </div>
                    <a href="" class="text-blue text-underline fs_0-9">Удалить</a>
                </div>
            </div>


            <div class="early_message early-message text-center margin-top_10"><span>Ранние сообщения</span></div>

        </div>



    </div>
