    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/pages/messages.css">
    <link rel="stylesheet" href="/css/pages/personal_page.css">



    <div class="row slid  padding-right_0" ng-show="user">

        <div class="row">
            <h3 class="col-sm-5 lobster">[[ user.username ]] [[ user.lastname ]]</h3>
            <div class="col-sm-7 margin-top_10">
                <div class="row">
                    <div class="col-sm-3">
                        <h4 class="lobster text-gray margin-left_15 left">Сообщения</h4>
                    </div>

                    <div class="col-sm-3 col-sm-offset-6">
                        <label class="slid__all__folder button_gray_message right text-center fs_0-9 pointer" for="all_folders">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <span>&nbsp папки &nbsp</span>
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </label>
                        <input type="checkbox" class="folders__main" id="all_folders" />
                        <div class="folders__menu__main">
                            <div class="folders__menu__top-down"></div>
                            <div class="folders__menu__body">
                                <ul class="text-white folders__menu fs_1-1 padding-left_0 text-center">
                                    <li ng-repeat="folder in user.folders">[[ folder.name ]]</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="col-sm-5 user padding-left_0">
            {{ render(controller('CreativerFrontBundle:Default:userInfoTmp', {'id': id})) }}
        </div>

        <div class="col-sm-7 album">

            <textarea rows="2" placeholder="Найти сообшение" class="search__message"></textarea>


            <div class="margin-top_15 horizontal_line" ng-repeat="message in messages">
                <div class="row">
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-5 padding-left_3">
                        <a class="text-blue padding-left_0 chat__link" ng-if="message.sender != $root.id_user" href="#/[[ message.sender ]]">[[ message.username ]] [[ message.lastname ]]</a>
                        <a class="text-blue padding-left_0 chat__link" ng-if="message.receiver != $root.id_user" href="#/[[ message.receiver ]]">[[ message.username ]] [[ message.lastname ]]</a>
                    </div>
                    <div class="col-sm-4 margin-left_25">
                        <div class="text-left fs_0-8"><time class="text-gray">[[ message.date | date: "hh:mm dd.MM.yyyy" ]]</time></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="user__avatar-mini" style="margin-top: -10px;"><img ng-src="[[ message.avatar ]]" /></div>
                    </div>
                    <div class="col-sm-7">

                            <div class="row text-gray pointer">
                                <div class="col-sm-12 fs_0-8 padding-left_3 padding-right_0 background__text-reviewed" ng-class="{background__text: message.reviewed == false && message.sender != user.id}" ng-click="go('chat/'+ message.other_user)">
                                    [[ message.text ]]
                                </div>
                            </div>
                    </div>
                    <div class="col-sm-3 padding-left_0 padding-right_0 text-center">
                        <div class="col-sm-10 padding-right_0">
                            <label class="slid__one__folder button_gray_message2 right text-center fs_0-9 pointer" for="[[ message.sender ]]">
                                <span class="glyphicon glyphicon-folder-open"></span> &nbsp<span class="glyphicon glyphicon-menu-down"></span><br>
                                папки
                            </label>
                            <input type="radio" ng-model="$parent.checked" value="[[ message.sender ]]" class="folder" id="[[ message.sender ]]"  ng-click="uncheck($event)" />
                            <div class="folders__menu-down">
                                <div class="folders__menu__top-down"></div>
                                <div class="folders__menu__body">
                                    <ul class="text-white folders__menu fs_1-1 padding-left_0">
                                        <li ng-repeat="folder in user.folders">[[ folder.name ]]</li>
                                    </ul>
                                    <input class="text__create__folder" type="text" />
                                    <button class="true fs_0-9 margin-top_5">Создать</button>
                                </div>
                            </div>
                            {#<span class="text-blue text-underline fs_0-9">Удалить</span>#}
                        </div>
                    </div>
                </div>
            </div>
            {#<div class="early_message early-message text-center margin-top_10"><span>ещё сообщения</span></div>#}
        </div>
    </div>
