        <div class="row slid  padding-right_0" ng-show="user">

            <h3 class="lobster name__user"><a href="#/[[ user.id ]]">[[ user.username ]] [[ user.lastname ]]</a></h3>

            <div class="col-sm-5 user padding-left_0">
                {% if((id == app.security.getToken().getUser().getId()) or (id == null and app.security.getToken().getUser().getId()) ) %}
                    <div class="row">
                        <div class="col-sm-5 padding-left_0">
                            <label class="user__avatar edit__avatar" modal >
                                <img src="[[ user.avatar.img ]]" />
                                <input type="file" id="fileInput" style="display: none;" />
                            </label>
                        </div>

                        <div class="col-sm-7 user__text">
                            <div class="row col-sm-12 margin-top_10 padding-left_0">
                                <input class="text_info" ng-blur="saveField($event,'status')" obj="user" value="[[ user.status ]]" placeholder="Вы не указали свой статус." disabled>
                                <span class="glyphicon glyphicon-pencil edit" edit-pain="status"></span>
                            </div>
                            <div class="row col-sm-12 margin-top_10 padding-left_0">
                                <span class="gelocation_icon left"></span><input class="text_info gelocation_icon__text_info" ng-blur="saveField($event,'position')" obj="user" value="[[ user.position ]]" placeholder="Местоположение не обнаружено." disabled>
                                <span class="glyphicon glyphicon-pencil edit" edit-pain="position"></span>
                            </div>
                        </div>
                    </div>
                {% elseif(id != app.security.getToken().getUser().getId()) %}
                    <div class="row">
                        <div class="col-sm-5 padding-left_0">
                            <div class="user__avatar"><img src="[[ user.avatar.img ]]" /></div>
                        </div>
                        <div class="col-sm-7 user__text">
                            <div class="row col-sm-12 margin-top_10 padding-left_0">
                                <div class="text_info gelocation_icon__text_info" >[[ user.status ]]</div>
                            </div>
                            <div class="row col-sm-12 margin-top_10 padding-left_0">
                                <div class="text_info gelocation_icon__text_info" >[[ user.position ]]</div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if((id != app.security.getToken().getUser().getId()) or (id == null) ) %}
                    <div  class="margin-top_20">
                        <button class="button_message fs_0-9 margin-left_10" ng-click="savePost(user.wall.id)"><span class="glyphicon glyphicon-envelope"></span> Сообщение</button>
                        <button class="button_favorites fs_0-9 margin-left_5" ng-show="!favorit" ng-click="addFavorits(user.id)"><span class="glyphicon glyphicon-plus-sign" ></span> Избранное</button>
                        <button class="button_favorites fs_0-9 margin-left_5" ng-show="favorit" ng-click="removeFavorits(user.id)"><span class="glyphicon glyphicon-minus-sign" ></span> Избранное</button>
                    </div>
                {%  endif %}

                <div class="row margin-top_20">
                    <div class="col-sm-1 icon-color"><span class="glyphicon glyphicon-eye-open"></span></div>
                    <div class="col-sm-2 user__text_bold padding-left_0">Просмотры</div>
                    <div class="col-sm-3 col-md-offset-6 user__text_bold">0</div>
                </div>
                <div class="row margin-top_5">
                    <div class="col-sm-1 icon-color"><span class="glyphicon glyphicon-thumbs-up"></span></div>
                    <div class="col-sm-2 user__text_bold padding-left_0">Нравится</div>
                    <div class="col-sm-3 col-md-offset-6 user__text_bold">0</div>
                </div>
                <div class="row margin-top_5">
                    <div class="col-sm-1 icon-color"><span class="glyphicon glyphicon-heart"></span></div>
                    <div class="col-sm-4 user__text_bold padding-left_0">В избранных у</div>
                    <div class="col-sm-3 col-md-offset-4 user__text_bold">0</div>
                </div>

                {% if((id == app.security.getToken().getUser().getId()) or (id == null and app.security.getToken().getUser().getId()) ) %}
                    <div class="row margin-top_40 col-sm-12 user__text">
                        <div class="text-left user__text_bold">Информация:</div>
                        <input class="text_info" ng-blur="saveField($event,'info')" obj="user" value="[[ user.info ]]" placeholder="Вы ещё не запонили это поле." disabled>
                        <span class="glyphicon glyphicon-pencil edit" edit-pain="info"></span>
                    </div>

                    <div class="row margin-top_20 col-sm-12 user__text">
                        <div class="text-left user__text_bold">Специализация:</div>
                        <input class="text_info" ng-blur="saveField($event,'specialization')" obj="user" value="[[ user.specialization ]]" placeholder="Вы ещё не запонили это поле." disabled>
                        <span class="glyphicon glyphicon-pencil edit" edit-pain="specialization"></span>
                    </div>

                    <div class="row margin-top_20 col-sm-12 user__text">
                        <div class="text-left user__text_bold">Работал в:</div>
                        <input class="text_info" ng-blur="saveField($event,'worked')" obj="user" value="[[ user.worked ]]" placeholder="Вы ещё не запонили это поле." disabled>
                        <span class="glyphicon glyphicon-pencil edit" edit-pain="worked"></span>
                    </div>

                    <div class="row margin-top_20 col-sm-12 user__text">
                        <div class="text-left user__text_bold">Ссылки:</div>
                        <input class="text_info" ng-blur="saveField($event,'links')" obj="user" value="[[ user.links ]]" placeholder="Вы ещё не запонили это поле." disabled>
                        <span class="glyphicon glyphicon-pencil edit" edit-pain="links"></span>
                    </div>

                    <div class="row margin-top_20 col-sm-12 user__text">
                        <div class="text-left user__text_bold">Контакты:</div>
                        <input class="text_info" ng-blur="saveField($event,'contacts')" obj="user" value="[[ user.contacts ]]" placeholder="Вы ещё не запонили это поле." disabled>
                        <span class="glyphicon glyphicon-pencil edit"  edit-pain="contacts"></span>
                    </div>

                    <div class="margin-top_20 col-sm-12 user__text">
                        <div class="row text-left user__text_bold">Избранные:</div>

                        <a href="#/[[ favorit.id ]]" class="col-sm-2 padding-left_0 padding-right_0 block text-gray" ng-repeat="favorit in user.my_favorits.slice(0,5)">
                            <div class="user__avatar-mini">
                                <img ng-src="[[ favorit.avatar.img ]]">
                            </div>
                            <div class="text-center fs_0-8 lobster">[[ favorit.username ]]</div>
                            <div class="text-center fs_0-8 lobster">[[ favorit.lastname ]]</div>
                        </a>
                    </div>

                    <div class="row margin-top_20 col-sm-12 user__text">
                        <div class="text-left user__text_bold">Присоединился:</div>
                        <time class="text_info" >[[ user.date | date: "dd.MM.yyyy" ]]</time>
                    </div>

                {% elseif(id != app.security.getToken().getUser().getId()) %}
                    <div class="row margin-top_40 col-sm-12 user__text" ng-show="user.info">
                        <div class="text-left user__text_bold">Информация:</div>
                        <div class="">[[ user.info ]]</div>
                    </div>

                    <div class="row margin-top_20 col-sm-12 user__text" ng-show="user.specialization">
                        <div class="text-left user__text_bold">Специализация:</div>
                        <div class="text_info">[[ user.specialization ]]</div>
                    </div>

                    <div class="row margin-top_20 col-sm-12 user__text" ng-show="user.worked">
                        <div class="text-left user__text_bold">Работал в:</div>
                        <div class="text_info">[[ user.worked ]]</div>
                    </div>

                    <div class="row margin-top_20 col-sm-12 user__text" ng-show="user.links">
                        <div class="text-left user__text_bold">Ссылки:</div>
                        <div class="text_info">[[ user.links ]]</div>
                    </div>

                    <div class="row margin-top_20 col-sm-12 user__text" ng-show="user.contacts">
                        <div class="text-left user__text_bold">Контакты:</div>
                        <div class="text_info">[[ user.contacts ]]</div>
                    </div>

                    <div class="margin-top_20 col-sm-12 user__text">
                        <div class="row text-left user__text_bold">Избранные:</div>
                        <a href="#/[[ favorit.id ]]" class="col-sm-2 padding-left_0 padding-right_0 block text-gray" ng-repeat="favorit in user.my_favorits.slice(0,5)">
                            <div class="user__avatar-mini">
                                <img ng-src="[[ favorit.avatar.img ]]">
                            </div>
                            <div class="text-center fs_0-8 lobster">[[ favorit.username ]]</div>
                            <div class="text-center fs_0-8 lobster">[[ favorit.lastname ]]</div>
                        </a>
                    </div>

                    <div class="row margin-top_20 col-sm-12 user__text">
                        <div class="text-left user__text_bold">Присоединился:</div>
                        <time class="text_info" >[[ user.date | date: "dd.MM.yyyy" ]]</time>
                    </div>
                {% endif %}
            </div>

            <div class="col-sm-7 album" ng-init="count_albums=3">
                <h4 class="lobster text-gray">Альбомы</h4>
                <div class="album__element" ng-repeat="album in user.albums.slice(0,count_albums)">
                    <a href="#/album/[[album.id]]" class="album__link"></a>
                    <div class="frame__img">
                        <img class="album_img" ng-show="album.img" ng-src="{{ path_img_album_thums }}[[ album.img ]]" />
                        <img class="album_img" ng-show="!album.img" ng-src="{{ path_img_album_thums }}[[ album.images[0].name ]]" />

                    </div>
                    <img class="frame" src="/var/www/creativer/web/img/frame.png" />
                    <div class="album__element-block">
                        <a href="#/album/[[album.id]]" class="album__element-name">[[ album.name ]]</a>
                        <div class="left-info__album user__text-gray margin-left_10"><span class="glyphicon glyphicon-eye-open"></span> <span class="fs_0-9">0</span></div>
                        <div class="right-info__album user__text-gray margin-right_10"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="fs_0-9">67</span></div>
                    </div>
                </div>



                <div class="row margin-top_25 text-center user__text pointer" ng-show="user.albums.length > 3 && count_albums < user.albums.length" ng-click="count_albums = user.albums.length">
                    Показать остальные альбомы <span class="glyphicon glyphicon-menu-down"></span>
                </div>

                <div class="row margin-top_25 text-center user__text" ng-show="user.albums.length == 0">
                    Альбомов ещё нет, <a href="/app_dev.php/person#/create_album">создать альбом</a>
                </div>

                <h4 class="lobster margin-top_20 text-gray">Стена</h4>

                <textarea msd-elastic class="text-gray" cols="73" rows="2" placeholder="Написать сообщение" ng-model="text_post"></textarea>
                <div ng-show="text_post" class="margin-top_5 text-right">
                    <button class="true fs_0-9" ng-click="savePost(user.wall,user.wall.id,text_post)">Отправить</button>
                    <button class="false fs_0-9" ng-click="text_post=''">Отменить</button>
                </div>

                <div class="row margin-top_10" ng-repeat="post in user.wall.posts">

                    <div class="col-sm-2">
                        <div class="user__avatar-mini"><img ng-src="[[ post.avatar.img ]]"></div>
                    </div>
                    <div class="col-sm-10 padding-left_0">
                        <div class="col-sm-6 user__text_bold padding-left_0">[[ post.username ]] [[ post.lastname ]]</div>
                        <div class="col-sm-6 text-right"><time class="comment_time">[[ post.date | date: "dd.MM.yyyy" ]]</time></div>
                        <div class="user__text text-left col-sm-12 padding-left_0">[[post.text]]</div>
                        <div class="col-sm-6 padding-left_0 user__text-blue"><span class="text-blue pointer" ng-show="!post.comments[0]" ng-click="com='true'">Комментировать</span></div>
                        <div class="col-sm-6 text-right user__text-blue"><a class="text-blue" href="">Редактировать</a></div>
                    </div>

                    <div class="row margin-left_60 col-sm-11" ng-repeat="comment in post.comments">
                        <div class="col-sm-11 margin-left_25 margin-top_10 slid__comment__line"></div>
                        <div class="col-sm-2">
                            <div class="user__avatar-super-mini"><img ng-src="[[ comment.avatar.img ]]"></div>
                        </div>
                        <div class="col-sm-10 padding-left_0">
                            <div class="col-sm-12 user__text_bold">[[ comment.username ]] [[ comment.lastname ]]</div>
                            <div class="user__text col-sm-12">[[comment.text]]</div>
                            <time class="text-gray comment_time col-sm-12">[[ comment.date | date: "dd.MM.yyyy HH:mm" ]]</time>

                        </div>
                    </div>
                    <div class="row margin-left_60 col-sm-11" ng-show="post.comments[0] || com">
                        <textarea msd-elastic class="text-gray margin-left_20 margin-top_10"  ng-model="text_comment" cols="63" rows="1" placeholder="Комментировать" style="width: 455px;"></textarea>
                        <div ng-show="text_comment" class="margin-top_5 margin-left_20 text-right" style="margin-right: 15px;">
                            <button class="true fs_0-9" ng-click="saveComment(post,post.id,text_comment)">Отправить</button>
                            <button class="false fs_0-9" ng-click="text_comment=''">Отменить</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>



        <div ng-show="myImage" class="background__viewer-avatar">

            <div class="border__viewer-avatar margin-top_100">
                <div class="border__viewer__wrapper-avatar">

                    <!-- Modal -->
                    <div class="cropArea row" style="height: 340px;">


                            <img-crop class="col-sm-9 border-avatar" image="myImage" result-image="myCroppedImage" result-image-size="120" style="max-height: 100%;"></img-crop>
                            <div class="col-sm-3">
                                <div class="row col-sm-offset-4 user__avatar padding-left_0 padding-right_0">
                                    <img src="[[ myCroppedImage ]]">
                                    <input type="file" id="fileInput" style="display: none;">
                                </div>

                                <div class="row user__avatar-mini padding-left_0 padding-right_0">
                                    <img src="[[ myCroppedImage ]]">
                                </div>
                            </div>

                    </div>

                    <div class="row margin-top_10 right">
                        <button type="submit" class="true" ng-click="updateAvatar(myCroppedImage)">Отправить</button>
                        <button type="reset" class="false" ng-click="myImage=''">Отменить</button>
                    </div>


                </div>
            </div>

        </div>










