        <div class="row slid  padding-right_0">

            <h3 class="lobster">[[ user.username ]] [[ user.lastname ]]</h3>

            <div class="col-sm-5 user padding-left_0">
                <div class="row">
                    <div class="col-sm-5 padding-left_0">
                        <div class="user__avatar"><img ng-src="[[ user.img ]]" /></div>
                    </div>
                    <div class="col-sm-7 user__text">
                        <div class="row col-sm-12 margin-top_10 padding-left_0">
                            [[ user.status ]]
                            <span class="glyphicon glyphicon-pencil edit"></span>
                        </div>
                        <div class="row col-sm-12 margin-top_10 padding-left_0">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            [[ user.position ]]
                            <span class="glyphicon glyphicon-pencil edit"></span>
                        </div>

                    </div>
                </div>

                <div class="row margin-top_20">
                    <div class="col-sm-1 icon-color"><span class="glyphicon glyphicon-eye-open"></span></div>
                    <div class="col-sm-2 user__text_bold padding-left_0">Просмотры</div>
                    <div class="col-sm-3 col-md-offset-6 user__text_bold">423</div>
                </div>

                <div class="row margin-top_5">
                    <div class="col-sm-1 icon-color"><span class="glyphicon glyphicon-thumbs-up"></span></div>
                    <div class="col-sm-2 user__text_bold padding-left_0">Нравится</div>
                    <div class="col-sm-3 col-md-offset-6 user__text_bold">23</div>
                </div>

                <div class="row margin-top_5">
                    <div class="col-sm-1 icon-color"><span class="glyphicon glyphicon-heart"></span></div>
                    <div class="col-sm-2 user__text_bold padding-left_0">Избранные</div>
                    <div class="col-sm-3 col-md-offset-6 user__text_bold">1233</div>
                </div>

                <div class="row margin-top_40 col-sm-12 user__text">
                    <div class="text-left user__text_bold">Информация:</div>
                    [[ user.info ]]
                    <span class="glyphicon glyphicon-pencil edit"></span>
                </div>

                <div class="row margin-top_20 col-sm-12 user__text">
                    <div class="text-left user__text_bold">Специализация:</div>
                    [[ user.specialization ]]
                    <span class="glyphicon glyphicon-pencil edit"></span>
                </div>

                <div class="row margin-top_20 col-sm-12 user__text">
                    <div class="text-left user__text_bold">Работал в:</div>
                    [[ user.worked ]]
                    <span class="glyphicon glyphicon-pencil edit"></span>
                </div>

                <div class="row margin-top_20 col-sm-12 user__text">
                    <div class="text-left user__text_bold">Ссылки:</div>
                    [[ user.links ]]
                    <span class="glyphicon glyphicon-pencil edit"></span>
                </div>

                <div class="row margin-top_20 col-sm-12 user__text">
                    <div class="text-left user__text_bold">Контакты:</div>
                    [[ user.contacts ]]
                    <span class="glyphicon glyphicon-pencil edit"></span>
                </div>

                <div class="row margin-top_20 col-sm-12 user__text">
                    <div class="text-left user__text_bold">Присоединился:</div>
                    <time>[[ user.date ]]</time>
                    <span class="glyphicon glyphicon-pencil edit"></span>
                </div>
            </div>

            <div class="col-sm-7 album">
                <h4 class="lobster text-gray">Альбомы</h4>
                <div class="album__element">
                    <img src="/var/www/creativer/web/src/img_album.png" />
                    <div>
                        <p class="album__element-name">Игрушки для мальчиков</p>
                        <div class="left-info user__text-gray margin-left_10"><span class="glyphicon glyphicon-eye-open"></span> <span class="fs_0-9">123</span></div>
                        <div class="right-info user__text-gray margin-right_10"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="fs_0-9">43345</span></div>
                    </div>
                </div>
                <div class="album__element">
                    <img src="/var/www/creativer/web/src/img_album.png" />
                    <div>
                        <p class="album__element-name">Игрушки для мальчиков</p>
                        <div class="left-info user__text-gray margin-left_10"><span class="glyphicon glyphicon-eye-open"></span> <span class="fs_0-9">123</span></div>
                        <div class="right-info user__text-gray margin-right_10"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="fs_0-9">43345</span></div>
                    </div>
                </div>
                <div class="album__element">
                    <img src="/var/www/creativer/web/src/img_album.png" />
                    <div>
                        <p class="album__element-name">Игрушки для мальчиков</p>
                        <div class="left-info user__text-gray margin-left_10"><span class="glyphicon glyphicon-eye-open"></span> <span class="fs_0-9">123</span></div>
                        <div class="right-info user__text-gray margin-right_10"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="fs_0-9">43345</span></div>
                    </div>
                </div>



                <div class="row margin-top_15 text-center user__text" >
                    Ещё 10 альбомов <span class="glyphicon glyphicon-menu-down"></span>
                </div>

                <h4 class="lobster margin-top_20 text-gray">Стена</h4>

                <textarea class="text-gray" cols="73" rows="2" placeholder="Написать сообщение"></textarea>

                <div class="row margin-top_10">

                    <div class="col-sm-2">
                        <div class="user__avatar-mini"><img src="/var/www/creativer/web/src/avatar.jpg"></div>
                    </div>
                    <div class="col-sm-10 padding-left_0">
                        <div class="col-sm-6 user__text_bold padding-left_0">Михно Вячеслав</div>
                        <div class="col-sm-6 text-right"><time class="text-gray">12 июн 2015</time></div>
                        <p class="margin-top_30 user__text">Ребятушки, в четверг 28 июля начинается цикл мастерклассов по созданию игрушек из дерева своими руками. В основе серии мастерклассов лежит бла бла экологически чистых игрушек для вашых малышей от 0 до 8 лет. Принять участие может каждый, в том числе и дети. Скидка для детей 70%. Запись по телефонам:
                            +375 29 47-56-75 Татьяна
                            +375 33 45-56-67 Антон
                        </p>
                        <div class="col-sm-6 padding-left_0 user__text-blue"><a class="text-blue" href="">Комментировать</a></div>
                        <div class="col-sm-6 text-right user__text-blue"><a class="text-blue" href="">Редактировать</a></div>
                    </div>


                </div>

            </div>


        </div>


