        <link rel="stylesheet" href="/css/pages/personal_page.css">

        <div class="row slid  padding-right_0" ng-show="user">

            <h3 class="lobster name__user"><a href="#/[[ user.id ]]">[[ user.username ]] [[ user.lastname ]]</a></h3>

            <div class="col-sm-5 user padding-left_0">
                {{ render(controller('CreativerFrontBundle:Default:userInfoTmp', {'id': id})) }}
            </div>

            <div class="col-sm-7 album" ng-init="count_albums=3">
                <h4 class="lobster text-gray">Альбомы</h4>
                <div class="album__element" ng-repeat="album in user.albums.slice(0,count_albums)">
                    <a href="#/album/[[album.id]]" class="album__link"></a>
                    <div class="frame__img">
                        <img class="album_img" ng-show="album.img" ng-src="{{ path_img_album_thums }}[[ album.img ]]" />
                        <img class="album_img" ng-show="!album.img" ng-src="{{ path_img_album_thums }}[[ album.images[0].name ]]" />

                    </div>
                    <img class="frame" src="/var/www/creativer/web/img/frame.png" />
                    <div class="album__element-block">
                        <a href="#/album/[[album.id]]" class="album__element-name">[[ album.name ]]</a>
                        <div class="left-info__album user__text-gray margin-left_10"><span class="glyphicon glyphicon-eye-open"></span> <span class="fs_0-9">0</span></div>
                        <div class="right-info__album user__text-gray margin-right_10"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="fs_0-9">[[ album.likes ]]</span></div>
                    </div>
                </div>



                <div class="row margin-top_25 text-center user__text pointer" ng-show="user.albums.length > 3 && count_albums < user.albums.length" ng-click="count_albums = user.albums.length">
                    Показать остальные альбомы <span class="glyphicon glyphicon-menu-down"></span>
                </div>

                <div class="row margin-top_25 text-center user__text pointer" ng-show="user.albums.length > 3 && count_albums == user.albums.length" ng-click="count_albums = 3">
                    Скрыть альбомы <span class="glyphicon glyphicon-menu-up"></span>
                </div>

                <div class="row margin-top_25 text-center user__text" ng-show="user.albums.length == 0">
                    Альбомов ещё нет, <a href="/app_dev.php/#/create_album">создать альбом</a>
                </div>

                <h4 class="lobster margin-top_20 text-gray">Стена</h4>

                {% if is_granted('ROLE_USER') %}
                    <textarea msd-elastic="" class="text-gray" cols="73" rows="2" placeholder="Написать сообщение" ng-model="text_post" style="height: 50px;"></textarea>
                {% endif %}
                <div ng-show="text_post" class="margin-top_5 text-right">
                    <button class="true fs_0-9" ng-click="savePost(user.wall,user.wall.id,text_post)">Отправить</button>
                    <button class="false fs_0-9" ng-click="text_post=''">Отменить</button>
                </div>

                <div class="row margin-top_10" ng-repeat="post in user.wall.posts">

                    <div class="col-sm-2">
                        <div class="user__avatar-mini"><img ng-src="[[ post.avatar.img ]]"></div>
                    </div>
                    <div class="col-sm-10 padding-left_0">
                        <div class="col-sm-6 user__text_bold padding-left_0">[[ post.username ]] [[ post.lastname ]]</div>
                        <div class="col-sm-6 text-right"><time class="comment_time">[[ post.date | date: "dd.MM.yyyy" ]]</time></div>
                        <div class="user__text text-left col-sm-12 padding-left_0">[[post.text]]</div>
                        {% if is_granted('ROLE_USER') %}
                            <div class="col-sm-6 padding-left_0 user__text-blue"><span class="text-blue pointer" ng-show="!post.comments[0]" ng-click="com='true'">Комментировать</span></div>
                            <div class="col-sm-6 text-right user__text-blue"><a class="text-blue" href="">Редактировать</a></div>
                        {%  endif %}
                    </div>

                    <div class="row margin-left_60 col-sm-11" ng-repeat="comment in post.comments">
                        <div class="col-sm-11 margin-left_25 margin-top_10 slid__comment__line"></div>
                        <div class="col-sm-2">
                            <div class="user__avatar-super-mini"><img ng-src="[[ comment.avatar.img ]]"></div>
                        </div>
                        <div class="col-sm-10 padding-left_0">
                            <div class="col-sm-12 user__text_bold">[[ comment.username ]] [[ comment.lastname ]]</div>
                            <div class="user__text col-sm-12">[[comment.text]]</div>
                            <time class="text-gray comment_time col-sm-12">[[ comment.date | date: "dd.MM.yyyy HH:mm" ]]</time>

                        </div>
                    </div>
                    <div class="row margin-left_60 col-sm-11" ng-show="post.comments[0] || com">
                        {% if is_granted('ROLE_USER') %}
                            <textarea msd-elastic="" class="text-gray margin-left_20 margin-top_10"  ng-model="text_comment" cols="63" rows="1" placeholder="Комментировать" style="width: 455px;"></textarea>
                            <div ng-show="text_comment" class="margin-top_5 margin-left_20 text-right" style="margin-right: 15px;">
                                <button class="true fs_0-9" ng-click="saveComment(post,post.id,text_comment)">Отправить</button>
                                <button class="false fs_0-9" ng-click="text_comment=''">Отменить</button>
                            </div>
                        {%  endif %}
                    </div>

                </div>

            </div>
        </div>



        <div ng-show="myImage" class="background__viewer-avatar">

            <div class="border__viewer-avatar margin-top_100">
                <div class="border__viewer__wrapper-avatar">

                    <!-- Modal -->
                    <div class="cropArea row" style="height: 340px;">


                            <img-crop class="col-sm-9 border-avatar" image="myImage" result-image="myCroppedImage" result-image-size="120" style="max-height: 100%;"></img-crop>
                            <div class="col-sm-3">
                                <div class="row col-sm-offset-4 user__avatar padding-left_0 padding-right_0">
                                    <img src="[[ myCroppedImage ]]">
                                    <input type="file" id="fileInput" style="display: none;">
                                </div>

                                <div class="row user__avatar-mini padding-left_0 padding-right_0">
                                    <img src="[[ myCroppedImage ]]">
                                </div>
                            </div>

                    </div>

                    <div class="row margin-top_10 right">
                        <button type="submit" class="true" ng-click="updateAvatar(myCroppedImage)">Отправить</button>
                        <button type="reset" class="false" ng-click="myImage=''">Отменить</button>
                    </div>


                </div>
            </div>

        </div>










