    <link rel="stylesheet" href="/css/pages/products.css">


    <div class="row slid padding-right_0">

        <div class="col-sm-3 padding-left_0 ">
            <div class="slid__products__top"></div>
            <nav class="font_product fiveMinuts">
                <ul>
                    <li ng-repeat="product_one in $root.products">
                        <a ng-class="{menu_action_black: product_one.id == $root.product.id}" href="#/products/[[ product_one.id ]]/1">[[ product_one.name ]]</a>
                        <ul ng-show="product_one.id == $root.product.id || product_one.child == true">
                            <span ng-if="product_one.id == $root.product.id" ng-init="product_one.child=true; $root.product.name=product_one.name;"></span>
                            <li ng-repeat="product_two in product_one.children">
                                <a ng-class="{menu_action_black: product_two.id == $root.product.id, font_product_dropdown: product_two.children.length}" href="#/products/[[ product_two.id ]]/1">[[ product_two.name ]]</a>
                                <ul ng-show="product_two.children.length || product_one.child == true">
                                    <span ng-if="product_two.id == $root.product.id" ng-init="product_one.child=true; $root.product.name=product_two.name;"></span>
                                    <li ng-repeat="product_three in product_two.children" >
                                        <span ng-if="product_three.id == $root.product.id" ng-init="product_one.child=true; $root.product.name=product_three.name;"></span>
                                        <a ng-class="{menu_action_black: product_three.id == $root.product.id}" href="#/products/[[ product_three.id ]]/1">[[ product_three.name ]]</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="slid__products__bottom"></div>

            <div class="row margin-left_15">
                <img src="/var/www/creativer/web/banner/reclama.png" alt="реклама" />
            </div>

            <div class="row margin-left_15 slid__news margin-top_40">
                <div class="text-center text-white">События</div>

                <a class="text-gray" href="#/event/[[ news_events[0].id ]]">
                    <time class="slid__news__time" datetime="2015-02-14">[[ news_events[0].date | date: "dd MMM yyyy" ]]</time>
                    <h5 class="text-bold margin-bottom_5 margin-top_5">[[ news_events[0].name.slice(0,28) ]]...</h5>
                    <p id="new_event_1">
                    </p>
                    <div><span class="text-blue center-block text-right" href="#/event/[[ news_events[0].id ]]">Далее </span></div>
                </a>

                <a class="text-gray" href="#/event/[[ news_events[1].id ]]">
                    <time class="slid__news__time" datetime="2015-02-14">[[ news_events[1].date | date: "dd MMM yyyy" ]]</time>
                    <h5 class="text-bold margin-bottom_5 margin-top_5">[[ news_events[1].name.slice(0,28) ]]...</h5>
                    <p id="new_event_2">
                    </p>
                    <div><span class="text-blue center-block text-right" href="#/event/[[ news_events[1].id ]]">Далее </span></div>
                </a>

                <a class="menu_action_still" href="#/events">Ещё</a>
            </div>

            <form class="row  slid__get__news margin-top_40 margin-left_10">
                <input type="text" class="slid__get__news__element" placeholder="Ваш E-mail">
                <button class="slid__get__news__element-buttom " type="submit">Ok</button>
            </form>

        </div>

        <div class="col-sm-9 fs_0-8">
            <div class="row"><h2 class="lobster">[[ $root.product.name ]]</h2></div>
            <div class="row">
                <div class="col-sm-4 padding-left_0">
                    Сортировать по:
                    <select class="slid__order-by" ng-model="$root.filterCondition">
                        <option ng-selected="[[ filter.value == $root.filterCondition ]]"
                                ng-repeat="filter in filters"
                                value="[[ filter.value ]]">
                            {{operator.displayName}}
                        </option>
                        <option value="likes" ng-selected="$root.filter == 'likes'">рейтингу</option>
                        <option value="views">кол-ву просмотров</option>
                        <option value="date">дате добавления</option>
                    </select>
                </div>
                {#<div class="col-sm-3 extended__search">
                    <label for="search">Расширенный поиск</label>
                    <input id="search" class="extended__search__element" type="checkbox" >
                    <span></span>
                </div>#}

                <div class="col-sm-3 col-sm-offset-2 slid__pagination fiveMinuts" ng-show="pages.length > 1">
                    <a href="#/products/[[ product.id ]]/[[ page ]]" ng-repeat="page in pages" ng-class="{slid__pagination__element_active: page == currentPage}">[[ page ]]</a>
                </div>

            </div>

            <div class="row slid__card slid__card__first">

                <div ng-show="items.items.length >= 1" class="col-sm-3 padding-left_0" ng-repeat="(key, item) in items.items">
                    <a href="#/products/[[ product.id ]]/[[ currentPage ]]/[[ item.name ]]/[[ key ]]" animation-image img="{{ path_img_album_thums }}[[ item.path ]][[ item.name ]]" style='background:url("{{ path_img_album_thums }}[[ item.path ]][[ item.name ]]") top left no-repeat;' class="container_image_product" >
                        {#<span class="slid__card__price">[[ item.price ]] руб.</span>#}
                    </a>
                    <a href="#/album/[[ item.id_album ]]" class="slid__card__name">[[ item.name_album ]]</a>
                    <a href="#/[[ item.id_user ]]" class="slid__card__name_user">[[ item.username ]] [[ item.lastname ]]</a>
                </div>

                <div ng-show="items.items.length < 1" class="lobster fs_1-2 text-center text-gray empty_catalog">ПУСТО</div>

            </div>


            <div class="row">
                <div class="col-sm-5 col-sm-offset-5 slid__pagination fiveMinuts margin-top_30" ng-show="pages.length > 1">
                    <a href="#/products/[[ product.id ]]/[[ page ]]" ng-repeat="page in pages" ng-class="{slid__pagination__element_active: page == currentPage}">[[ page ]]</a>
                </div>
            </div>
        </div>

        {{ render(controller('CreativerFrontBundle:Default:showProductPhotoTmp')) }}

    </div>

