<div class="row slid text-gray" >
    <h3 class="text-center">Правила пользования сайтом Creativer</h3>

    <h4 class="text-center">Основные положения</h4>

        <h4 class="text-center">1. Общие положения</h4>
        <ul class="list-unstyled red_line">
            <li>1. Сайт Creativer (далее — Сайт), размещается по адресу <a href="/">http://creativer.by</a>. На Сайте предоставляется возможность создавать уникальные страницы физических и юридических лиц c информацией о себе, своём творчестве и ремесле. Размещение возможно как на бесплатной, так и на платной основе, после ознакомления и соглашения с Публичным договором.  Зарегистрированным пользователям сайта доступен дополнительный функционал в виде бесплатного общения друг с другом посредством чата, либо размещения комментариев на странице пользователей. Также предоставляется возможность размещения в открытом доступе разнообразных сообщений для ознакомления с ними других посетителей (раздел «Барахолка»). На сайте также может размещаться рекламная и другая информация от имени Администрации.</li>
            <li>2. Термины и определения настоящих Правил пользования сайтом:</li>
            <li>2.1. Пользователь — физическое и/или юридическое лицо, использующее Сайт и соглашающееся с настоящими Правилами.</li>
            <li>2.2. Никнейм — имя пользователя, под которым он зарегистрирован, отображаемое на экране на личной странице и в сообщениях данного пользователя Сайта.</li>
            <li>2.3. Аватар — графическое представление Пользователя, картинка, которая отображается на экране на личной странице и в сообщениях данного пользователя Сайта.</li>
            <li>2.4. Администрация — Общество с ограниченной ответственностью «Креативер бай».</li>
            <li>2.5. Публичный договор – Публичный договор на оказание услуг http://creativer.by, размещенный на Сайте.</li>
            <li>2.6. Модератор — уполномоченное Администрацией лицо, занимающееся Модерацией.</li>
            <li>2.7. Модерация — действия Модератора, направленные на соблюдение пользователями правил пользования Сайтом.</li>
            <li>2.8. Информация — любые данные, тексты, графические изображения, фотоизображения, аудио- и видеоинформация.</li>
            <li>2.9. Комментарий — сообщение, которое размещается по желанию Пользователя на личной странице любого из Пользователей Сайта, в т.ч. на своей, и содержит Информацию.</li>
            <li>2.10. Сообщение – сообщение, которое Пользователь может целенаправленно послать другому Пользователю, но только после предварительной регистрации на Сайте.</li>
            <li>3. Вы соглашаетесь с настоящими Правилами, если:</li>
            <li>3.1. Вы ставите галочку «Я согласен с Правилами пользования сайта и Публичным договором» при регистрации на Сайте в качестве Пользователя либо</li>
            <li>3.2. Вы посещаете Сайт. В этом случае Вы понимаете и соглашаетесь с тем, что Администрация будет расценивать факт пользования Вами Сайтом как согласие с Правилами пользования сайтом с соответствующего момента времени.</li>
            <li>3.4. Незнание Правил пользования айтом не освобождает вас от ответственности за их нарушение.</li>
        </ul>
    <h4 class="text-center">2. Права и обязанности:</h4>
    <ul class="list-unstyled red_line">
        <li>1. Права и обязанности Пользователя:</li>
        <li>1.1. Пользователь обязуется соблюдать настоящие Правила.</li>
        <li>1.2. В случае несогласия с Правилами пользования Сайтом Пользователь обязуется отказаться от дальнейшего использования Сайта.</li>
        <li>1.3. При регистрации на Сайте Пользователь обязан предоставить Администрации Сайта необходимую достоверную и актуальную информацию для формирования персональной страницы Пользователя, включая уникальные для каждого Пользователя логин (адрес электронной для входа на Сайт) и пароль доступа к Сайту, а также фамилию и имя. Регистрационная форма Сайта может запрашивать у Пользователя дополнительную информацию.</li>
        <li>1.4. Пользователь обязуется предоставить полную, точную и достоверную информацию при осуществлении процедуры регистрации в соответствии с вопросами регистрационной формы.</li>
        <li>1.5. Пользователь несет ответственность за достоверность, актуальность, полноту и соответствие законодательству РБ предоставленной при регистрации информации и ее чистоту от претензий третьих лиц.</li>
        <li>1.6. В случае верного последовательного выполнения всех регистрационных действий на Сайте создается персональная страница Пользователя, имеющая сетевой адрес вида http://сreativer.by/#!/id[номер].</li>
        <li>1.7. Раскрытие предоставленной Пользователем информации может быть произведено лишь в соответствии с действующим законодательством РБ  по требованию суда, правоохранительных органов, а равно в иных предусмотренных законодательством РБ случаях.</li>
        <li>1.8. Выбранные Пользователем логин и пароль являются необходимой и достаточной информацией для доступа Пользователя на Сайт. Пользователь не имеет права передавать свои логин и пароль третьим лицам, несет полную ответственность за их сохранность, самостоятельно выбирая способ их хранения.</li>
        <li>1.9. После регистрации Пользователь получает право самостоятельно создавать, использовать и определять содержание собственной персональной страницы, а также получает возможности доступа и размещения информации на персональных страницах других Пользователей (при условии получения соответствующих прав доступа от их обладателей), использовать внутренние сообщения (чат).</li>
        <li>1.10. При размещении Пользователем информации о себе на персональной странице, он обязан руководствоваться настоящими Правилами, касающимися размещения Информации.</li>
        <li>1.11. При осуществлении предпринимательской деятельности и размещении рекламы этой деятельности на Сайте, Пользователь обязуется указать следующие данные:</li>
        <li>1.11.1. Наименование юридического лица или индивидуального предпринимателя;</li>
        <li>1.11.2. Учетный номер плательщика (УНП);</li>
        <li>1.11.3. Выслать копию свидетельства о регистрации Администрации Сайта на электронную почту info@creativer.by;</li>
        <li>1.11.4. Для лицензируемых видов деятельности необходимо указать номер лицензии, срок её действия, наименование органа, выдавшего лицензию.</li>
        <li>1.11.5. Требования по предоставлению информации, указанной в пункте 1.4., не распространяется на Пользователей следующих категорий:</li>
        <li>1.11.5.1. физические лица, являющихся плательщиками единого налога (ст.295 НК РБ);</li>
        <li>1.11.5.2. ремесленники;</li>
        <li>1.11.5.3. физические лица, не осуществляющие предпринимательскую деятельность.</li>
        <li>1.12. В случае не соблюдения пункта 1.4. настоящих Правил, Пользователь несет полную ответственность за незаконную предпринимательскую деятельность в соответствии с законодательством РБ.</li>
        <li>1.13. Размещая на Сайте информацию, комментарии, сообщения, используя аватар, никнейм, Пользователь тем самым подтверждает, что имеет на это все необходимые права, не нарушает этим права третьих лиц, а также какие-либо законы и иные акты обязательного характера.</li>
        <li>1.14. Пользователь не имеет права копировать (воспроизводить), перерабатывать, распространять, публиковать, скачивать, передавать, отчуждать или иным способом использовать целиком или по частям Информацию на Сайте, размещенную другим пользователем либо Администрацией, без предварительного разрешения такого другого пользователя (правообладателя, не являющегося пользователем) либо Администрации. Для того чтобы использовать (копировать) такую информацию, Пользователю необходимо связаться с таким пользователем, выяснить, кто является правообладателем в отношении указанной выше Информации, и получить разрешение на использование такой Информации.</li>
        <li>1.15. Пользователь обязуется не использовать Сайт в целях, противоречащих законодательству РБ.</li>
        <li>1.16. Пользователь обязуется не использовать Сайт, в частности, для:</li>
        <li>1.16.1. размещения любой информации, которая содержит угрозы, дискредитирует, оскорбляет, порочит честь и достоинство или деловую репутацию или нарушает неприкосновенность частной жизни других Пользователей Сайта или третьих лиц, содержит грубые, нецензурные выражения и оскорбления в любой форме, немотивированную, субъективную критику;</li>
        <li>1.16.2. нарушения прав на интеллектуальную собственность;</li>
        <li>1.16.3. размещения порнографических материалов и ссылок на порноресурсы;</li>
        <li>1.16.4. размещения информации так или иначе связанной с политикой и/или содержащую призывы изменить власть неконституционным путем;</li>
        <li>1.16.5. разжигания межнациональной розни;</li>
        <li>1.16.6. размещения информации о том, как изготавливать взрывчатые вещества, организовывать террористические акты;</li>
        <li>1.16.7. размещения государственных секретов и коммерческих тайн;</li>
        <li>1.16.8. размещения информации о лицах, не достигших совершеннолетия без согласия их опекунов или родителей;</li>
        <li>1.16.9. размещения информации о способах совершения самоубийств;</li>
        <li>1.16.10. продажи или информирования о наркотических или психотропных средствах и их прекурсорах.</li>
        <li>1.16.11. размещения иной любой информации, которая очевидно или случайно способна причинить вред любым лицам;</li>
        <li>1.16.12. публикации персональных данных третьих лиц (в частности, телефонных номеров, адреса проживания) без их согласия;</li>
        <li>1.17. Пользователь обязан контролировать логин и пароль, которые необходимы для размещения информации, комментариев, сообщений и иных действий под Никнеймом Пользователя и любые действия на Сайте, сделанные с использованием Никнейма Пользователя, расцениваются Администрацией исключительно как действия Пользователя, а не третьих лиц, которые могли каким-либо образом перехватить контроль над Никнеймом Пользователя. Таким образом, Пользователь несет полную ответственность за действия, которые совершены при использовании его Никнейма.</li>
        <li>2. Права и обязанности Администрации:</li>
        <li>2.1. Администрация имеет право хранить информацию обо всех подключениях Пользователя, включая IP-адреса, с которых Пользователь посещает Сайт, и адреса запрошенных страниц.</li>
        <li>2.2. Администрация имеет право без объяснения причин заблокировать доступ любого Пользователя к Сайту, удалить любую размещенную информацию Пользователя.</li>
        <li>2.3. Администрация при нарушении Пользователем настоящих Правил (в том числе если посчитает, что информация, предоставленная Пользователем в регистрационной форме, не соответствует действительности) имеет право приостановить или прекратить права данного Пользователя по использованию всех или некоторых возможностей Сайта.</li>
        <li>2.4. Администрация имеет право по своему усмотрению изменять функционал и возможности Сайта.</li>
        <li>2.5. Администрация имеет право планово либо внепланово изменять технические характеристики и параметры программно-технических средств, задействованных на Сайте, в том числе с временным приостановлением работы Сайта.</li>
        <li>2.6. Администрация оставляет за собой право хранить (архивировать) любые сообщения Пользователя на Сайте, подписи, использованные аватары с целью сохранения (обеспечения) доказательств по любому гражданскому, уголовному, административному делу.</li>
        <li>2.7. Администрация имеет право посылать Пользователям сервисные сообщения, касающиеся, в частности, функционирования Сайта, изменений настоящих Правил, предупреждений.</li>
        <li>2.8. Администрация вправе высылать Пользователю информационные письма, связанные с работой сайта на электронную почту, оставленную Пользователем при регистрации.</li>
        <li>3. Права и обязанности Модератора:</li>
        <li>3.1. Модератор имеет право без предварительного уведомления удалять и изменять любую информацию, размещенную Пользователем на Сайте.</li>
    </ul>
    <h4 class="text-center">3. Требования при использовании Сайта:</h4>
    <ul class="list-unstyled red_line">
        <li>1. Никнейм пользователя:</li>
        <li>1.1. Никнейм пользователя должен состоять более чем из трех символов и не должен превышать 30 символов.</li>
        <li>1.2. Запрещается использовать в Никнейме адреса веб-сайтов, а также грубые, оскорбительные и нецензурные выражения.</li>
        <li>1.3. Запрещается использовать в Никнейме любую информацию, не относящуюся к Пользователю.</li>
        <li>1.4. Никнейм пользователя не должен нарушать требования законодательства Республики Беларусь.</li>
        <li>2. Аватар не должен нарушать все нижеуказанные правила:</li>
        <li>2.1. При выборе изображения для аватара соблюдайте авторские права. Запрещается использование аватара с нарушением авторских прав.</li>
        <li>2.2. Запрещается использовать в качестве аватара изображения реальных личностей без их согласия.</li>
        <li>2.3. Запрещается использовать в качестве аватара фотографии либо изображения известных личностей или политиков.</li>
        <li>2.4. Запрещается использовать в качестве аватара рекламу, не относящуюся к Пользователю.</li>
        <li>3. Правила написания комментариев:</li>
        <li>3.1. При написании комментариев соблюдайте требования законодательства Республики Беларусь. Запрещается размещение комментариев, нарушающих законодательство Республики Беларусь.</li>
        <li>3.2. Запрещается размещение комментариев, содержащих призывы к нарушению действующего законодательства.</li>
        <li>3.3. Запрещается размещение комментариев, содержащих высказывания расистского характера, разжигание межнациональной розни.</li>
        <li>3.4. При написании комментариев соблюдайте авторские права на произведения науки, литературы, искусства. При цитировании обязательно указывайте источник и автора.</li>
        <li>3.5. Запрещается размещение комментариев, содержащих информацию, ограниченную к распространению в соответствии с законодательством, договором или иным соглашением.</li>
        <li>3.6. Запрещается размещение комментариев, содержащих информацию, касающуюся личной жизни других пользователей, без их разрешения, в том числе разглашение содержания корреспонденции, телефонных и иных сообщений личной переписки, реальных имен и иных личных данных (адресов, телефонов, мест работы и т. п.) других пользователей.</li>
        <li>3.7. Запрещается размещение комментариев, посвященных обсуждению действий или личностей Модераторов либо Администрации.</li>
        <li>3.8. Запрещается размещение комментариев, тем или иным образом связанных с политикой.</li>
        <li>3.9. Запрещается размещение комментариев, содержащих любую информацию, которая содержит угрозы, дискредитирует, оскорбляет, порочит честь и достоинство или деловую репутацию или нарушает неприкосновенность частной жизни других Пользователей Сайта или третьих лиц, содержащих грубые, нецензурные выражения и оскорбления в любой форме, немотивированную, субъективную критику.</li>
        <li>4. Требования к изображениям, которые прикрепляются к комментариям:</li>
        <li>4.1. На прикрепляемые изображения распространяются все требования настоящих Правил, относящиеся к Аватарам.</li>
        <li>5. Требования к (внутренним) сообщениям:</li>
        <li>5.1. запрещается размещать в сообщении ссылки на сайты схожей тематики, а также их названия в любом виде;</li>
        <li>5.2. запрещается рассылать Спам посредством внутренних сообщений (под Спамом подразумевается любая рассылка, на получение которой Пользователи не давали своего согласия (хотя бы один из них);</li>
        <li>5.3. запрещается прямо или косвенно оскорблять других Пользователей;</li>
        <li>5.4. запрещаются угрозы различного характера;</li>
        <li>5.5. запрещается "преследование" Пользователей путем отправки нежелательных многочисленных внутренних сообщений любого характера;</li>
        <li>5.6. запрещается распространять информацию, которая нарушает права третьих сторон, в частности, личные данные, контактные данные, переписку, электронную почту или содержание телефонных разговоров без согласия лиц, к которым они имеют отношение;</li>
        <li>5.7. запрещаются многочисленные сообщения с целью узнать электронную почту  других Пользователей под любым предлогом;</li>
    </ul>
    <h4 class="text-center">4. Модерация:</h4>
    <ul class="list-unstyled red_line">
        <li>1. За соблюдением настоящих Правил следят Модераторы и Администрация. Модераторы и Администрация могут делать Пользователям предупреждения, редактировать, удалять информацию и комментарии Пользователей.</li>
        <li>2. Сообщения пользователей на Сайте являются постмодерируемыми, то есть проверка Модераторами и Администрацией сообщений на предмет их соответствия настоящим Правилам происходит после размещения таких сообщений. При этом Администрация не гарантирует проверку абсолютно всех сообщений — ответственность за возможное нарушение Пользователем настоящих Правил, законодательства, в том числе законодательства какого-либо государства, лежит исключительно на Пользователе.</li>
        <li>3. Если Пользователь считает, что какие-либо сообщения нарушают законодательство Республики Беларусь или международные нормы, настоящие Правила, содержат коммерческую тайну или способны нанести ущерб физическим или юридическим лицам, Пользователь имеет право сообщить об этом Модератору, написав письмо на электронную почту info@creativer.by или используя возможность обратной связи.</li>
        <li>4. Модерация комментариев в разделе «События» проводится на основании общих Правил сайта. Модератор может выставить предупреждение, запрет писать на 5 дней и запрет писать навсегда. Кроме того, автоматическая блокировка на 5 дней происходит при получении каждого пятого предупреждения.</li>
        <li>5. Модератор может ограничить доступ Пользователя к Сайту без предупреждения за нарушение настоящих Правил.</li>
    </ul>
    <h4 class="text-center">5. Ответственность. Ограничение ответственности:</h4>
    <ul class="list-unstyled red_line">
        <li>1. Пользователь несёт полную ответственность за распространяемую им Информацию.
        <li>2. Администрация не обладает соответствующими знаниями и ресурсами (в том числе и людскими), чтобы отследить всю информацию, размещаемую на Сайте, и проверить её на соответствие законодательству РБ. Поэтому Администрация не несет никакой ответственности за достоверность и законность информации, публикуемой Пользователями на Сайте.
        <li>3. В соответствии с законодательством правоохранительные органы Республики Беларусь имеют право обратиться к Администрации за информацией о любом из Пользователей, разместивших информацию на Сайте, и Администрация обязана предоставить им всю доступную информацию.
        <li>4. Пользователи, размещающие информацию, должны быть готовы в случае необходимости самостоятельно предоставить доказательства ее правомерности и законности.
        <li>5. Администрация не дает гарантии в отношении качества работы Сайта, возможности его использовать в любое время по собственному выбору. Администрация также не гарантирует достоверность информации на Сайте, безопасность Сайта (в том числе отсутствие вирусов), непрерывность и отсутствие сбоев, ошибок или внешнего вмешательства при функционировании Сайта. Администрация не гарантирует работоспособность Сайта в любое время.
        <li>6. Администрация не несет ответственности за возможный ущерб, причиненный информацией, размещенной Пользователями на Сайте и не гарантирует, что она полна, полезна и правдива, и не несет ответственности за такую информацию.
        <li>7. Администрация не гарантирует, что Сайт будет совместим и/или функционировать с любым программным обеспечением вашего компьютера. В комментариях Пользователей на Сайте могут стоять ссылки на другие сайты или ресурсы. Поскольку Администрация не контролирует другие сайты или ресурсы, Администрация не несет ответственности за работоспособность таких сайтов или ресурсов, а равно за содержание, рекламу, материалы, товары и услуги, доступные на таких сайтах или ресурсах. Администрация не несет ответственности за любой вред, который может быть причинен вам третьими лицами, разместившими такие ссылки.
    </ul>
    <h4 class="text-center">6. Авторские права:</h4>
    <ul class="list-unstyled red_line">
        <li>. Размещая свою информацию, Пользователь подтверждает наличие у него всех необходимых прав на размещение данного сообщения.</li>
        <li>2. Размещая свою Информацию на Сайте, Пользователь безвозмездно передает Администрации права на её использование в любой форме и любым способом, включая, но не ограничиваясь: воспроизведение, распространение, показ, исполнение, перевод, переделка (переработка).</li>
        <li>3. Третьим лицам при использовании (цитировании) информации с Сайта необходимо получить согласие у Пользователей, разместивших данную информацию, либо у Администрации и в обязательном порядке дать ссылку на Сайт.</li>
    </ul>
    <h4 class="text-center">7. Порядок изменений данных Правил:</h4>
    <ul class="list-unstyled red_line">
        <li>1. Настоящие Правила изменяются Администрацией в одностороннем порядке по мере необходимости без согласования с пользователями и без их предварительного уведомления.</li>
        <li>2. В случае несогласия Пользователя с внесенными изменениями и/или дополнениями Пользователь должен отказаться от дальнейшего использования Сайта. Если Пользователь пользуется Сайтом после даты внесения изменений в настоящие Правила, Администрация будет расценивать данный факт как согласие с измененными Правилами.</li>
        <li>3. По адресу http://creativer.by/#!/rules всегда находится действующая на данный конкретный момент редакция Правил. Пользователь должен самостоятельно проверять Правила на предмет их изменения.</li>
        <li>8. Правила пользования «Барахолкой»:</li>
        <li>1. Правила пользования Сайтом Creativer, размещенные по адресу http://creativer.by/#!/rules, распространяются на разделы Сайта «Барахолка».</li>
        <li>2. Любой посетитель «Барахолки» должен ознакомиться с Правилами перед тем, как использовать данные разделы сайта.</li>
        <li>3. Объявления, размещаемые в разделе «Барахолка», должны содержать:</li>
        <li>3.1. Описание конкретного товара, работы или услуги. Описание должно быть полным и достоверным.</li>
        <li>3.2. По возможности цену товара, работы или услуги. При этом цена товара (услуги) обязательно должна указываться в белорусских рублях. Цена указывается в специальном поле, добавление информации о цене в текст объявления не разрешается.</li>
        <li>3.3. Достоверную информацию о продавце.</li>
        <li>3.4. Достоверную контактную информацию. К обязательной контактной информации относятся электронная почта и номер телефона.</li>
        <li>3.5. В случае размещения фотографий, объявление должно содержать реальные фотографии предмета сделки, соответствующие конкретному продаваемому экземпляру. Не допускается размещение фотографий, на которых содержится ссылка на посторонние сайты.</li>
        <li>4. Администрация Сайта никаким образом не связана с лицами, размещающими сообщения на «Барахолке», не оказывает никакого влияния на их деятельность, не заинтересовано в такой деятельности, не проверяет размещенные сообщения на предмет их актуальности, действительности, соответствия законодательству и, как следствие вышеперечисленного, не несет никакой ответственности за сообщения, размещенные на «Барахолке».</li>
        <li>5. Запрещается размещение сообщений в разделах «Барахолка» лицами, деятельность которых является предпринимательской деятельностью, при отсутствии регистрации указанных лиц в качестве индивидуальных предпринимателей, если иное не предусмотрено законодательством Республики Беларусь. Запрещается размещение сообщений в разделах «Барахолка» лицами, деятельность которых требует для ее осуществления получения специального разрешения (лицензии), если такие лица не получили такое специальное разрешение (лицензию), если иное не предусмотрено законодательством Республики Беларусь. Запрещается размещение сообщений в разделах «Барахолка» лицами, деятельность которых требует для ее осуществления прохождения определенных административных и иных процедур, предусмотренных законодательством, если такие лица не совершили соответствующих процедур, предусмотренных законодательством.</li>
        <li>6. Индивидуальные предприниматели и юридические лица при размещении сообщений в разделах «Барахолка» обязаны соблюдать требования законодательства о рекламе и защите прав потребителей.</li>
        <li>7. Запрещается размещение в разделах «Барахолка» сообщений, содержащих предложения/спрос оказания услуг, запрещенных законодательством, сомнительного содержания, а также не запрещенных напрямую, однако в отношении которых имеются основания предполагать, что они могут нанести вред Сайту и его пользователям.</li>
        <li>8. В разделах «Барахолка» не допускается продажа следующих товаров: оружия или патронов к нему; государственных наград Республики Беларусь; алкогольной продукции; табачных изделий; пиротехнических изделий; лекарственных средств; биологически активных добавок; ветеринарных средств; скоропортящихся продовольственных товаров, кулинарной продукции; наркотических средств, психотропных веществ и их прекурсоров; органов и тканей человека; анаболических стероидов; иных товаров, реализация которых запрещена законодательством.</li>
        <li>9. Запрещается создание в разделах «Барахолка» объявлений, не подходящих по тематике.</li>
        <li>10. Модератор и Администрация вправе удалить любое объявление в разделах «Барахолка» без объяснения причин.</li>
        <li>11. В случае нарушения настоящих Правил Модератор и Администрация вправе удалить все объявления Пользователя, а также лишить его возможности дальнейшей подачи объявлений.</li>
    </ul>
</div>



