
    <div class="row slid padding-right_0">

        <div class="col-sm-3 padding-left_0 ">
            <div class="slid__services__top"></div>
            <nav class="font_service fiveMinuts">
                <ul>
                    <li ng-repeat="service_one in $root.services">
                        <a ng-class="{menu_action_black: service_one.id == $root.service.id}" href="#/services/[[ service_one.id ]]">[[ service_one.name ]]</a>
                        <ul ng-show="service_one.id == $root.service.id || service_one.child == true">
                            <span ng-if="service_one.id == $root.service.id" ng-init="service_one.child=true; $root.services.name=service_one.name;"></span>
                            <li ng-repeat="service_two in service_one.children">
                                <a ng-class="{menu_action_black: service_two.id == $root.service.id, font_product_dropdown: service_two.children.length}" href="#/services/[[ service_two.id ]]">[[ service_two.name ]]</a>
                                <ul ng-show="service_two.children.length || service_one.child == true">
                                    <span ng-if="service_two.id == $root.service.id" ng-init="service_one.child=true; $root.services.name=service_two.name;"></span>
                                    <li ng-repeat="service_three in service_two.children" >
                                        <span ng-if="service_three.id == $root.service.id" ng-init="service_one.child=true; $root.services.name=service_three.name;"></span>
                                        <a ng-class="{menu_action_black: service_three.id == $root.service.id}" href="#/services/[[ service_three.id ]]">[[ service_three.name ]]</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="slid__services__bottom"></div>

            <div class="row margin-left_15">
                <img src="/var/www/creativer/web/banner/reclama.png" alt="реклама" />
            </div>

            <div class="row margin-left_15 slid__news margin-top_40">
                <div class="text-center text-white">События</div>

                <a class="text-gray" href="#/event/[[ news_events[0].id ]]">
                    <time class="slid__news__time" datetime="2015-02-14">[[ news_events[0].date | date: "dd MMM yyyy" ]]</time>
                    <h5 class="text-bold margin-bottom_5 margin-top_5">[[ news_events[0].name.slice(0,28) ]]...</h5>
                    <p id="new_event_1">
                    </p>
                    <div><span class="text-blue center-block text-right" href="#/event/[[ news_events[0].id ]]">Далее </span></div>
                </a>

                <a class="text-gray" href="#/event/[[ news_events[1].id ]]">
                    <time class="slid__news__time" datetime="2015-02-14">[[ news_events[1].date | date: "dd MMM yyyy" ]]</time>
                    <h5 class="text-bold margin-bottom_5 margin-top_5">[[ news_events[1].name.slice(0,28) ]]...</h5>
                    <p id="new_event_2">
                    </p>
                    <div><span class="text-blue center-block text-right" href="#/event/[[ news_events[1].id ]]">Далее </span></div>
                </a>

                <a class="menu_action_still" href="#/events">Ещё</a>
            </div>

            <form class="row  slid__get__news margin-top_40 margin-left_10">
                <input type="text" class="slid__get__news__element" placeholder="Ваш E-mail">
                <button class="slid__get__news__element-buttom " type="submit">Ok</button>
            </form>

        </div>

        <div class="col-sm-9 fs_0-8">
            <div class="row"><h2 class="lobster">[[ $root.services.name ]]</h2></div>
            <div class="row">
                <div class="col-sm-4 padding-left_0">
                    Сортировать по:
                    <select class="slid__order-by" ng-model="$root.filterConditionServices">
                        <option ng-selected="[[ filter.value == $root.filterConditionServices ]]"
                                ng-repeat="filter in filters"
                                value="[[ filter.value ]]">
                            {{operator.displayName}}
                        </option>
                        <option value="likes" ng-selected="$root.filter == 'likes'">рейтингу</option>
                        <option value="views">кол-ву просмотров</option>
                        <option value="date">дате добавления</option>
                    </select>
                </div>
                {#<div class="col-sm-3 extended__search">
                    <label for="search">Расширенный поиск</label>
                    <input id="search" class="extended__search__element" type="checkbox" >
                    <span></span>
                </div>#}

                <div class="col-sm-3 col-sm-offset-2 slid__pagination fiveMinuts" ng-show="pages_services.length > 1">
                    <a href="#/services/[[ service.id ]]/[[ page ]]" ng-repeat="page in pages_services" ng-class="{slid__pagination__element_active: page == currentPage}">[[ page ]]</a>
                </div>
            </div>

            <div class="row slid__card slid__card__first">

                <div class="col-sm-6" ng-repeat="item in items_services.items" ng-init="count = item.images.length">
                    <div class="col-sm-6  padding-left_0 padding-right_5 slid__card__img margin-top_25" ng-init="count = item.images.length">
                        <div class="col-sm-12 padding-left_0 padding-right_0 overflow-hidden">
                            <a animation-image href="#/album/[[ item.id ]]" img="/home/album/thums/[[ item.images[random].path ]][[ item.images[random].name ]]" ng-init="random = math.floor(math.random() * count);" style='background:url("/home/album/thums/[[ item.images[random].path ]][[ item.images[random].name ]]") top left no-repeat;' class="container_image_services" >                            </a>
                            <!--<span class="slid__card__price">[[ item.images[random].price ]] руб.</span>-->
                        </div>
                    </div>
                    <div class="col-sm-6 padding-left_0 slid__card__info margin-top_25">
                        <a href="#/album/[[ item.id ]]" class="slid__card__name text-bold">[[ item.name ]]</a>
                        <a href="#/[[ item.user.id ]]" class="slid__card__name_user">[[ item.user.username ]] [[ item.user.lastname ]]</a>
                        <p class="text-gray margin-top_15">[[ item.description ]]</p>
                    </div>
                </div>

                <div ng-show="items_services.items.length < 1" class="lobster fs_1-2 text-center text-gray empty_catalog">ПУСТО</div>


            </div>


            <div class="row">
                <div class="col-sm-5 col-sm-offset-5 slid__pagination fiveMinuts margin-top_30" ng-show="pages_services.length > 1">
                    <a href="#/services/[[ service.id ]]/[[ page ]]" ng-repeat="page in pages_services" ng-class="{slid__pagination__element_active: page == currentPage}">[[ page ]]</a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-7">
                    <div class="banner-horizontal margin-top_40"><img src="/var/www/creativer/web/banner/banner_list.png" /></div>
                </div>
            </div>
        </div>


    </div>
