<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBg4-8UFvuhitcVtR4J0MuxAtTTDCqUG5c&sensor=true&region=ru">
</script>

<div class="container container-big">

    <ul class="gridder hidden_shop margin-top_20" id="hasSelectedItem">

        <li class="gridder-list" data-griddercontent="#gridder-content-10[[ key ]]" ng-repeat="(key,image) in shop.images">
            <div class="image" style="background-image: url('{{ path_img_shop }}[[ image.path ]][[ image.name ]]');">
                <div class="overlay">

                </div>
            </div>

    </ul>

    <div id="gridder-content-10[[ key ]]" class="gridder-content" ng-repeat="(key,image) in shop.images">
        <img src="{{ path_img_shop }}[[ image.path ]][[ image.name ]]">
        <div class="description">

        </div>
        <span ng-if="(shop.images.length-1) == key" shop-images></span>
    </div>


</div>

    <div class="row slid margin-top_20">

        <div class="col-sm-5">
            <table class="table table-striped">
                <tr ng-show="shop.name">
                    <td ng-if="shop.img" class="logo_shop"><img src="{{ path_img_shop }}[[ shop.path ]][[ shop.img ]]" /></td>
                    <td ng-if="!shop.img" class="logo_shop"><img src="{{ path_img_shop }}[[ shop.images[0].path ]][[ shop.images[0].name ]]" /></td>
                    <td>[[ shop.name ]]</td>
                </tr>
                <tr ng-show="shop.site">
                    <td>Сайт</td>
                    <td>[[ shop.site ]]</td>
                </tr>
                <tr ng-show="shop.telephone">
                    <td>Телефон</td>
                    <td>[[ shop.telephone ]]</td>
                </tr>
                <tr ng-show="shop.email">
                    <td>E-mail</td>
                    <td>[[ shop.email ]]</td>
                </tr>
                <tr ng-show="shop.address[0]">
                    <td>Адрес</td>
                    <td>
                        <span ng-repeat="item in shop.address">
                            <span>[[ item.address ]]</span></br>
                        </span>
                    </td>
                </tr>
                <tr ng-show="shop.email">
                    <td>Время работы</td>
                    <td>[[ shop.working_time ]]</td>
                </tr>
                <tr ng-show="shop.address[0]">
                    <td colspan="2">
                        <div ng-model="shop.address" id="map_canvas" shop-map style="width: 340px; height: 254px;">
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-sm-7">
            {#{% if is_granted('ROLE_USER') %}#}
            {#<a href="#!/create_shop" class="col-sm-5 advert_button margin-top_20">Добавить магазин</a>#}
            {#{% endif %}#}

            <h3 class="lobster">О нас</h3>
            <div class="text-gray">
               [[ shop.description ]]
            </div>

        </div>

    </div>
    <script src="/js/jquery.gridder.js"></script>
    <link rel="stylesheet" href="/css/vendor/jquery.gridder.min.css">
    <link rel="stylesheet" href="/css/vendor/demo.css">


    {#<script>#}
        {#jQuery(document).ready(function ($) {#}

            {#// Call Gridder#}
            {#$(".gridder").gridderExpander({#}
                {#scroll: true,#}
                {#scrollOffset: 60,#}
                {#scrollTo: "panel", // panel or listitem#}
                {#animationSpeed: 400,#}
                {#animationEasing: "easeInOutExpo",#}
                {#showNav: true,#}
                {#nextText: "<i class=\"glyphicon glyphicon-chevron-right\"></i>",#}
                {#prevText: "<i class=\"glyphicon glyphicon-chevron-left\"></i>",#}
                {#closeText: "<i class=\"glyphicon glyphicon-remove\"></i>",#}
                {#onStart: function(){#}
                    {#console.log("Gridder Inititialized");#}
                {#},#}
                {#onContent: function(){#}
                   {#$("#hasSelectedItem").removeClass('hidden_shop', 1000, "easeOutSine");#}
                {#},#}
                {#onClosed: function(){#}
                   {#setTimeout(function(){#}
                       {#$("#hasSelectedItem").addClass('hidden_shop', 1000, "easeOutSine");#}
                   {#})#}
                {#}#}
            {#});#}
        {#});#}
    {#</script>#}