    <link rel="stylesheet" href="/css/pages/viewtopic.css">


    <div class="row slid">

        <div class="col-sm-10 padding-left_0">
            <div class="row">
                <div class="col-sm-2 padding-left_0"><h3 class="lobster margin-left_0">Барахолка</h3></div>
                <div class="col-sm-3 slid__search padding-left_0 margin-top_20">
                    <input placeholder="Поиск по барахолке">
                    <button class="slid__slider-button"></button>
                </div>
                <div class="col-sm-3 slid__search__link margin-top_20">
                    <a href="">Взглянуть шире</a>
                </div>
            </div>

            <nav class="row slid__menu margin-top_20">
                <div class="col-sm-3 padding-left_0 padding-right_0" style="width: 21%;">
                    <span>Регион</span>
                    <label class="open text-blue cities__select pointer" for="all_cities"><span>[[ city.name || 'Беларусь' ]]</span></label>
                    <input type="checkbox" class="cities-checkbox" id="all_cities">
                    <div class="cities__menu__main">
                        <div class="cities__background-top"></div>
                        <div class="cities__background-body">
                            <ul class="text-white cities__menu fs_1-1 padding-left_0 text-center">
                                <li ng-repeat="city in post_city">
                                    <label>[[ city.name ]]
                                        <input type="radio" class="city-radio" name="city" ng-value="[[ city ]]" ng-model="$root.city" ng-click="uncheck($root.city.id)" />
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2 padding-left_0" style="width: 19%;">
                    <input type="checkbox" class="baraholka__checkbox" id="my_singboard" ng-model="$root.my_singboard">
                    <label class="text-blue baraholka__label" for="my_singboard">Мои объявления</label>
                </div>
                <div class="col-sm-4 padding-right_0 padding-left_0">
                    <input type="checkbox" class="baraholka__checkbox" id="singboard_participate" ng-model="$root.singboard_participate">
                    <label class="text-blue baraholka__label" for="singboard_participate">Объявления, в которых я участвую</label>
                </div>
                <div class="col-sm-3">
                    <input type="checkbox" class="baraholka__checkbox" id="new24" ng-model="$root.new24">
                    <label class="text-blue baraholka__label" for="new24">Новое за 24 часа</label>
                </div>
            </nav>

            <div class="row"><a class="text-blue text-italic" href="#/viewforum/[[ post.categories_baraholka.id ]]">Вернуться к объявлениям</a></div>
            <div class="row"><h2 class="lobster margin-left_0">[[ post.name ]]</h2></div>
            <div class="row">
                <div class="col-sm-6 padding-left_0 fs_0-8"><time class="comment_time">[[ post.date | date: "dd.MM.yyyy" ]]</time></div>
                <div class="col-sm-6 text-blue fs_0-8 text-right" ng-if="post.user.id == $root.id_user"><a href="#/edit_fleamarketposting/[[ post.id ]]">Редактировать</a></div>
            </div>

            <div class="row margin-top_25">
                <div class="col-sm-2 padding-left_0"><a href="#/[[ post.user.id ]]">
                        [[ post.user.username ]] [[ post.user.lastname ]]
                        <div class="user__avatar-mini margin-top_10">
                            <img src="[[ post.user.avatar ]]">
                        </div>
                    </a></div>
                <article class="col-sm-10 slid_article">
                    <p class="text-gray">
                        [[ post.full_description ]]
                        <div class="text-center">
                            <div ng-repeat="img in post.images_baraholka"><img class="img-barholka" ng-src="{{ path_img_baraholka_original }}/[[ img.name ]]" /></div>
                        </div>
                    </p>
                </article>
            </div>

            {% if is_granted('ROLE_USER') %}
                <div class="row margin-top_30 text-right padding-5-15-5-15">
                        <textarea msd-elastic="" class="text-gray right margin-top_10"  ng-model="text_comment" ccols="97" rows="3" placeholder="Комментировать" style="height: 70px; width: 687px"></textarea>
                </div>
                <div ng-show="text_comment" class="margin-top_15 margin-left_20 text-right">
                    <button class="true fs_0-9" ng-class="{'loader':loader}" ng-click="saveComment(text_comment)">Отправить</button>
                    <button class="false fs_0-9" ng-click="text_comment=''">Отменить</button>
                </div>
            {%  endif %}



            <div class="row slid__comment margin-top_20" ng-repeat="comment in post.post_comments">
                <div class="col-sm-11 col-sm-offset-1 padding-left_0">

                    <div class="user__avatar left">
                        <div class="user__avatar-mini-2"><img src="[[ comment.user.avatar ]]"></div>
                    </div>

                    <div>
                        <div class="text-blue"><a href="#/[[ comment.user.id ]]">[[ comment.user.username ]] [[ comment.user.lastname ]]</a></div>
                        <div class="margin-top_5"><p>[[ comment.text ]]</p></div>
                        <div class="margin-left_60 text-gray fs_0-8 left"><time datetime="2014:12:12">[[ comment.date | date: "dd.MM.yyyy HH:mm" ]]</time></div>
                        <div class="right fs_0-8"><a class="text-gray" href="">Ответить</a>  <a class="text-gray" href="">Спам</a></div>
                    </div>

                    <div class="col-sm-12 slid__comment__line"></div>
                </div>
            </div>


        </div>

        <div class="col-sm-2">
            <a href="#/fleamarketposting" class="col-sm-5 advert_button margin-top_20">Разместить объявление</a>

            <div class="row">
                <div class="margin-top_80">
                    <img class="margin-top_20" src="/var/www/creativer/web/banner/reclama.png" alt="реклама" />
                    <img class="margin-top_20" src="/var/www/creativer/web/banner/reclama.png" alt="реклама" />
                    <img class="margin-top_20" src="/var/www/creativer/web/banner/reclama.png" alt="реклама" />
                </div>

            </div>

        </div>


    </div>
