<script>
    window.onclick = function(){
        document.getElementById('fail_auth').style.display = 'none';
    }
</script>
<form class="col-sm-3 col-sm-offset-5 form-auth" action="{{ path('security_check') }}" method="post">
    <input class="form-auth__input fiveMinuts left margin-left_10" type="password" id="password" name="password" placeholder="Шифр"/>
    <input class="form-auth__input fiveMinuts left margin-left_15" type="text" id="username" name="email" value="{{ last_username }}" placeholder="Email"/>
    <button type="submit" name="login" class="form-auth__buttom margin-left_5" id="login" data-placement="bottom" data-content="Пароль или email неверны"></button>
    {% if error %}
        <div ng-if="fail_auth" id="fail_auth" class="fail_auth"><span>пароль или email неверны</span></div>
    {% endif %}
</form>