html, body{
    min-height: 100%;
    height: 100%;
}

button{
    outline: none;
}

[ng-cloak]
{
    display: none !important;
}

.container{
    box-sizing: border-box;
}

input:focus,textarea:focus,select:focus{
    outline: 2px solid #b29f81;
}

.header{
    background: url("/var/www/creativer/web/img/header_background_img.png");
    height: 163px;
    background-repeat: no-repeat;
    background-position: top 0px center;
    padding-top: 10px;
}

.logo{
    display:block;
    border: none;
    position: absolute;
    top: -55px;
}

.empty_message{
    font-size: 3em!important;
    margin-top: 35px;
    opacity: 0.5;
}

.header__search{
    width: 105px;
    height: 20px;
    background-color: #e9d0ae;
    border-top: 1px solid #9b8166;
    border-left: 1px solid #9b8166;
    border-right: 1px solid #e4d1ae;
    border-bottom: 1px solid #e4d1ae;
    padding-left: 10px;
    display: block;
}


.header__search-button{
    background-color: transparent;
    border: none;
    width: 31px;
    height: 36px;
    float: right;
    cursor: pointer;
}

.header__search-button:hover {
    -webkit-transform: rotate(15deg); /* Chrome y Safari */
    -moz-transform: rotate(15deg); /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); /* Internet Explorer */
    -o-transform: rotate(15deg); /* Opera */
    transition: all 1s ease;
}


.header__search-border {
    padding: 3px 1px 5px 2px;
    border: 1px dashed white;
    width: 112px;
    height: 28px;
    border-radius: 3px 3px 5px 6px;
}

.form-registration label, .form-registration__text{
    font-weight: 100!important;
    color: #7d7066;
}

.form-registration__text-blue{
    color: #6096b9!important;
    cursor: pointer;
}

.form-registration__text-blue a{
    text-decoration: underline;
}

.form-registration__text .condition{
    display: block;
    height: 16px;
    width: 16px;
    outline: 1px dashed #827972;
    border: 3px solid #eae9e3;
}

.auto{
    margin: auto;
}

.condition{
    cursor: pointer;
}

#condition:checked ~ label{
    background-color: #e9724c;
    padding: 3px;
}

#condition_people:checked ~ label{
    background-color: #e9724c;
    padding: 3px;
}

#condition_product:checked ~ label{
    background-color: #e9724c;
    padding: 3px;
}

#condition_service:checked ~ label{
    background-color: #e9724c;
    padding: 3px;
}

.form-auth__buttom{
    background-color: transparent;
    border: transparent;
    width: 25px;
    height: 28px;
    background-image: url("/var/www/creativer/web/img/sing_in.png");
    background-repeat: no-repeat;
}

.form-auth__input{
    width: 85px;
    height: 20px;
    background-color: #e9d0ae;
    border-top: 1px solid #9b8166;
    border-left: 1px solid #9b8166;
    border-right: 1px solid #e4d1ae;
    border-bottom: 1px solid #e4d1ae;
    padding-left: 10px;
    display: block;
}

.user__avatar-mini-header {
    width: 50px!important;
    height: 50px!important;
    overflow: hidden;
    border: 3px solid #ffffff!important;
    border-radius: 100px;
    -webkit-box-shadow: -3px 4px 1px 0px rgba(134,91,61,1)!important;
    -moz-box-shadow: -3px 4px 1px 0px rgba(134,91,61,1)!important;
    box-shadow: -3px 4px 1px 0px rgba(134,91,61,1)!important;
    float: left;
    margin-right: 4px;
}

.user__avatar-mini-header img {
    width: 100%;
}

.shop-mini-header {
    width: 70px!important;
    height: 70px!important;
    overflow: hidden;
    border: 3px solid #ffffff!important;
    border-radius: 100px;
}

.shop-mini-header img {
    height: 130%;
}

.user__avatar-mini{
    width: 70px;
    height: 70px;
    overflow: hidden;
    border: 5px solid #ffffff;
    border-radius: 100px;
    margin: auto;
}

.user__avatar img, .user__avatar-mini img, .user__avatar-super-mini img{
    width: 100%;
}

.black_ball{
    background-color: #4E4745;
    border-radius: 20px;
    width: 22px;
    height: 22px;
    margin: auto;
    margin-top: 2px;
    -webkit-box-shadow: -2px 2px 1px 0px rgba(0,0,0,1)!important;
    -moz-box-shadow: -2px 2px 1px 0px rgba(0,0,0,1)!important;
    box-shadow: -2px 2px 1px 0px rgba(0,0,0,1)!important;
}

.still_label-person{
    position: relative;
    z-index: 2;
    width: 70px!important;
    cursor: pointer;
}

.still_label-person:after {
    color: #ffffff;
    font-family: 'Glyphicons Halflings';
    content: "\e259";
    display: block;
    margin-top: 15px;
}

#checkbox-menu-person{
    position: absolute;
    left: -1000px;
    top: -1000px;
}

.personal{
    position: relative;
}

.menu-personal{
    display: none;
}

.menu-personal>ul{
    position: absolute;
    left: -20px;
    top: 10px;
}

.menu-personal a{
    color: #696360;
    text-decoration: none;
}

.menu-personal a:active{
    color: #696360;
    text-decoration: none;
}

.menu-personal a:hover{
    color: #857f7c;
    text-decoration: none;
}

.menu-personal>ul li{
    list-style: none;
    width: 103px;
    float: left;
    border-bottom: 1px dotted #696360;
}

.menu-personal>ul li:last-child{
    margin-top: 10px;
    border: none;
}

#checkbox-menu-person:checked + .menu-personal{
    width: 138px;
    height: 210px;
    position: absolute;
    background-image: url("../var/www/creativer/web/img/menu_person.png");
    z-index: 1;
    top: 32px;
    left: -6px;
    display: block;
}

.pointer{
    cursor: pointer;
}

textarea { resize: none; }

select {
    background-color: rgb(234, 233, 227);
    border: 1px dashed #827972;
}

div:focus{
    border: 1px solid #9b8166;
    outline: 1px solid #9b8166;
}

.form-auth__buttom:hover {
    -webkit-transform: rotate(-15deg); /* Chrome y Safari */
    -moz-transform: rotate(-15deg); /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); /* Internet Explorer */
    -o-transform: rotate(-15deg); /* Opera */
    display: inline-block;
    transition: all 1s ease;
}


.album__element__view:hover {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(2deg);
    transition: all 1s ease;
    cursor: pointer;
}

.form-auth__buttom:focus {
    border: none;
    outline: none;
}


::-webkit-input-placeholder {color:#4f4851;}
::-moz-placeholder          {color:#4f4851;}/* Firefox 19+ */
:-moz-placeholder           {color:#4f4851;}/* Firefox 18- */
:-ms-input-placeholder      {color:#4f4851;}


@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner {
    min-width: 38px;
    min-height: 24px;
}

.spinner:before {
    content: 'Loading?';
    position: absolute;
    top: 20%;
    left: 14%;
    width: 51px;
    height: 51px;
    margin-top: -10px;
    margin-left: -10px;
}

.spinner:not(:required):before {
    content: '';
    border-radius: 120%;
    border-top: 2px solid #F48930;
    border-right: 2px solid rgba(52, 61, 236, 0);
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner 1.2s linear infinite;
    box-shadow: 0px -1px 1px #EF5923;
}

.view-animate-container {
    position:relative;
}

.view-animate {
    padding: 0px 10px 10px 10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.view-animate.ng-enter {
    opacity:0;
}


.view-animate.ng-leave{
    display: block;
    opacity:1;
}

.view-animate.ng-leave.ng-leave-active {
    display: block;
    opacity:0;
}

a:focus{
    color: #ffffff!important;
    text-decoration: none;
}

.events__curtain{
    position: absolute;
    z-index: 3;
    top: 36px;
    left: -169px;
    width: 300px;
    height: 221px;
    display: none;
    background-image: url("/var/www/creativer/web/img/background_popap.png");
}

.events__curtain__wrapper{
    width: 270px;
    height: 190px;
    padding: 40px 0px 6px 0px;
    overflow: hidden;
}

.event__avatar-mini{
    width: 38px;
    height: 38px;
    overflow: hidden;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 9px;
    margin: auto;
}

.event__avatar-mini img{
    width: 100%;
    height: 100%;
}

.messages:hover .events__curtain{
    display: block;
}

.events__curtain-body{
    display: block;
    background-image: url("/var/www/creativer/web/img/background_popap.png");
}

.messages:hover .messages__curtain{
    display: block;
}

.messages__curtain{
    position: absolute;
    z-index: 3;
    left: -117px;
    width: 302px;
    max-height: 300px;
    display: none;
}

.messages__curtain-angle{
    font-size: 0px; line-height: 0%; width: 0px;
    border-bottom: 20px solid #eae9e3;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: auto;
}

.messages__curtain-body{
    background-color: #eae9e3;
    width: 100%;
    max-height: 300px;
    overflow-x: hidden;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.horizontal_line_messages {
    background-image: url("/var/www/creativer/web/img/line_message.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 10px;
}

.overflow{
    overflow-y: hidden;
}

p[contenteditable]{
    border: 1px dashed #827972;
    width: 453px;
    margin-left: 1px;
    margin-right: 1px;
}

.fail_auth{
    background-image: url("/var/www/creativer/web/img/faile_autho.png");
    width: 228px;
    height: 38px;
    position: absolute;
    top: 22px;
    left: 21px;
    z-index: 2;
    color: white;
    text-align: center;
}

.fail_auth span{
    vertical-align: middle;
    line-height: 51px;
    text-align: center;
    -webkit-animation: error 3s linear infinite;
    animation: error 3s linear infinite;
}

@-webkit-keyframes error {
    0% { color: rgba(255, 255, 255, 1); }
    50% { color: rgba(255, 255, 255, 0.2); }
    100% { color: rgba(255, 255, 255, 1); }
}
@keyframes error {
    0% { color: rgba(255, 255, 255, 1); }
    50% { color: rgba(255, 255, 255, 0.2); }
    100% { color: rgba(255, 255, 255, 1); }
}

.yes_like:before{
    color: #6096b9!important;
}

.click_class:before{
    -webkit-animation: blink1 0.4s linear infinite;
    animation: blink1 0.4s linear infinite;
    animation-iteration-count: 1;
}

.no_like:before{
    text-shadow: #6096b9 1px 0px, #6096b9 1px 1px, #6096b9 0px 1px, #6096b9 -1px 1px, #6096b9 -1px 0px, #6096b9 -1px -1px, #6096b9 0px -1px, #6096b9 1px -1px, #6096b9 0 0 1px, #6096b9 0 0 1px, #6096b9 0 0 1px, #6096b9 0 0 1px, #6096b9 0 0 1px, #6096b9 0 0 1px, #6096b9 0 0 1px, #6096b9 0 0 1px;
    color: #EAE9E3;
    font-size: 0.9em;
}

@-webkit-keyframes blink1 {
    0% {
        opacity: 1;
        color: #6096b9;
        text-shadow: #6096b9 1px 0px, #6096b9 1px 1px, #6096b9 0px 1px, #6096b9 -1px 1px, #6096b9 -1px 0px, #6096b9 -1px -1px, #6096b9 0px -1px, #6096b9 1px -1px, #6096b9 0 0 1px, #6096b9 0 0 1px, #6096b9 0 0 1px, #6096b9 0 0 1px, #6096b9 0 0 1px, #6096b9 0 0 1px, #6096b9 0 0 1px, #6096b9 0 0 1px;
    }
    99% {
        opacity: 0;
        color: #6096b9;
        text-shadow: #6096b9 5px 0px, #6096b9 5px 5px, #6096b9 0px 5px, #6096b9 -1px 5px, #6096b9 -1px 0px, #6096b9 -1px -1px, #6096b9 0px -1px, #6096b9 5px -1px, #6096b9 0 0 5px, #6096b9 0 0 5px, #6096b9 0 0 5px, #6096b9 0 0 5px, #6096b9 0 0 5px, #6096b9 0 0 5px, #6096b9 0 0 5px, #6096b9 0 0 5px;
    }
    100% { font-size: 0.9em; opacity: 1; color: #6096b9; }
}
@keyframes blink1 {
    0% {
        opacity: 1;
        color: #6096b9;
        text-shadow: #6096b9 1px 0px, #6096b9 1px 1px, #6096b9 0px 1px, #6096b9 -1px 1px, #6096b9 -1px 0px, #6096b9 -1px -1px, #6096b9 0px -1px, #6096b9 1px -1px, #6096b9 0 0 1px, #6096b9 0 0 1px, #6096b9 0 0 1px, #6096b9 0 0 1px, #6096b9 0 0 1px, #6096b9 0 0 1px, #6096b9 0 0 1px, #6096b9 0 0 1px;
    }
    99% {
        opacity: 0;
        color: #6096b9;
        text-shadow: #6096b9 5px 0px, #6096b9 5px 5px, #6096b9 0px 5px, #6096b9 -1px 5px, #6096b9 -1px 0px, #6096b9 -1px -1px, #6096b9 0px -1px, #6096b9 5px -1px, #6096b9 0 0 5px, #6096b9 0 0 5px, #6096b9 0 0 5px, #6096b9 0 0 5px, #6096b9 0 0 5px, #6096b9 0 0 5px, #6096b9 0 0 5px, #6096b9 0 0 5px;
    }
    100% { font-size: 0.9em; opacity: 1; color: #6096b9; }
}

/* ???????? ?????????? */
.leftbar-wrap {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
}

/* ???????? ?????? �?????� */
.left-controlbar {
    height: 100%;
    display: block;
    text-decoration: none;
}

/* ???????? ?????? �?????????� */
#scroll-back {
    display: block;
    height: 100%;
    top: 0;
    display: none;
    text-align: center;
}

/* ???????? ??????? ???????? ????? ??? ????? ?????? */
.active-area {
    width: 100px;
    height: 100%;
    display: block;
    text-align: center;
}

/* ?????? ???????????? ???????? ????? ??? ????????? ?? ???????? ??????? ???????? */
.leftbar-wrap:hover .active-area {
    background: rgba(154, 113, 110, 0.20);
}

/* ?????? ????????? ??????? ???? ??? ????????? ?? ??????? */
.leftbar-wrap .active-area:hover {
    background: rgba(154, 113, 110, 0.30);
}

/* ?????????? ??????? ? ?????? */
.bar-desc {
    top: 50%;
    position: relative;
    display: inline-block;
}

::selection {
    background: #ffb5b3; /* Safari */
}
::-moz-selection {
    background: #ffb5b3; /* Firefox */
}

.mCustomScrollBox:focus{
    border: none;
    outline: none;
}

.rem-logo-img{
    opacity: 0;
}

.video-js .rem-logo img{
    opacity: 0!important;
}