/*@media screen and (max-width: 1370px) {*/
    /*html{*/
        /*zoom: 0.76!important;*/
        /*font-size: 1.2em!important;*/
    /*}*/
    /*.header{*/
        /*height: 160px!important;*/
        /*padding-top: 16px!important;*/
        /*margin-top: -12px!important;*/
    /*}*/
/*}*/


@media screen and (max-width: 1200px) {
    .leftbar-wrap{
        display: none;
    }
}


@media screen and (min-width: 1200px) {
    .click_class:before{ /*likes*/
        -webkit-animation: blink1 0.4s linear infinite;
        animation: blink1 0.4s linear infinite;
        animation-iteration-count: 1;
    }
}