.button_action_05, .button_action_07, .button_action_09, .button_header_03, .button_header_05, .button_header_07, .button_header_09, .button_action_03{
	background-image: url("/var/www/creativer/web/img/sprites_button.png") !important;
	background-repeat: no-repeat;
}

.button_header_03{
	background-position: -3px -134px ;
	width: 89px;
	height: 36px;
	color: #ffffff;
}

.button_header_05{
	background-position: -1px -91px ;
	width: 100px;
	height: 36px;
	color:#ffffff;
}

.button_header_07{
	background-position: 0 -45px ;
	width: 103px;
	height: 37px;
	color:#ffffff;
}

.button_header_09{
	background-position: -3px -1px ;
	width: 128px;
	height: 39px;
	color:#ffffff;
}

.button_header_03:active{
	background-position: -93px -133px ;
	width: 89px;
	height: 36px;
	border: 0px;
	box-shadow: none!important;
}

.button_header_05:active{
	background-position: -101px -91px ;
	width: 100px;
	height: 36px;
	border: 0px;
	box-shadow: none!important;
}

.button_header_07:active{
	background-position: -103px -46px ;
	width: 103px;
	height: 37px;
	border: 0px;
	box-shadow: none!important;
}

.button_header_09:active{
	background-position: -131px 0;
	width: 128px;
	height: 39px;
	border: 0px;
	box-shadow: none!important;
}


.button_header_03:active span{
	border-bottom: 0px!important;
}

.button_header_05:active span{
	border-bottom: 0px!important;
}

.button_header_07:active span{
	border-bottom: 0px!important;
}

.button_header_09:active span{
	border-bottom: 0px!important;
}


.button_header_03:hover span{
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px dashed #ffffff;
}

.button_header_05:hover span{
	color:#ffffff;
	text-decoration: none;
	border-bottom: 1px dashed #ffffff;
}

.button_header_07:hover span{
	color:#ffffff;
	text-decoration: none;
	border-bottom: 1px dashed #ffffff;
}

.button_header_09:hover span{
	color:#ffffff;
	text-decoration: none;
	border-bottom: 1px dashed #ffffff;
}


.accessories_active, .accessories, .bijouterie_active, .bijouterie, .design_active, .design,
.animal_active, .animal, .pictures_active, .pictures, .books_active, .books, .makeup_active, .makeup, .manicure_active, .manicure,
.shoes_active, .shoes, .clothing_active, .clothing, .hairstyles_active, .hairstyles, .sweetness_active, .sweetness, .sports_massage_active, .sports_massage, .toys_souvenirs_active,
.toys_souvenirs, .bags_belts_active, .bags_belts, .tattoo_active, .tattoo, .products, .services, .foto_active, .foto{
	background: url("/var/www/creativer/web/img/sprites.png") no-repeat;
	position: absolute;
}

.accessories:hover{
	background-position: -203.946044921875px -2715.9033203125px ;
	width: 205px;
	height: 208px;
}

.accessories{
	background-position: 0 -2715.8777465820312px ;
	width: 205px;
	height: 208px;
	top: 506px;
	left: 126px;
	z-index: 2;
}

.bijouterie:hover{
	background-position: -130.98016357421875px -2572.957305908203px ;
	width: 124px;
	height: 139px;
}

.bijouterie{
	background-position: 0 -2572.9459533691406px ;
	width: 124px;
	height: 139px;
	top: 185px;
	left: 31px;
}

.design:hover{
	background-position: -238px -1062.9346313476562px ;
	width: 242px;
	height: 265px;
}

.design{
	background-position: 0 -1062.9715576171875px ;
	width: 242px;
	height: 265px;
	top: 391px;
	left: 32px;
	z-index: 2;
}

.animal:hover{
	background-position: -213.9801025390625px -893.9743957519531px ;
	width: 212px;
	height: 171px;
}

.animal{
	background-position: 0 -893.9545288085938px ;
	width: 212px;
	height: 171px;
	top: 573px;
	left: -21px;
	z-index: 3;
}

.pictures:hover{
	background-position: -176.9034423828125px -1331.8948059082031px ;
	width: 170px;
	height: 183px;
}

.pictures{
	background-position: 0 -1331.9061889648438px ;
	width: 170px;
	height: 183px;
	top: 352px;
	left: 50px;
}

.books:hover{
	background-position: -146.93182373046875px -1515.9288940429688px ;
	width: 146px;
	height: 97px;
}

.books{
	background-position: 0 -1515.911865234375px ;
	width: 146px;
	height: 97px;
	top: 89px;
	left: 162px;
}

.makeup:hover{
	background-position: -240.96026611328125px -718.9346313476562px ;
	width: 250px;
	height: 177px;
}

.makeup{
	background-position: 0 -718.98291015625px ;
	width: 250px;
	height: 177px;
	top: 226px;
	left: 221px;
}

.manicure:hover{
	background-position: -109.98016357421875px -611.9801025390625px ;
	width: 110px;
	height: 106px;
}

.manicure{
	background-position: 0 -611.9943237304688px ;
	width: 110px;
	height: 106px;
	top: 80px;
	left: 204px;
}

.shoes:hover{
	background-position: -170.946044921875px -2922.9345703125px ;
	width: 173px;
	height: 156px;
}

.shoes{
	background-position: 0 -2922.9203491210938px ;
	width: 173px;
	height: 156px;
	top: 554px;
	left: 2px;
}

.clothing:hover{
	background-position: -268px -1610.943099975586px ;
	width: 268px;
	height: 492px;
}

.clothing{
	background-position: 0 -1610.9687042236328px ;
	width: 268px;
	height: 492px;
	top: 163px;
	left: 117px;
}

.hairstyles:hover{
	background-position: -113.9573974609375px -482.93182373046875px ;
	width: 114px;
	height: 128px;
}

.hairstyles{
	background-position: 0 -482.928955078125px ;
	width: 114px;
	height: 128px;
	top: 234px;
	left: 146px;
}

.sweetness:hover{
	background-position: -168.977294921875px -2373.9487915039062px ;
	width: 167px;
	height: 198px;
}

.sweetness{
	background-position: 0 -2373.9573364257812px ;
	width: 167px;
	height: 198px;
	top: 527px;
	left: 286px;
}

.sports_massage:hover{
	background-position: -257px -279.9204406738281px ;
	width: 257px;
	height: 202px;
}

.sports_massage{
	background-position: 0 -279.8891906738281px ;
	width: 257px;
	height: 202px;
	top: 539px;
	left: 176px;
	z-index: 3;
}

.toys_souvenirs:hover{
	background-position: -172.94891357421875px -2244.9629516601562px ;
	width: 172px;
	height: 128px;
}

.toys_souvenirs{
	background-position: 0 -2244.94873046875px ;
	width: 172px;
	height: 128px;
	top: 56px;
	left: 30px;
	z-index: 2;
}

.bags_belts:hover{
	background-position: -118.98016357421875px -2103.9771728515625px ;
	width: 117px;
	height: 140px;
}

.bags_belts{
	background-position: 0 -2103.974334716797px ;
	width: 117px;
	height: 140px;
	top: 404px;
	left: 367px;
}

.tattoo:hover{
	background-position: -153.92047119140625px -168.94033813476562px ;
	width: 153px;
	height: 110px;
}

.tattoo{
	background-position: 0 -168.91192626953125px ;
	width: 153px;
	height: 110px;
	top: 82px;
	left: 305px;
}

.foto:hover{
	background-position: -195.5px 0;
	width: 196px;
	height: 169px;
}

.foto{
	background-position: 0 0;
	width: 196px;
	height: 169px;
	top: 382px;
	left: 258px;
}

.products{
	background-position: -204.92901611328125px -3080.9146728515625px ;
	width: 259px;
	height: 62px;
	left: 64px;
}

.services{
	background-position: 0 -3078.9459228515625px ;
	width: 203px;
	height: 64px;
	left: 226px;
	top: 6px;
}

/* -------------    -------------- */

.advert_button, .advert_button_2{
	background: url("/var/www/creativer/web/img/sprites_advert.png") no-repeat;
}

.advert_button{
	background-position: -174.99999237060547px 0;
	width: 174px;
	height: 45px;
}

.advert_button:hover{
	background-position: 0 0;
	width: 174px;
	height: 45px;
}



/*--------- baraholka ---------*/
.baraholka__filter__element{
	background: url("/var/www/creativer/web/img/baraholka_button_sprite.png") no-repeat;
}

.baraholka__filter__element{
	background-position: 0 0;
	width: 72px;
	height: 31px;
}



/* --------- buttom ------*/

.menu_action_still, .left_button, .center_button, .right_button{
	background: url("/var/www/creativer/web/img/sprites_buttoms.png") repeat-x;
}


.menu_action_still{
	background-position: -73.98214340209961px 0;
	display: block;
	width: 67px;
	height: 32px;
	margin: auto;
	text-align: center;
	padding-top: 5px;
	color: #ffffff !important;
}

.left_button{
	background-position: -143.99106979370117px 0;
	width: 51px;
	height: 21px;
}

.center_button{
	background-position: -194.0000114440918px 0;
	width: 46px;
	height: 21px;
}

.right_button{
	background-position: -239.00001525878906px 0;
	width: 55px;
	height: 21px;
}

.false, .true{
	background: url("/var/www/creativer/web/img/true_false.png") no-repeat;
}

.false{
	background-position: -85.0000114440918px 0;
	width: 70px;
	height: 31px;
	vertical-align: middle;
	background-color: transparent;
	border: none;
	color: #ffffff;
}

.true{
	background-position: 0 -0.000011444091796875px ;
	width: 85px;
	height: 31px;
	vertical-align: middle;
	background-color: transparent;
	border: none;
	color: #ffffff;
}

.event_buttom{
	background: url("/var/www/creativer/web/img/sprites_advert_min.png") no-repeat;
}

.event_buttom{
	background-position: -137px -0.0028533935546875px ;
	width: 138px;
	height: 47px;
	font-size: 0.88em;
	vertical-align: middle;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	line-height: 3.5em;
}

.event_buttom:hover{
	background-position: 1px 0px;
	width: 137px;
	height: 47px;
	font-size: 0.88em;
	vertical-align: middle;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	line-height: 3.5em;
}


/*-------- message button ---------*/

.button_favorites, .button_gray_message, .button_gray_message2, .button_message, .early_message, .button_message-link{
	background: url("/var/www/creativer/web/img/message_button.png") no-repeat;
}


.button_message{
	background-position: 0 0;
	width: 118px;
	height: 27px;
	border: none;
	color: #ffffff;
	display: inline-block;
	text-decoration: none;
	color: white;
	text-align: center;
}

.button_message-link{
	margin: 0em;
	width: 119px;
	height: 27px;
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: white;
	line-height: 2em;
}

.button_message-link:hover {
	color: white;
	text-decoration: none;
}

.early_message{
	background-position: 0 -71px ;
	width: 179px;
	height: 31px;
}

.button_favorites{
	background-position: -119px 0;
	width: 117px;
	height: 27px;
	border: none;
	color: #ffffff;
}

.button_gray_message{
	background-position: -79px -28px ;
	width: 101px;
	height: 31px;
}

.button_gray_message2{
	background-position: 0 -29px ;
	width: 79px;
	height: 41px;
}

/*--------------- tail -----------------*/

.tail2, .tail_message{
	background: url("/var/www/creativer/web/img/tail_message.png") no-repeat;
}
.tail_message{
	background-position: 0 0;
	width: 24px;
	height: 33px;
}

.tail2{
	background-position: -24px 0;
	width: 24px;
	height: 33px;
}

.add_photo{
	background: url("/var/www/creativer/web/img/add_photo.png") no-repeat;
}

.add_photo{
	background-position: 0 0;
	width: 155px;
	height: 31px;
	color: white;
}










