body{
    background-color: #eae9e3;
}

.wrapper{
    width: 1045px;
}

.slid{
    padding: 0px 50px;
}

.user__avatar img, .user__avatar-mini img, .user__avatar-super-mini img{
    width: 100%;
}

.edit__avatar{
    font-family: 'Glyphicons Halflings';
}

.edit__avatar:hover{
    opacity: 0.8;
    cursor: pointer;
}

.edit__avatar:hover:before {
    content: "\e046";
    position: absolute;
    top: 49px;
    left: 53px;
    font-size: 1.5em;
    color: #e9eae1;
}

.slid__slider{
    position: absolute;
    top:200px;
    left: 50%;
    margin-left: -115px;
    width: 280px;
    z-index: 1;
    border: 1px dashed #786b5e;
    border-radius: 20px 15px 20px 33px;
    padding: 5px;
}

.text-style{
    color:#ffffff;
    text-shadow: -2px -2px 2px #a37e60,
    2px -2px 2px #a37e60,
    -2px 2px 2px #a37e60,
    2px 2px 2px #a37e60;
    border-bottom: 1px dashed #ffffff;
    border-radius: 0px 0px 3px 5px;
}


.text-style:hover{
    color:#ffffff;
    text-shadow: -2px -2px 2px #a37e60,
    2px -2px 2px #a37e60,
    -2px 2px 2px #a37e60,
    2px 2px 2px #a37e60;
    text-decoration: none;
}


.slid textarea{
    background-color: #eae9e3;
    border: 1px dashed #827972;
}

::-webkit-input-placeholder {color:#827972;}
::-moz-placeholder          {color:#827972;}/* Firefox 19+ */
:-moz-placeholder           {color:#827972;}/* Firefox 18- */
:-ms-input-placeholder      {color:#827972;}



.album__element{
    display: inline-block;
    width: 165px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 7px 14px 15px 14px;
    background-repeat: no-repeat;
    padding: 6px 2px 12px 2px;
    font-size: 0.89em;
    position: relative;
    color: #7d7066;
}

.album__element-name{
    padding-left: 6px;
    font-stretch: condensed;
    font-weight: 600;
    letter-spacing: -0.1px;
}

.left-info{
    width: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.right-info{
    width: 50px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.left-info__album{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.right-info__album{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.horizontal_line {
    background-image: url("/var/www/creativer/web/img/horizontal_line.png");
    background-repeat-y: no-repeat;
    background-position: center bottom;
    height: 30px;
}

input {
    background-color: #eae9e3;
    border: 1px dashed #827972;
}

.thumb__upload{
    overflow: hidden;
    margin-top: 3px;
}

.progress{
    height: 85px;
}

.upload__element{
    margin-top: 25px;
    position: relative;
}

::-webkit-input-placeholder {color:#c0392b;}
::-moz-placeholder          {color:#c0392b;}/* Firefox 19+ */
:-moz-placeholder           {color:#c0392b;}/* Firefox 18- */
:-ms-input-placeholder      {color:#c0392b;}

.thumb__upload_delete{
    width: 100%;
    height: 100px;
    background-color: #000000;
    opacity: 0;
    position: relative;
    top: -105px;
    cursor: pointer;
}

.thumb__upload_delete:hover{
    opacity: 0.5;
}

.thumb__upload_delete>span{
    font-size: 35px;
    top: 30px;
    left: 55px;
    color: white;
}

.edit__album {
    position: absolute;
    right: 6px;
    top: 5px;
    color: #FFFFFF;
    background-color: #80abe0;
    padding: 5px;
    border-radius: 20px;
}

.edit__album span{
    cursor: pointer;
    font-size: 12px;
}

.edit__album__menu{
    position: absolute;
    height: 130px;
    width: 139px;
    right: -57px;
    top: 30px;
    z-index: 1;
    background-image: url("/var/www/creativer/web/img/menu_create_album.png");
    padding-top: 20px;
    display: none;
}

.album__element__view img{
    width: 100%;
}

.album__element__view{
    display: block;
    margin-top: 10px;
}

.album__element__view__bottom{
    position: relative;
    height: 28px;
    background-image: url("/var/www/creativer/web/img/album__element__bottom.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.padding__1{
    margin-left: 1px;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
}

.bottom__plus{
    bottom: 6px!important;
}

.album__element__view__top{
    outline: 1px solid transparent;
    border-top: 1px dashed #aca994;
    border-right: 1px dashed #aca994;
    border-left: 1px dashed #aca994;
}

.edit__album__menu label{
    font-weight: normal!important;
    cursor: pointer;
}

.edit__album input:checked ~ .edit__album__menu{
    display: block;
}

.edit__album__menu li{
    margin-top: 5px;
    list-style: none;
    cursor: pointer;
}

.name_album{
    height: 35px;
    width: 530px;
    font-size: 1.2em;
    padding-left: 10px;
}

.description_album{
    margin-top: 15px;
    height: 65px;
    width: 530px;
    padding-left: 10px;
}

.comment .slid__comment__line:last-child{
    display: none;
}

textarea {
    background-color: #eae9e3;
    border: 1px dashed #827972;
    width: 455px;
    overflow: hidden;
    word-wrap: break-word;
    resize: none;
    height: 46px;
}

.background__viewer{
    position: fixed; display: block;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: url('/var/www/creativer/web/img/view_photo_background.png');
    z-index: 2;
    overflow-y: auto;
    text-align: center;
}

.background__viewer__link__previous{
    z-index: 1;
    display: block;
    position:fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 50%;
}

.background__viewer__link__next{
    z-index: 1;
    display: block;
    position:fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 50%;
}

.border__viewer{
    display: inline-block;
    position: relative;
    z-index: 2;
    margin:auto;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
    box-sizing: content-box;
    border-style: solid;
    border-width: 27px 51px 27px 54px;
    -moz-border-image: url('/var/www/creativer/web/img/border_view_photo.png') 27 51 27 71 round;
    -webkit-border-image: url('/var/www/creativer/web/img/border_view_photo.png') 27 51 27 71 round;
    -o-border-image: url('/var/www/creativer/web/img/border_view_photo.png') 27 51 27 71 round;
    border-image: url('/var/www/creativer/web/img/border_view_photo.png') 27 51 27 71 fill round;
}

.border__viewer__wrapper{
    background-color: #eae9e3;
    width: 100%;
    height: 100%;
}

.wrapper__comment{
    width: 600px;
    margin: auto;
}

.viewer__image{
    max-width: 1000px;
    max-height: 830px;
}