body{
    background-color: #eae9e3;
}

.wrapper{
    width: 1045px;
}

.slid{
    padding: 0px 50px;
}

.slid__slider{
    position: absolute;
    top:200px;
    left: 50%;
    margin-left: -115px;
    width: 280px;
    z-index: 1;
    border: 1px dashed #786b5e;
    border-radius: 20px 15px 20px 33px;
    padding: 5px;
}

.slid__back-link{
    vertical-align: middle;
    line-height: 4em;
}

.text-style{
    color:#ffffff;
    text-shadow: -2px -2px 2px #a37e60,
    2px -2px 2px #a37e60,
    -2px 2px 2px #a37e60,
    2px 2px 2px #a37e60;
    border-bottom: 1px dashed #ffffff;
    border-radius: 0px 0px 3px 5px;
}


.text-style:hover{
    color:#ffffff;
    text-shadow: -2px -2px 2px #a37e60,
    2px -2px 2px #a37e60,
    -2px 2px 2px #a37e60,
    2px 2px 2px #a37e60;
    text-decoration: none;
}


::-webkit-input-placeholder {color:#827972;}
::-moz-placeholder          {color:#827972;}/* Firefox 19+ */
:-moz-placeholder           {color:#827972;}/* Firefox 18- */
:-ms-input-placeholder      {color:#827972;}


.user__text{
    font-weight: 100!important;
    color: #7d7066;
}

.user__text-gray{
    color: #b3b3b2;
}

.user__text-blue {
    color: #6096b9;
}

.message-textareas .message__field{
    margin-left: -12px;
    border-color: #b0aea8!important;
}

.tail_message{
    float: left;
    margin-left: -22px;
    margin-top: -63px;
    position: relative;
    z-index: 1;
    background-position: 0 0;
    width: 24px;
    height: 38px;
}

.message-textareas .message__field:focus{
    outline: 1px solid #b29f81;
}

.message-textareas > .emoji-wysiwyg-editor{
    min-height: 118px;
    border: 1px dashed rgba(154, 154, 154, 0.71)!important;
}

.message-textareas .emoji-wysiwyg-editor:focus~.tail_message{
    background-position: -25px 0;
    width: 30px;
    height: 33px;
    border: 0px!important;
}


.edit{
    position: absolute;
    right: -5px;
    top: -5px;
    cursor: pointer;
    color: #b3b3b2;
}

.icon-color{
    color: #919190;
}


.slid__all__folder{
    margin-right: 35px;
    color: #ffffff;
    vertical-align: middle;
    line-height: 2.5em;
}

.slid__one__folder{
    margin-right: 5px;
    color: #ffffff;
    vertical-align: middle;
    line-height: 1.6em;
}

.new__messages{
    background-color: #b6dafa;
}

.old__messages {
    -webkit-animation:my_animation 2s 1;
    -moz-animation:my_animation 2s 1;
    -o-animation:my_animation 2s 1;
    animation:my_animation 2s 1;
}

@keyframes my_animation {
    from {
        background-color: #b6dafa;
    }
    to {
        background-color:inherit!important;
    }
}
