body{
    background-color: #eae9e3;
}

.wrapper{
    width: 1045px;
}

.slid{
    padding: 0px 60px;
}

.slid__slider{
    position: absolute;
    top:200px;
    left: 50%;
    margin-left: -115px;
    width: 280px;
    z-index: 1;
    border: 1px dashed #786b5e;
    border-radius: 20px 15px 20px 33px;
    padding: 5px;
}


.text-style{
    color:#ffffff;
    text-shadow: -2px -2px 2px #a37e60,
    2px -2px 2px #a37e60,
    -2px 2px 2px #a37e60,
    2px 2px 2px #a37e60;
    border-bottom: 1px dashed #ffffff;
    border-radius: 0px 0px 3px 5px;
}


.text-style:hover{
    color:#ffffff;
    text-shadow: -2px -2px 2px #a37e60,
    2px -2px 2px #a37e60,
    -2px 2px 2px #a37e60,
    2px 2px 2px #a37e60;
    text-decoration: none;
}


.slid__search__events {
    background-color: #eae9e3;
    border: 1px dashed #827972;
    width: 370px;
}

.slid__search__events input{
    background-color: #eae9e3;
    border: none;
    padding-left: 5px;
    width: 270px;
    height: 33px;
}

.slid__search__events input:focus{
    outline: none;
}

.slid__search__link{
    height: 35px;
}

.slid__search__link a{
    vertical-align: middle;
    color: #696360;
    border-bottom: 1px dashed #696360;
}

.slid__search__link a:hover{
  text-decoration: none;
}

.slid__slider-button {
    vertical-align: middle;
    width: 78px;
    height: 27px;
    background-color: transparent;
    border: none;
    background-image: url("/var/www/creativer/web/img/to_search.png");
}

.calendar{
    background-image: url("/var/www/creativer/web/img/calendar_board.png");
    background-repeat: no-repeat;
    height: 145px;
    width: 755px;
}

.container_image_events {
    display: block;
    animation-name: horizontal;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
    color: inherit;
    cursor: pointer;
    height: 170px;
    width: 238px;
}

.container_image_events_big {
    display: block;
    animation-name: horizontal;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
    color: inherit;
    cursor: pointer;
    width: 504px;
    overflow: hidden;
    height: 100%;
}

.container_image_events_big_text{
    color: white;
    position: absolute;
    bottom: 10px;
}

.container_image_events_big_text:hover .text-white, .container_image_events_big_text:hover{
    color: #d3003e!important;
}

.container_image_events img, .container_image_events_big img{
    border: 1px dashed #c5c3b4;
    border-radius: 7px;
}

.trio_events{
    height: 433px;
    overflow: hidden;
}

.link_event{
    color: #6096b9;
    text-decoration: none;
}

.link_event:hover {
    color: #6096b9;
    text-decoration: none;
}

.name_category{
    position: absolute;
    display: block;
    color: white;
    padding: 7px 10px;
    border-top-left-radius: 6px;
    margin-top: 1px;
    margin-left: 1px;
    background-image: url("/var/www/creativer/web/img/black_background_opacity.png");
}

.name_category:hover{
    color:white;
}

.advert_button{
    font-size: 0.88em;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    line-height: 3.5em;
}

.advert_button:hover{
    text-decoration: none;
    color: #ffffff;
}

.city-radio{
    display: none;
}

.slid__menu{
    background-image: url("/var/www/creativer/web/img/footer_menu_background.png");
    height: 57px;
}

.slid__menu label{
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 0px;
}

.baraholka__checkbox + label{
    line-height: 3.6em;
    margin-bottom: 0px;
}

.slid__menu input[type=checkbox]{
    display: none;
}

.baraholka__checkbox:checked + .baraholka__label{
    color: #22a60e !important;
}

.baraholka__checkbox:checked + .baraholka__label:before{
    font-family: 'Glyphicons Halflings';
    content: "\e013";
}

.open:hover{
    text-decoration: none;
}

.open:after{
    font-family: 'Glyphicons Halflings';
    content: " \e259";
    vertical-align: bottom;
    letter-spacing: -10px;
    text-decoration: none;
}

.slid__list a{
    color: #6096b9;
    text-decoration: none;
}


.cities__select{
    line-height: 3.8em;
    width: 85px;
}

.cities-checkbox{
    position: absolute;
    top: -99999px;
    left: -99999px;
}

.cities__background-top{
    background-image: url('/var/www/creativer/web/img/top_background_folders.png');
    width: 137px;
    height: 62px;
}

.cities__background-body{
    width: 137px;
    background-color: #c8c6bd;
    border-left: 1px dashed #a3a3a3;
    border-right: 1px dashed #a3a3a3;
    border-bottom: 1px dashed #a3a3a3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -10px;
    padding-bottom: 10px;
}

.cities__menu{
    list-style: none;
    position: relative;
}


.cities__menu label{
    height: 12px;
}

.cities__menu__main{
    display: none;
}

.cities-checkbox:checked + .cities__menu__main{
    display: block;
    position: absolute;
    z-index: 100;
    top: 37px;
    right: -32px;
}

.slid_create_event{
    padding: 0px 60px;
}

.slid_create_event input {
    height: 35px;
    background-color: #eae9e3;
    border: 1px dashed #827972;
    width: 100%;
}

.slid_create_event select {
    height: 35px;
    background-color: rgb(234, 233, 227);
    border: 1px dashed #827972;
}

.slid_create_event textarea {
    background-color: #eae9e3;
    border: 1px dashed #827972;
}

.well {
    background-color: #EAE9E3!important;
    border: none!important;
    box-shadow: none!important;
}

.clean-calendar > table thead tr:first-child{
    background-color: #EAE9E3!important;
}

.clean-calendar > table .text-info {
    color: #2025A5 !important;
}


.upload__element:hover .close_image{
    display: block;
}

.main_small_img_event{
    /*height: 100%;*/
    width: 100%;
}

.close_image {
    position: absolute;
    right: 9px;
    top: 5px;
    color: #FFFFFF;
    background-color: #80abe0;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    display: none;
    opacity: 0.8;
}

.height_36{
    height: 36px;
}
.number_date_31{
    min-width: 21px;
    margin: 0px 10px;
    height: 33px;
    text-align: center;
    display: inline-block;
}
.number_date_30{
    min-width: 19px;
    margin: 0px 12px;
    height: 33px;
    text-align: center;
    display: inline-block;
}
.number_date_29{
    min-width: 21px;
    margin: 0px 11px;
    height: 33px;
    text-align: center;
    display: inline-block;
}
.number_date_28{
    min-width: 21px;
    margin: 0px 11px;
    height: 33px;
    text-align: center;
    display: inline-block;
}

.circle{
    border-radius: 10px;
    cursor: pointer;
    color: #000000!important;
}

.datapicker_circle{
    background-color: #EC9271;
    border-radius: 10px;
    padding: 0px 3px;
    color: white;
}

.target_day{
    background-color: #008ebe;
    border-radius: 10px;
    padding: 0px 3px;
    color: white;
}

.head_datapicker{
    height: 41px;
    margin-bottom: 10px;
}

.previous_event{
    height: 76px;
}

.previous_event:before{
    line-height: 4em;
}


.previous_event:hover{
    color: gold;
}

.arrow{
    width: 30px;
    color:#EC9271;
    text-align: center;
}

.body__datapicker{
    width: 690px;
    margin-left: 22px;
    text-align: center;
    color: #000000;
}

.user__avatar-mini-2 {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    border-radius: 100px;
    margin-right: 10px;
    display: block;
}

.user__avatar-mini-2_online {
    border-bottom: 3px solid #6fb110!important;
}

.user__avatar {
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.one_post:hover .edit_post{
    display: block;
}

.default_img_event{
    width: 100%;
    text-align: center;
    font-size: 13em;
    z-index: -1;
}