body{
    background-color: #eae9e3;
}

.wrapper{
    width: 1045px;
}

.slid{
    padding: 0px 50px;
}

.slid__slider{
    position: absolute;
    top:200px;
    left: 50%;
    margin-left: -115px;
    width: 280px;
    z-index: 1;
    border: 1px dashed #786b5e;
    border-radius: 20px 15px 20px 33px;
    padding: 5px;
}

.slid__back-link{
    vertical-align: middle;
    line-height: 4em;
}


.text-style{
    color:#ffffff;
    text-shadow: -2px -2px 2px #a37e60,
    2px -2px 2px #a37e60,
    -2px 2px 2px #a37e60,
    2px 2px 2px #a37e60;
    border-bottom: 1px dashed #ffffff;
    border-radius: 0px 0px 3px 5px;
}


.text-style:hover{
    color:#ffffff;
    text-shadow: -2px -2px 2px #a37e60,
    2px -2px 2px #a37e60,
    -2px 2px 2px #a37e60,
    2px 2px 2px #a37e60;
    text-decoration: none;
}


.slid textarea{
    background-color: #eae9e3;
    border: 1px dashed #827972;
}

::-webkit-input-placeholder {color:#827972;}
::-moz-placeholder          {color:#827972;}/* Firefox 19+ */
:-moz-placeholder           {color:#827972;}/* Firefox 18- */
:-ms-input-placeholder      {color:#827972;}


.user__text{
    font-weight: 100!important;
    color: #7d7066;
}

.user__text-gray{
    color: #b3b3b2;
}

.user__text-blue {
    color: #6096b9;
}


.user__avatar-mini{
    width: 70px;
    height: 70px;
    overflow: hidden;
    border: 5px solid #ffffff;
    border-radius: 100px;
}


.edit{
    position: absolute;
    right: -5px;
    top: -5px;
    cursor: pointer;
    color: #b3b3b2;
}

.icon-color{
    color: #919190;
}


.slid__all__folder{
    margin-right: 24px;
    color: #ffffff;
    vertical-align: middle;
    line-height: 2.5em;
}

.slid__one__folder{
    margin-right: 5px;
    color: #ffffff;
    vertical-align: middle;
    line-height: 1.1em;
    padding-top: 6px;
}


.horizontal_line {
    background-image: url("/var/www/creativer/web/img/line_message.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 90px;
}

.early-message{
    margin: auto;
}

.early-message>span{
    color: #ffffff;
    vertical-align: middle;
    line-height: 30px;
}

.user__avatar-mini {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border: 5px solid #ffffff;
    border-radius: 100px;
}

.chat__link{
    display: block;
}

.background__text{
    background-color: #b6dafa;
}

.background__text-reviewed{
    height: 60px;
    overflow: hidden;
}

.folder{
    position: absolute;
    top: -99999px;
    left: -99999px;
}

.folders__menu{
    list-style: none;
    position: relative;
    top: -10px;
}


.folders__menu__top-down{
    background-image: url('/var/www/creativer/web/img/top_background_folders.png');
    width: 137px;
    height: 62px;
}

.folders__menu__body{
    width: 137px;
    background-color: #c8c6bd;
    border-left: 1px dashed #a3a3a3;
    border-right: 1px dashed #a3a3a3;
    border-bottom: 1px dashed #a3a3a3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -10px;
    padding-bottom: 10px;
}

.text__create__folder{
    width: 110px;
    border: 1px dashed #a3a3a3;
    background-color: #f5f5f5;
}

.folders__main{
    position: absolute;
    top: -99999px;
    left: -99999px;
}

.folders__menu__main{
    display: none;
}

.folders__main:checked + .folders__menu__main{
    display: block;
    position: absolute;
    z-index: 100;
    top: 40px;
    left: -15px;
}


.folders__menu-down{
    display: none;
}

.folder:checked + .folders__menu-down{
    display: block;
    position: absolute;
    z-index: 100;
    top: 40px;
    left: 20px;
}
