body{
    background-color: #eae9e3;
}

.name__user a{
    color: inherit;
    text-decoration: none;
}

.wrapper{
    width: 1045px;
}

.slid{
    padding: 0px 50px;
}

.slid__slider{
    position: absolute;
    top:200px;
    left: 50%;
    margin-left: -115px;
    width: 280px;
    z-index: 1;
    border: 1px dashed #786b5e;
    border-radius: 20px 15px 20px 33px;
    padding: 5px;
}


.text-style{
    color:#ffffff;
    text-shadow: -2px -2px 2px #a37e60,
    2px -2px 2px #a37e60,
    -2px 2px 2px #a37e60,
    2px 2px 2px #a37e60;
    border-bottom: 1px dashed #ffffff;
    border-radius: 0px 0px 3px 5px;
}


.text-style:hover{
    color:#ffffff;
    text-shadow: -2px -2px 2px #a37e60,
    2px -2px 2px #a37e60,
    -2px 2px 2px #a37e60,
    2px 2px 2px #a37e60;
    text-decoration: none;
}


.slid textarea{
    background-color: #eae9e3;
    border: 1px dashed #827972;
    width: 530px;
}

::-webkit-input-placeholder {color:#827972;}
::-moz-placeholder          {color:#827972;}/* Firefox 19+ */
:-moz-placeholder           {color:#827972;}/* Firefox 18- */
:-ms-input-placeholder      {color:#827972;}


.user{
    background-image: url("/var/www/creativer/web/img/vertical_line.png");
    background-repeat: no-repeat;
    background-position: right;
}

.user__text{
    font-weight: 100!important;
    color: #7d7066;
}

.text_info{
    float: left;
    white-space: pre;
    background: transparent;
    border: none;
    width: 100%;
}

.gelocation_icon__text_info{
    width: 220px;
}

.text_info{
    border: 1px dashed transparent;
}

.text_info:focus{
    border: 1px dashed #827972!important;
    outline: none;
}

.text_info:disabled {
    border: none;
}

.text_info::-webkit-input-placeholder {font-style: italic!important; color: #c3bec1;}
.text_info::-moz-placeholder          {font-style: italic!important; color: #c3bec1;}/* Firefox 19+ */
.text_info:-moz-placeholder           {font-style: italic!important; color: #c3bec1;}/* Firefox 18- */
.text_info:-ms-input-placeholder      {font-style: italic!important; color: #c3bec1;}

.user__text_bold{
    color: #696360;
    font-weight: bold;
}

.user__text-gray{
    color: #b3b3b2;
}

.user__text-blue {
    color: #6096b9;
}

.user__avatar-border{
    border: 1px dashed #696360;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    padding: 3px;
}

.user__avatar{
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100px;
}

.user__avatar-favorit{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px dashed #696360;
    border-radius: 100px;
}

.user__avatar-mini{
    width: 70px;
    height: 70px;
    overflow: hidden;
    border: 5px solid #ffffff;
    border-radius: 100px;
    margin: auto;
}

.user__avatar-super-mini{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 3px solid #ffffff;
    border-radius: 100px;
}

.edit__avatar{
    font-family: 'Glyphicons Halflings';
}

.edit__avatar:hover{
    opacity: 0.8;
    cursor: pointer;
}

.edit__avatar:hover:before {
    content: "\e046";
    position: absolute;
    top: 49px;
    left: 53px;
    font-size: 1.5em;
    color: #e9eae1;
}

.background__viewer-avatar{
    position: fixed; display: block;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: url('/var/www/creativer/web/img/view_photo_background.png');
    z-index: 2;
    overflow-y: auto;
    text-align: center;
}

.background__viewer__link__previous{
    z-index: 1;
    display: block;
    position:fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 50%;
}

.background__viewer__link__next{
    z-index: 1;
    display: block;
    position:fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 50%;
}

.border__viewer-avatar{
    width: 660px;
    height: 360px;
    display: inline-block;
    position: relative;
    z-index: 2;
    margin:auto;
    text-align: center;
    margin-top: 25px;
    box-sizing: content-box;
    border-style: solid;
    border-width: 27px 51px 27px 53px;
    -moz-border-image: url('/var/www/creativer/web/img/border_view_photo.png') 27 51 27 71 round;
    -webkit-border-image: url('/var/www/creativer/web/img/border_view_photo.png') 27 51 27 71 round;
    -o-border-image: url('/var/www/creativer/web/img/border_view_photo.png') 27 51 27 71 round;
    border-image: url('/var/www/creativer/web/img/border_view_photo.png') 27 51 27 71 fill round;
}

.border__viewer__wrapper-avatar{
    background-color: #eae9e3;
    width: 100%;
    height: 100%;
}

.border__viewer__wrapper-avatar{
    background-color: #eae9e3;
    width: 100%;
    height: 100%;
}

.cropArea canvas{
    position: static;
    margin: auto;
}

.slid__comment__line {
    height: 4px;
    margin-bottom: 5px;
    background-image: url("/var/www/creativer/web/img/line_comment.png");
    background-repeat: repeat-x;
    background-position: center bottom;
}

.user__avatar img, .user__avatar-mini img, .user__avatar-super-mini img{
    width: 100%;
}

.favorit__card{
    color: inherit;
    text-decoration: none;
}

.favorit__card:hover{
    text-decoration: none;
}


.edit{
    position: absolute;
    right: 0px;
    top: 5px;
    cursor: pointer;
    color: #b3b3b2;
}


.gelocation_icon:before{
    font-family: 'Glyphicons Halflings';
    content: "\e062";
}

.icon-color{
    color: #919190;
}

.album__element{
    display: inline-block;
    width: 165px;
    height: 200px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 7px 14px 15px 14px;
    padding: 6px 6px 12px 6px;
    font-size: 0.89em;
    position: relative;
    color: #7d7066;
    vertical-align: top;
}

.frame{
    position: absolute;
    width: 160px;
    top: 5px;
}

.frame__img{
    width: 153px;
    height: 150px;
    overflow: hidden;
}

.album_img{
    margin-left: 4px;
    margin-top: 2px;
    min-width: 150px;
    min-height: 150px;
}

.album__element-name{
    padding-left: 6px;
    font-stretch: condensed;
    font-weight: 600;
    letter-spacing: -0.1px;
    position: absolute;
    color: #7d7066;
}

.album__element-name:hover{
    color: #7d7066;
}

.album__link{
    position: absolute;
    height: 150px;
    width: 150px;
    z-index: 2;
}

.album__element-block{
    height: 55px;
    position: relative;
}

.comment_time{
    font-size: 0.8em;
    color: #aea9a9;
}

.left-info__album{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.right-info__album{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

[contenteditable=false]:empty:before{
    content: attr(placeholder);
    display: block; /* For Firefox */
}

.edit_post{
    display: none;
}

.one_post:hover .edit_post{
    display: block;
}

.edit__album__menu{
    position: absolute;
    height: 130px;
    width: 139px;
    right: -65px;
    top: 20px;
    z-index: 1;
    background-image: url("/var/www/creativer/web/img/menu_create_album.png");
    padding-top: 20px;
    display: none;
}

.edit__album__menu label{
    font-weight: normal!important;
    cursor: pointer;
}

.edit__album input:checked ~ .edit__album__menu{
    display: block;
}

.edit__album__menu li{
    margin-top: 5px;
    list-style: none;
    cursor: pointer;
}

.upload__element{
    display: inline-block;
    position: relative;
}

.upload__element:hover .close_image{
    display: block;
}

.close_image{
    position: absolute;
    right: 9px;
    top: 5px;
    color: #FFFFFF;
    background-color: #80abe0;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    display: none;
    opacity: 0.8;
}

