body{
    background-color: #eae9e3;
}

.wrapper{
    width: 1045px;
}

.slid{
    padding: 0px 60px;
}

.slid__slider{
    position: absolute;
    top:200px;
    left: 50%;
    margin-left: -115px;
    width: 280px;
    z-index: 1;
    border: 1px dashed #786b5e;
    border-radius: 20px 15px 20px 33px;
    padding: 5px;
}


.text-style{
    color:#ffffff;
    text-shadow: -2px -2px 2px #a37e60,
    2px -2px 2px #a37e60,
    -2px 2px 2px #a37e60,
    2px 2px 2px #a37e60;
    border-bottom: 1px dashed #ffffff;
    border-radius: 0px 0px 3px 5px;
}


.text-style:hover{
    color:#ffffff;
    text-shadow: -2px -2px 2px #a37e60,
    2px -2px 2px #a37e60,
    -2px 2px 2px #a37e60,
    2px 2px 2px #a37e60;
    text-decoration: none;
}


.slid__search {
    background-color: #eae9e3;
    border: 1px dashed #827972;
    width: 425px;
}

.slid__search input{
    background-color: #eae9e3;
    border: none;
    padding-left: 5px;
    width: 325px;
    height: 33px;
}

.slid__search__link{
    height: 35px;
}

.slid__search__link a{
    vertical-align: middle;
    color: #696360;
    border-bottom: 1px dashed #696360;
}

.slid__search__link a:hover{
  text-decoration: none;
}

.slid__slider-button {
    vertical-align: middle;
    width: 78px;
    height: 27px;
    background-color: transparent;
    border: none;
    background-image: url("/var/www/creativer/web/img/to_search.png");
}


.advert_button{
    font-size: 0.88em;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    line-height: 3.5em;
}

.advert_button:hover{
    text-decoration: none;
    color: #ffffff;
}

.slid__pagination a{
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 10px;
    line-height: 1.5em;
    float: left;
    margin-left: 10px;
}

.slid__pagination a:hover{
    border: 1px solid #c8c2bf;

}

.slid__pagination__element_active{
    border: 1px solid #c8c2bf;
    color: #ffffff;
    background-color: #e79a24;
}

.slid__pagination__element_active:hover {
    color: #ffffff;
}

.wrapper__filter__element {
    float: left;
    color: #77a2bf;
}

.baraholka__filter__element{
    cursor: pointer;
}

.baraholka__filter__element{
    float: left;
    margin-left: 5px;
    column-rule: #77a2bf;
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
    color: #77a2bf;
}

input[type=radio]{
    display: none;
}

input[type=radio]:checked ~ .baraholka__filter__element {
    background-position: -73px 0;
    color: #ffffff;
}

.baraholka__filter__element_active{
    background-position: -73px 0;
}

.baraholka__filter__element a{
    color: #77a2bf;
}

.baraholka__filter__element_active a{
    color: #ffffff;
}

.baraholka__table{
    width: 100%;
    border-collapse: collapse;
    border-top: 2px dashed #c3c1bb;
    border-right: 2px dashed #c3c1bb;
    border-bottom: 2px dashed #c3c1bb;
}

.baraholka__table td{
    border-bottom: 2px dashed #c3c1bb;
    border-right: 2px dashed #c3c1bb;
    height: 110px;
}

.baraholka__table__left{
    width: 80%;
}

.baraholka__table__left img{
    max-height: 72px;
    max-width: 84px;
}

.baraholka__table__right{
    width: 20%;
    vertical-align: middle;
    text-align: center;
}

.baraholka__table__right span:after{
    content: " руб.";
}

.baraholka__table__label{
    width: 50px;
    height: 11px;
    background-color: red;
    font-size: 9px;
    text-align: center;
    color: #ffffff;
    display: inline-block;
}


.open:hover{
    text-decoration: none;
}

.open:after{
    font-family: 'Glyphicons Halflings';
    content: " \e259";
    vertical-align: bottom;
    letter-spacing: -10px;
    text-decoration: none;
}


.open:hover{
    text-decoration: none;
}

.open:after{
    font-family: 'Glyphicons Halflings';
    content: " \e259";
    vertical-align: bottom;
    letter-spacing: -10px;
    text-decoration: none;
}

.slid__list a{
    color: #6096b9;
    text-decoration: none;
}

.slid__list a:after {
    content: '\A';
    white-space: pre;
}

.slid__list a:before {
    content: '    ';
    white-space: pre;
}


.city-radio{
    display: none;
}

.slid__menu{
    background-image: url("/var/www/creativer/web/img/footer_menu_background.png");
    height: 57px;
}

.slid__menu label{
    vertical-align: middle;
    cursor: pointer;
}

.baraholka__checkbox + label{
    line-height: 4em;
}

.slid__menu input[type=checkbox]{
    display: none;
}

.baraholka__checkbox:checked + .baraholka__label{
    color: #000000!important;
}

.cities__select{
    line-height: 3.8em;
    width: 85px;
}

.cities-checkbox{
    position: absolute;
    top: -99999px;
    left: -99999px;
}

.cities__background-top{
    background-image: url('/var/www/creativer/web/img/top_background_folders.png');
    width: 137px;
    height: 62px;
}

.cities__background-body{
    width: 137px;
    background-color: #c8c6bd;
    border-left: 1px dashed #a3a3a3;
    border-right: 1px dashed #a3a3a3;
    border-bottom: 1px dashed #a3a3a3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -10px;
    padding-bottom: 10px;
}

.cities__menu{
    list-style: none;
    position: relative;

}

.cities__menu label{
    height: 12px;
}

.cities__menu__main{
    display: none;
}

.cities-checkbox:checked + .cities__menu__main{
    display: block;
    position: absolute;
    z-index: 100;
    top: 37px;
    right: 0%;
}
